<%=render "partials/name-and-cod-of-banks"%>
<h4>Mis metodos para recibir pagos</h4>
<a class="btn btn-info mt-2" href="/set_method" onclick="show_preloader()">Añadir <i class="fas fa-plus"></i></a>
<div class="row mb-5">
    <%if current_user.banks.count <= 0 && current_user.bank_brasils.count <= 0 && current_user.wallets.count <= 0 && current_user.wallet_with_users.count <= 0 && current_user.digital_payments.count <= 0 && current_user.mobile_payments.count <= 0%>
    <div class="container">
        <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
            <strong>Hola!</strong> No tienes ningun metodo de pago registrado.
        </div>
    </div>
    <%else%>

    <!-- Tabla cuentas -->
    <%if current_user.banks.where(view:true).count > 0 || current_user.bank_brasils.where(view:true).count > 0%>
    <div class="col-12">
    <h5 class="mt-5">Cuentas Bancarias</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><small class="font-weight-bold">Pais<small></th>
                        <th scope="col"><small class="font-weight-bold">Titular<small></th>
                        <th scope="col"><small class="font-weight-bold">DNI<small></th>
                        <th scope="col"><small class="font-weight-bold">Banco<small></th>
                        <th scope="col"><small class="font-weight-bold">Cuenta<small></th>
                        <%if current_user.is_admin?%>
                            <th scope="col"><small class="font-weight-bold">Status<small></th>
                        <%end%>
                    </tr>
                </thead>
                <tbody>
                    <% current_user.banks.where(view:true).each do |account_bank| %>
                        <tr class="shadow-sm">
                            <td class="align-middle"><img src="/img/paises/<%=account_bank.country.capitalize%>.svg" class="img-fluid rounded-circle avatar" alt="<%=account_bank.country%>" title="<%=account_bank.country%>"/></td>

                            <td class="align-middle text-capitalize"><span><%=account_bank.name%> <%=account_bank.second_name%> <%=account_bank.last_name%></span></td>
                            
                            <%part2 = account_bank.identidy[0, 2]%>
                            <%part3 = account_bank.identidy[-3,3]%> 
                            
                            <td class="align-middle"><span class=""><%=account_bank.type_document%><%=part2 + "***" + part3%></span>
                            </td>
                    
                            <td class="align-middle"><img src="/img/bancos/<%=account_bank.banco%>.png" class="img-fluid avatar" alt="<%=account_bank.banco%>" title="<%=account_bank.banco%>"/></td>
                            <%part1 = account_bank.number_account[0, 4]%>
                            <%part2 = account_bank.number_account[-4,4]%> 
                            <td class="align-middle"><span class=""><%=part1 + "****" + part2%></span>
                            </td>

                            <%if current_user.is_admin?%>
                                <%if account_bank.status === "activo"%>
                                    <td class="align-middle"><span class="badge badge-primary text-primary ml-2">Activo</span></td>
                                <%else%>
                                    <td class="align-middle"><span class="badge badge-dark">Inactivo</span></td>
                                <%end%>
                                <td class="align-middle">|</td>
                                <td class="align-middle"><a href="/banks/<%=account_bank.id%>/edit" class="badge badge-info" onclick="show_preloader()">Editar <i class="fas fa-cogs ml-2"></i></a></td>
                            <%end%>

                            <!--Boton Modal-->
                            <td class="align-middle"><a href="#" class="badge badge-secondary" data-toggle="modal" data-target="#banksModal<%=account_bank.id%>">Ver <i class="far fa-eye ml-2"></i></a></td>

                            <!-- Modal -->
                            <div class="modal fade" id="banksModal<%=account_bank.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"><%=account_bank.banco%></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card border-success mb-3 m-auto" style="max-width: 36rem;">
                                                <div class="card-header text-success">
                                                    <div class="row">
                                                        <div  class="col-5 text-right">Pais</div>
                                                        <div class="col-7 text-left">
                                                            <%=account_bank.country%>
                                                        </div>
                                                        <div class="col-5 text-right">Titular</div>
                                                        <div class="col-7 text-left text-capitalize">
                                                            <%=account_bank.name%> <%=account_bank.second_name%> <%=account_bank.last_name%>      
                                                        </div>
                                                        <div class="col-5 text-right">Identidad</div>
                                                        <div class="col-7 text-left">
                                                            <%=account_bank.type_document%>-<%=account_bank.identidy%>  
                                                        </div>
                                                        <div class="col-5 text-right">Tipo de Cuenta</div>
                                                        <div class="col-7 text-left">
                                                            <%=account_bank.type_account%>   
                                                        </div>
                                                        <div class="col-5 text-right">Nro Cuenta</div>
                                                        <div class="col-7 text-left">
                                                            <%=account_bank.number_account%>   
                                                        </div>
                                                    </div>                   
                                                </div>
                                            </div>                                 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <%if account_bank.permit_delete != "denied"%>
                                <td class="align-middle"><a rel="nofollow" data-method="delete" href="/banks/<%=account_bank.id%>" data-confirm="Esta segur@ de eliminar esta cuenta?" class="badge badge-danger">Eliminar <i class="fas fa-trash-alt ml-2"></i></a></td>
                            <%else%>
                                <td class="align-middle"><span role="button" class="badge badge-danger" data-toggle="modal" data-target="#infoBank<%=account_bank.id%>">Eliminar <i class="fas fa-trash-alt ml-2"></i></span></td>

                                <!-- Modal -->
                                <div class="modal fade" id="infoBank<%=account_bank.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-danger" role="alert">
                                                    Esta cuenta no puede ser eliminada porque esta siendo utilizada en una transacción. Debe terminarla para poder eliminar este metodo de pago. Si tiene una transacción vencida donde incluyo esta cuenta, por favor eliminela primero.
                                                </div>
                                            </div>        
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </tr>
                    <%end%>

                    <!--Bancos de Brasil-->
                    <% current_user.bank_brasils.where(view:true).each do |account_bank| %>
                        <tr class="shadow-sm">
                            <td class="align-middle"><img src="/img/paises/Brasil.svg" class="img-fluid avatar" alt="Brasil" title="Brasil"/></td>
                            <td class="align-middle text-capitalize"><span><%=account_bank.name%> <%=account_bank.second_name%> <%=account_bank.last_name%></span></td>
                            
                            <%part1 = account_bank.document[0, 3]%>
                            <%part2 = account_bank.document[-3,3]%> 
                            <td class="align-middle"><span class=""><%=part1 + "***" + part2%></span>
                            </td>
                            <td class="align-middle"><img src="/img/bancos/<%=account_bank.bank%>.png" class="img-fluid avatar" alt="<%=account_bank.bank%>" title="<%=account_bank.bank%>"/></td>
                            </td>
                            <%part1 = account_bank.number_agency%>
                            <%part2 = account_bank.number_account[-2,2]%> 
                            <td class="align-middle"><span class=""><%=part1 + "****" + part2%></span>
                            </td>

                            <%if current_user.is_admin?%>
                                <%if account_bank.status === "activo"%>
                                    <td class="align-middle"><span class="badge badge-primary text-primary ml-2">Activo</span></td>
                                <%else%>
                                    <td class="align-middle"><span class="badge badge-dark">Inactivo</span></td>
                                <%end%>
                                    <td class="align-middle">|</td>
                                    <td class="align-middle"><a href="/bank_brasils/<%=account_bank.id%>/edit" class="badge badge-info" onclick="show_preloader()">Editar <i class="fas fa-cogs ml-2"></i></a></td>
                            <%end%>

                            <!--Boton Modal-->
                            <td class="align-middle"><a href="#" class="badge badge-secondary" data-toggle="modal" data-target="#bankBrasilModal<%=account_bank.id%>">Ver <i class="far fa-eye ml-2"></i></a></td>

                            <!-- Modal -->
                            <div class="modal fade" id="bankBrasilModal<%=account_bank.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"><%=account_bank.bank%></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card border-success mb-3 m-auto" style="max-width:36rem;">
                                                <div class="card-header text-success">
                                                    <div class="row">
                                                        <div class="col-5 text-right">Pais</div>
                                                        <div class="col-7 text-left">
                                                            <%=account_bank.country%>    
                                                        </div>
                                                        <div class="col-5 text-right">Titular</div>
                                                        <div class="col-7 text-left text-capitalize">
                                                            <%=account_bank.name%> <%=account_bank.second_name%> <%=account_bank.last_name%>   
                                                        </div>
                                                        <div class="col-5 text-right"><%=account_bank.type_document%></div>
                                                        <div class="col-7 text-left">
                                                            
                                                            <%=account_bank.document%> 
                                                            
                                                        </div>
                                                        <div class="col-5 text-right">Nro Agencia</div>
                                                        <div class="col-7 text-left">
                                                            <%=account_bank.number_agency%>   
                                                        </div>    
                                                        <div class="col-5 text-right">Nro Cuenta</div>
                                                        <div class="col-7 text-left">
                                                            <%=account_bank.number_account%>   
                                                        </div>
                                                    </div>                   
                                                </div>
                                            </div>                                 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <%if account_bank.permit_delete != "denied"%>
                                <%if current_user.is_admin? && account_bank.bank === "Caixa" && account_bank.deposit_for_loterica%>
                                    <td class="align-middle"><span role="button" class="badge badge-danger" data-toggle="modal" data-target="#infoBankBrasil<%=account_bank.id%>">Eliminar <i class="fas fa-trash-alt ml-2"></i></span></td>

                                    <!-- Modal -->
                                    <div class="modal fade" id="infoBankBrasil<%=account_bank.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="alert alert-warning" role="alert">
                                                        Esta cuenta no puede ser eliminada porque esta siendo utilizada en la recepcion de depositos por Loterica. Debe modificar la <a href="/config_loterica_deposits" class="alert-link special-link">configuracion de los depositos por loterica</a> y quitar esta cuenta para poder eliminarla.
                                                    </div>
                                                </div>        
                                            </div>
                                        </div>
                                    </div>
                                <%else%>
                                    <td class="align-middle"><a rel="nofollow" data-method="delete" href="/bank_brasils/<%=account_bank.id%>" data-confirm="Esta segur@ de eliminar esta cuenta?" class="badge badge-danger">Eliminar <i class="fas fa-trash-alt ml-2"></i></a></td>
                                <%end%>
                            <%else%>
                                <td class="align-middle"><span role="button" class="badge badge-danger" data-toggle="modal" data-target="#infoBankBrasil<%=account_bank.id%>">Eliminar <i class="fas fa-trash-alt ml-2"></i></span></td>

                                <!-- Modal -->
                                <div class="modal fade" id="infoBankBrasil<%=account_bank.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-danger" role="alert">
                                                    Esta cuenta no puede ser eliminada porque esta siendo utilizada en una transacción. Debe terminarla para poder eliminar este metodo de pago. Si tiene una transacción vencida donde incluyo esta cuenta, por favor eliminela primero.
                                                </div>
                                            </div>        
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </tr>
                    <%end%>

                </tbody>
            </table>
            <%if current_user.is_admin?%>
                <div class="text-center"><a href="/avalaible_banks" class="btn btn-info">Otros Bancos De Venezuela</a></div>
            <%end%>
        </div>
    </div>
    <%end%>

    <!-- Tabla de Monederos Digitales -->
    <%if current_user.wallets.where(view:true).count > 0%>
    <div class="col-12">
    <h5 class="mt-4">Monederos Digitales</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><small class="font-weight-bold">Pais<small></th>
                        <th scope="col"><small class="font-weight-bold">Nombre<small></th>
                        <th scope="col"><small class="font-weight-bold">Monedero<small></th>
                        <th scope="col"><small class="font-weight-bold">Llave<small></th>
                    </tr>
                </thead>
                <tbody>
                    <% current_user.wallets.where(view:true).each do |wallet| %>
                    <tr class="shadow-sm">
                        
                        <td class="align-middle"><img src="/img/paises/<%=wallet.country.capitalize%>.svg" class="img-fluid rounded-circle avatar" alt="<%=wallet.country%>" title="<%=wallet.country%>"/></td>
                        <td class="align-middle text-capitalize"><span><%=wallet.name%> <%=wallet.second_name%> <%=wallet.last_name%></span></td>
                        <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>                        
                        <%part1 = wallet.identificador[0, 3]%>
                        <%if wallet.type_identificador === "email"%>
                            <%part2 = wallet.identificador[-10,10]%>
                        <%else%>
                            <%part2 = wallet.identificador[-5,5]%>
                        <%end%> 
                        <td class="align-middle"><span class=""><%=part1 + "******" + part2%></span>
                        </td>
                        
                        <%if current_user.is_admin?%>
                            <%if wallet.status === "activo"%>
                                <td class="align-middle"><span class="badge badge-primary text-primary ml-2">Activo</span></td>
                            <%else%>
                                <td class="align-middle"><span class="badge badge-dark">Inactivo</span></td>
                            <%end%>
                            <td class="align-middle">|</td>
                            <td class="align-middle"><a href="/wallets/<%=wallet.id%>/edit" class="badge badge-info" onclick="show_preloader()">Editar <i class="fas fa-cogs ml-2"></i></a></td>
                        <%end%>
                        <!--Boton Modal-->
                        <td class="align-middle"><a href="#" class="badge badge-secondary" data-toggle="modal" data-target="#walletWithEmailModal<%=wallet.id%>">Ver <i class="far fa-eye ml-2"></i></a></td>

                        <!-- Modal -->
                        <div class="modal fade" id="walletWithEmailModal<%=wallet.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><%=wallet.wallet_name%></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card border-success mb-3 m-auto" style="max-width:36rem;">
                                            <div class="card-header text-success">
                                                <div class="row">
                                                    <div class="col-5 text-right">Pais</div>
                                                    <div class="col-7 text-left">
                                                        <%=wallet.country%>    
                                                    </div>
                                                    <%if wallet.country === "Brasil"%>
                                                        <div class="col-5 text-right">Banco</div>
                                                        <div class="col-7 text-left text-capitalize">
                                                            <%=wallet.bank%>    
                                                        </div>
                                                    <%end%>
                                                    <div class="col-5 text-right">Nombres</div>
                                                    <div class="col-7 text-left text-capitalize">
                                                        <%=wallet.name%> <%=wallet.second_name%> <%=wallet.last_name%>   
                                                    </div>
                                                    <div class="col-5 text-right"><%=wallet.type_identificador%></div>
                                                    <div class="col-7 text-left">
                                                        <%=wallet.identificador%> 
                                                    </div>                                  
                                                </div>                   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%if wallet.permit_delete != "denied"%>
                            <td class="align-middle"><a rel="nofollow" data-method="delete" href="/wallets/<%=wallet.id%>" data-confirm="Esta segur@ de eliminar esta cuenta?" class="badge badge-danger">Eliminar <i class="fas fa-trash-alt ml-2"></i></a></td>
                        <%else%>
                            <td class="align-middle"><span role="button" class="badge badge-danger" data-toggle="modal" data-target="#infoWallet<%=wallet.id%>">Eliminar <i class="fas fa-trash-alt ml-2"></i></span></td>

                            <!-- Modal -->
                            <div class="modal fade" id="infoWallet<%=wallet.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">
                                                Esta cuenta no puede ser eliminada porque esta siendo utilizada en una transacción. Debe terminarla para poder eliminar este metodo de pago. Si tiene una transacción vencida donde incluyo esta cuenta, por favor eliminela primero.
                                            </div>
                                        </div>        
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
    <%end%>

    <!-- Tabla de Pagos Digitales -->
    <%if current_user.digital_payments.where(view:true).count > 0 || current_user.wallet_with_users.where(view:true).count > 0%>
    <div class="col-12">
    <h5 class="mt-4">Pagos Digitales</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><small class="font-weight-bold">Pais<small></th>
                        <th scope="col"><small class="font-weight-bold">Nombre<small></th>    
                        <th scope="col"><small class="font-weight-bold">Plataforma<small></th>
                        <th scope="col"><small class="font-weight-bold">Telefono / Usuario<small></th>
                    </tr>
                </thead>
                <tbody>
                    <% current_user.digital_payments.where(view:true).each do |payment| %>
                    <tr class="shadow-sm">
                        <td class="align-middle"><img src="/img/paises/<%=payment.country.capitalize%>.svg" class="img-fluid rounded-circle avatar" alt="<%=payment.country.capitalize%>" title="<%=payment.country.capitalize%>"/></td>
                        <td class="align-middle"><span><%=payment.name.capitalize%> <%=payment.last_name.capitalize%></span></td>
                        
                        <td class="align-middle"><img src="/img/wallets/<%=payment.payment_method%>.png" class="img-fluid avatar" alt="<%=payment.payment_method%>" title="<%=payment.payment_method%>"/></td>
                        
                        <%part1 = payment.number_phone[0, 4]%>
                        <%part2 = payment.number_phone[-3,3]%> 
                        <td class="align-middle"><span class=""><%=part1 + "******" + part2%></span>
                        </td>
                        
                        <%if current_user.is_admin?%>
                            <%if payment.status === "activo"%>
                                <td class="align-middle"><span class="badge badge-primary text-primary ml-2">Activo</span></td>
                            <%else%>
                                <td class="align-middle"><span class="badge badge-dark">Inactivo</span></td>
                            <%end%>
                            <td class="align-middle">|</td>
                            <td class="align-middle"><a href="/digital_payments/<%=payment.id%>/edit" class="badge badge-info" onclick="show_preloader()">Editar <i class="fas fa-cogs ml-2"></i></a></td>
                        <%end%>
                        <!--Boton Modal-->
                        <td class="align-middle"><a href="#" class="badge badge-secondary" data-toggle="modal" data-target="#digitalPaymentModal<%=payment.id%>">Ver <i class="far fa-eye ml-2"></i></a></td>

                        <!-- Modal -->
                        <div class="modal fade" id="digitalPaymentModal<%=payment.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><%=payment.payment_method%></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card border-success mb-3 m-auto" style="max-width:36rem;">
                                            <div class="card-header text-success">
                                                <div class="row">
                                                    <div class="col-5 text-right">Pais</div>
                                                    <div class="col-7 text-left">
                                                        <%=payment.country%>    
                                                    </div>
                                                    <div class="col-5 text-right">Nombres</div>
                                                    <div class="col-7 text-left">
                                                        <%=payment.name%> <%=payment.last_name%>   
                                                    </div>
                                                    <div class="col-5 text-right">Nro Telefono</div>
                                                    <div class="col-7 text-left">
                                                        <%=payment.number_phone%> 
                                                    </div>                                  
                                                </div>                   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%if payment.permit_delete != "denied"%>
                            <td class="align-middle"><a rel="nofollow" data-method="delete" href="/digital_payments/<%=payment.id%>" data-confirm="Esta segur@ de eliminar esta cuenta?" class="badge badge-danger">Eliminar <i class="fas fa-trash-alt ml-2"></i></a></td>
                        <%else%>
                            <td class="align-middle"><span role="button" class="badge badge-danger" data-toggle="modal" data-target="#infoDigitalPayment<%=payment.id%>">Eliminar <i class="fas fa-trash-alt ml-2"></i></span></td>

                            <!-- Modal -->
                            <div class="modal fade" id="infoDigitalPayment<%=payment.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">
                                                Esta cuenta no puede ser eliminada porque esta siendo utilizada en una transacción. Debe terminarla para poder eliminar este metodo de pago. Si tiene una transacción vencida donde incluyo esta cuenta, por favor eliminela primero.
                                            </div>
                                        </div>        
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </tr>
                    <%end%>

                    <% current_user.wallet_with_users.where(view:true).each do |wallet| %>
                    <tr class="shadow-sm">
                        <td class="align-middle"><img src="/img/paises/<%=wallet.country.capitalize%>.svg" class="img-fluid rounded-circle avatar" alt="<%=wallet.country.capitalize%>" title="<%=wallet.country.capitalize%>"/></td>
                        <td class="align-middle text-capitalize"><span><%=wallet.name%> <%=wallet.second_name%> <%=wallet.last_name%></span></td>
                        
                        <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid rounded-circle avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                        
                        <%part1 = wallet.usuario[0, 3]%>
                        <%part2 = wallet.usuario[-2,2]%> 
                        <td class="align-middle"><span class=""><%=part1 + "******" + part2%></span>
                        </td>
                        
                        <%if current_user.is_admin?%>
                            <%if wallet.status === "activo"%>
                                <td class="align-middle"><span class="badge badge-primary text-primary ml-2">Activo</span></td>
                            <%else%>
                                <td class="align-middle"><span class="badge badge-dark">Inactivo</span></td>
                            <%end%>
                            <td class="align-middle">|</td>
                            <td class="align-middle"><a href="/wallet_with_users/<%=wallet.id%>/edit" class="badge badge-info" onclick="show_preloader()">Editar <i class="fas fa-cogs ml-2"></i></a></td>
                        <%end%>
                        <!--Boton Modal-->
                        <td class="align-middle"><a href="#" class="badge badge-secondary" data-toggle="modal" data-target="#walletWithUserModal<%=wallet.id%>">Ver <i class="far fa-eye ml-2"></i></a></td>

                        <!-- Modal -->
                        <div class="modal fade" id="walletWithUserModal<%=wallet.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><%=wallet.wallet_name%></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card border-success mb-3 m-auto" style="max-width:36rem;">
                                            <div class="card-header text-success">
                                                <div class="row">
                                                    <div class="col-5 text-right">Pais</div>
                                                    <div class="col-7 text-left">
                                                        <%=wallet.country%>    
                                                    </div>
                                                    <div class="col-5 text-right">Nombres</div>
                                                    <div class="col-7 text-left text-capitalize">
                                                        <%=wallet.name%> <%=wallet.second_name%> <%=wallet.last_name%>   
                                                    </div>
                                                    <div class="col-5 text-right">Usuario</div>
                                                    <div class="col-7 text-left">
                                                        <%=wallet.usuario%> 
                                                    </div>                                  
                                                </div>                   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%if wallet.permit_delete != "denied"%>
                            <td class="align-middle"><a rel="nofollow" data-method="delete" href="/wallet_with_users/<%=wallet.id%>" data-confirm="Esta segur@ de eliminar esta cuenta?" class="badge badge-danger">Eliminar <i class="fas fa-trash-alt ml-2"></i></a></td>
                        <%else%>
                            <td class="align-middle"><span role="button" class="badge badge-danger" data-toggle="modal" data-target="#infoWalletWithUser<%=wallet.id%>">Eliminar <i class="fas fa-trash-alt ml-2"></i></span></td>

                            <!-- Modal -->
                            <div class="modal fade" id="infoWalletWithUser<%=wallet.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">
                                                Esta cuenta no puede ser eliminada porque esta siendo utilizada en una transacción. Debe terminarla para poder eliminar este metodo de pago. Si tiene una transacción vencida donde incluyo esta cuenta, por favor eliminela primero.
                                            </div>
                                        </div>        
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
    <%end%>

    <!-- Tabla de Pagos Moviles -->
    <%if current_user.mobile_payments.where(view:true).count > 0%>
    <div class="col-12">
    <h5 class="mt-4">Pagos Moviles</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><small class="font-weight-bold">Pais<small></th>
                        <th scope="col"><small class="font-weight-bold">Nombre<small></th>
                        <th scope="col"><small class="font-weight-bold">Banco<small></th>
                        <th scope="col"><small class="font-weight-bold">Telefono<small></th>
                        <th scope="col"><small class="font-weight-bold">Documento<small></th>
                    </tr>
                </thead>
                <tbody>
                    <% current_user.mobile_payments.where(view:true).each do |payment| %>
                    <tr class="shadow-sm">
                        
                        <td class="align-middle"><img src="/img/paises/<%=payment.country.capitalize%>.svg" class="img-fluid avatar" alt="<%=payment.country.capitalize%>" title="<%=payment.country.capitalize%>"/></td>

                        <td class="align-middle text-capitalize"><span><%=payment.name%> <%=payment.second_name%> <%=payment.last_name%></span></td>

                        <td class="align-middle"><img src="/img/bancos/<%=payment.bank%>.png" class="img-fluid avatar" alt="<%=@bancos[payment.bank]%>" title="<%=@bancos[payment.bank]%>"/></td>

                        <%part1 = payment.number_phone[0, 3]%>
                        <%part2 = payment.number_phone[-4,4]%>
                        <td class="align-middle"><span><%=part1 + "****"+ part2%></span></td>
                        
                        <%part1 = payment.document[0, 4]%>
                        <%part2 = payment.document[-3,3]%> 
                        
                        <td class="align-middle"><span><%=part1 + "***" + part2%></span></td>
                        
                        <%if current_user.is_admin?%>
                            <%if payment.status === "activo"%>
                                <td class="align-middle"><span class="badge badge-primary text-primary ml-2">Activo</span></td>
                            <%else%>
                                <td class="align-middle"><span class="badge badge-dark">Inactivo</span></td>
                            <%end%>
                            <td class="align-middle">|</td>
                            <td class="align-middle"><a href="/mobile_payments/<%=payment.id%>/edit" class="badge badge-info" onclick="show_preloader()">Editar <i class="fas fa-cogs ml-2"></i></a></td>
                        <%end%>
                        <!--Boton Modal-->
                        <td class="align-middle"><a href="#" class="badge badge-secondary" data-toggle="modal" data-target="#mobilePaymentModal<%=payment.id%>">Ver <i class="far fa-eye ml-2"></i></a></td>

                        <!-- Modal -->
                        <div class="modal fade" id="mobilePaymentModal<%=payment.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><%=@bancos[payment.bank]%></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card border-success mb-3 m-auto" style="max-width:36rem;">
                                            <div class="card-header text-success">
                                                <div class="row">
                                                    <div class="col-6 text-right">Pais</div>
                                                    <div class="col-6 text-left">
                                                        <%=payment.country%>    
                                                    </div>
                                                    <div class="col-6 text-right">Nombres</div>
                                                    <div class="col-6 text-left text-capitalize">
                                                        <%=payment.name%> <%=payment.second_name%> <%=payment.last_name%>    
                                                    </div>
                                                    <div class="col-6 text-right">Banco</div>
                                                    <div class="col-6 text-left">
                                                        <%=@bancos[payment.bank]%> 
                                                    </div>
                                                    <div class="col-6 text-right">Cod. Banco</div>
                                                    <div class="col-6 text-left">
                                                        <%=payment.bank%>   
                                                    </div>
                                                    <div class="col-6 text-right">Documento</div>
                                                    <div class="col-6 text-left">
                                                        <%=payment.document%>   
                                                    </div>
                                                    <div class="col-6 text-right">Nro Telefono</div>
                                                    <div class="col-6 text-left">
                                                        <%=payment.number_phone%> 
                                                    </div>                                  
                                                </div>                   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%if payment.permit_delete != "denied"%>
                            <td class="align-middle"><a rel="nofollow" data-method="delete" href="/mobile_payments/<%=payment.id%>" data-confirm="Esta segur@ de eliminar esta cuenta?" class="badge badge-danger">Eliminar <i class="fas fa-trash-alt ml-2"></i></a></td>
                        <%else%>
                            <td class="align-middle"><span role="button" class="badge badge-danger" data-toggle="modal" data-target="#infoMobilePayment<%=payment.id%>">Eliminar <i class="fas fa-trash-alt ml-2"></i></span></td>

                            <!-- Modal -->
                            <div class="modal fade" id="infoMobilePayment<%=payment.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">
                                                Esta cuenta no puede ser eliminada porque esta siendo utilizada en una transacción. Debe terminarla para poder eliminar este metodo de pago. Si tiene una transacción vencida donde incluyo esta cuenta, por favor eliminela primero.
                                            </div>
                                        </div>        
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
    <%end%>

    <%end%>
</div>