<%if params[:id].present? && current_user.is_admin?%>
         
    <a href="#" class="a_demo_four" onclick="mostrar_usuarios(),show_preloader()">Volver!</a>
<%else%>
    <%if current_user.is_normal_user?%>
        <%= render "partials/btn-back", link: url_for(user_root_path) %>
    <%end%>
<%end%>


<%if current_user.is_admin?%>
    <%if params[:id].present?%>
        <%usuario = User.find(params[:id])%>
    <%else%>
        <%usuario = current_user%>
    <%end%>
    
<%else%>
    <%usuario = current_user%>
<%end%>

<div class="alert alert-primary mt-4" role="alert">
    <%unless current_user.is_admin?%>
        <%unless current_user.is_normal_user?%>
            <strong>Bienvenid@!</strong> Debes completar el registro de tu perfil para poder disfrutar de las funcionalidades de esta pagina.
        <%else%>
            <strong class="text-capitalize">Hola <%=current_user.name%>!</strong> Solo puedes editar tu telefono, dirección y contraseña. Si deseas editar otro dato debes enviar un correo a otacarcambios@gmail.com y tu requerimiento sera atendido por esa via.
        <%end%>
    <%else%>
        <strong>Hola Sr(a) Administrador(a)!</strong> Aqui podras editar todos los datos que desees de este perfil asi como ver toda la informacion registrada del mismo.
    <%end%>
</div>
<h2 class="text-primary font-weight-bold">Editar Perfil 
<%if current_user.is_admin? && !usuario.is_admin?%><%= button_to "Eliminar usuario", registration_path(resource_name), data: { confirm: "Esta seguro de eliminar este usuario, esta opción es irreversible?" }, method: :delete, class:"btn btn-danger float-right" %><%end%></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :id => "form", name: "formulario" }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <h6>* : Campos Obligatorios</h6>
</div>

<!--Valor id del usuario-->
<%if current_user.is_admin?%>
    <input type="hidden" value="<%=usuario.id%>" name="user[id]">
<%end%>

<!--Nro usuario-->
<%if current_user.is_normal_user? || current_user.is_admin?%>
    <div class="field">
        <label for="validationDefault16">N° Usuario</label>
        <input type="text" class="form-control mb-3" id="validationDefault16" value="<%=(usuario.id*4).to_s.rjust(9,"0")%>" readonly>
    </div>
<%end%>


<!--Nombres y Apellidos-->
<div class="form-row field mb-3">
    <div class="col-6 col-md-3 mb-2">
        <label for="validationFirstName">Primer Nombre*</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
        <input type="text" class="form-control text-capitalize <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationFirstName" name="user[name]" value="<%=usuario.name%>" oninput="soloLetras(this),habilitarSave()" maxlength="15" autofocus="autofocus" required>
        <div class="invalid-feedback">
            Ingrese solo letras
        </div>
        <%else%>
            <input class="form-control text-capitalize" value="<%=usuario.name%>" name="user[name]" readonly>
        
        <%end%>
    </div>

    <div class="col-6 col-md-3 mb-2">
        <label for="validationSecondName">Segundo Nombre</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
        <input type="text" class="form-control text-capitalize <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationSecondName" name="user[second_name]" value="<%=usuario.second_name%>"maxlength="15" oninput="return soloLetras(this)">
        <div class="invalid-feedback">
            Ingrese solo letras
        </div>
        <%else%>
        <input class="form-control text-capitalize" value="<%=usuario.second_name%>" readonly>
        <%end%>
    </div>

    <div class="col-6 col-md-3 mb-2">
        <label for="validationLastName">Primer Apellido *</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
        <input type="text" class="form-control text-capitalize <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationLastName" name="user[last_name]" value="<%=usuario.last_name%>" maxlength="15" oninput="soloLetras(this),habilitarSave()" required>
        <div class="invalid-feedback">
            Ingrese solo letras
        </div>
        <%else%>
            <input class="form-control text-capitalize" value="<%=usuario.last_name%>" readonly>
        <%end%>
    </div>

    <div class="col-6 col-md-3 mb-2">
        <label for="validationSecondSurname">Segundo Apellido</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
        <input type="text" class="form-control text-capitalize <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationSecondSurname" name="user[second_surname]" value="<%=usuario.second_surname%>" maxlength="15" oninput="return soloLetras(this)">
        <div class="invalid-feedback">
            Ingrese solo letras
        </div>
        <%else%>
        <input class="form-control text-capitalize" value="<%=usuario.second_surname%>" readonly>
        <%end%>
    </div>
</div>

<!-- Ubicacion -->
<div class="form-row field mb-3">

    <div class="col-sm-4 mb-3">
        <label for="validationCountry">Pais *</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
            <select class="custom-select <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationCountry" name="user[country]" value="<%=usuario.country%>" onChange="validarSelect(this),habilitarSave(),change_campo_dni(this)" required><option selected disabled value="">Elegir...</option><option value="Argentina">Argentina</option><option value="Brasil">Brasil</option><option value="Chile">Chile</option><option value="Chile">Colombia</option><option value="Ecuador">Ecuador</option><option value="España">España</option><option value="Panama">Panama</option><option value="Peru">Peru</option><option value="Usa">USA</option><option value="Venezuela">Venezuela</option></select>
            <div class="invalid-feedback">Seleccione una opcion</div>
        <%else%>
            <input class="form-control text-capitalize" value="<%=usuario.country%>" readonly>
        <%end%>
    </div>
    <div class="col-sm-4 mb-3">
        <label for="validationState">Estado *</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
        <input type="text" class="form-control <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%> text-capitalize" id="validationState" name="user[state]" value="<%=usuario.state%>" maxlength="20" oninput="address(this),habilitarSave()" required>
        <div class="invalid-feedback">
            Ingrese solo letras
        </div>
        <%else%>
        <input class="form-control text-capitalize" value="<%=usuario.state%>" readonly>
        <%end%>
    </div>

    <div class="col-sm-4 mb-3">
        <label for="validationCity">Ciudad *</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
        <input type="text" class="form-control <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%> text-capitalize" id="validationCity" name="user[city]" value="<%=usuario.city%>" maxlength="20" oninput="address(this),habilitarSave()" required>
        <div class="invalid-feedback">
            Ingrese solo letras
        </div>
        <%else%>
        <input class="form-control text-capitalize" value="<%=usuario.city%>" readonly>
        <%end%>
    </div>
</div>

<!--DNI, Sexo y Phone-->
<div class="form-row field mb-3">
    <div class="col-7 col-sm-4 mb-3">
        <%if usuario.country === "Brasil"%>
            <%type_dni = "CPF"%>
        <%else%>
            <%type_dni = "DNI"%>
        <%end%>
        
        <label for="validationDNI" id="label_dni"><%=type_dni%> *</label>

        <%if !current_user.is_normal_user? || current_user.is_admin?%>
            <input type="text" class="form-control <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationDNI" name="user[document]" value="<%=usuario.document%>" oninput="soloNumeros(this,5,14),habilitarSave()" maxlength="14" required>
        <div class="invalid-feedback">
            Ingrese solo numeros
        </div>
        <%else%>
            <input class="form-control text-capitalize" value="<%=usuario.document%>" name="user[document]" readonly>
        <%end%>
    </div>

    <div class="col-5 col-sm-3 mb-2">
        <label>Sexo *</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
            <select class="custom-select <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" name="user[gender]" value="<%=usuario.gender%>" onchange="validarSelect(this),habilitarSave()" required><option selected disabled value="">Elegir...</option><option value="Femenino">Femenino</option><option value="Masculino">Masculino</option></select>
            
            <div class="invalid-feedback">Seleccione una opcion</div>
        <%else%>
            <input class="form-control text-capitalize" value="<%=usuario.gender%>" readonly>
        <%end%>
    </div>

    <div class="col-12 col-sm-5 mb-2">
        <label for="validationPhone">Telefono *</label>
        <input class="form-control <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationPhone" type="text" maxlength="12" oninput="soloNumeros(this,10,12),habilitarSave()" name="user[phone]" value="<%=usuario.phone%>" required>
        <div class="invalid-feedback">
            Ingrese solo numeros
        </div>
    </div>
</div>

<!--Fecha de Nacimiento-->
<div class="form-row field mb-3">
    <div class="col-12">
        <label>Fecha de Nacimiento *</label>
    </div>
    <div class="col-4 mb-3">
        <label for="validationDefaultDia">Dia *</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
        <select class="custom-select <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationDefaultDia" onChange="validarSelect(this),habilitarSave()" name="user[day]" value="<%=usuario.day%>"  required>
            <option selected disabled value="">Elegir...</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
        <div class="invalid-feedback">Seleccione una opcion</div>
        <%else%>
            <input class="form-control text-capitalize" value="<%=usuario.day%>" readonly>
        <%end%>
    </div>

    <div class="col-5 mb-3">
        <label for="validationDefaultMes">Mes *</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
            <select class="custom-select <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationDefaultMes" onChange="validarSelect(this),habilitarSave()" name="user[month]" value="<%=usuario.month%>" required>
                <option selected disabled value="">Elegir...</option><option value="Enero">Enero</option><option value="Febrero">Febrero</option><option value="Marzo">Marzo</option><option value="Abril">Abril</option><option value="Mayo">Mayo</option><option value="Junio">Junio</option><option value="Julio">Julio</option><option value="Agosto">Agosto</option><option value="Septiembre">Septiembre</option><option value="Octubre">Octubre</option><option value="Noviembre">Noviembre</option><option value="Diciembre">Diciembre</option></select>
            <div class="invalid-feedback">Seleccione una opcion</div>
        <%else%>
            <input class="form-control text-capitalize" value="<%=usuario.month%>" readonly>
        <%end%>
    </div>

    <div class="col-3 mb-3">
        <label for="validationDefaultAño">Año *</label>
        <%if !current_user.is_normal_user? || current_user.is_admin?%>
        <input type="text" class="form-control <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationDefaultAño" name="user[year]" value="<%=usuario.year%>" oninput="soloNumeros(this,4,4),habilitarSave()"  maxlength="4" required>
        <div class="invalid-feedback">
            Ingrese solo numeros
        </div>
        <%else%>
        <input class="form-control text-capitalize" value="<%=usuario.year%>" readonly>
        <%end%>
    </div>
</div>

<!--Direccion-->
<div class="field mb-3">
    <label for="validationAddress">Dirección *</label>
    <input type="text" class="form-control text-capitalize <%unless usuario.is_normal_user?%>is-invalid<%else%>is-valid<%end%>" id="validationAddress" name="user[address]" maxlength="100" oninput="address(this),habilitarSave()" value="<%=usuario.address%>" required>

    <div class="invalid-feedback">
        El campo no puede estar vacio
    </div>
</div>

<!--Correo Electronico-->
<div class="field mb-3">
    <label>Correo Electronico *</label>
    <%if current_user.is_admin?%>
        <input type="text" class="form-control is-valid text-lowercase" name="user[email]" value="<%=usuario.email%>" oninput="validarEmail(this),habilitarSave()" required>
        <div class="invalid-feedback">
            Ingrese solo letras
        </div>
    <%else%>
        <input class="form-control text-lowercase" value="<%=usuario.email%>" readonly>
    <%end%>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Actualmente esperando la confirmación del correo: <%= resource.unconfirmed_email %></div>
    <% end %>
</div>

<!--Contraseña-->
<%unless current_user.is_admin? && !usuario.is_admin?%>
    
    <div class="form-row field mb-1">
        <div class="col-12 col-sm-6 mb-2">
            <%= f.label :password, "Contraseña **" %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control is-invalid", id:"contraseña",  oninput:"validarPassword()" %>
        </div>

        <div class="col-12 col-sm-6">
            <%= f.label :password_confirmation, "Confirmar Contraseña **" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control is-invalid", id:"confirmacion-contraseña", oninput:"validarPassword()" %>
        </div>
        <div class="validar-feedback ml-1">
            <article id="art-1" class="art-invalid"><i class="fas fa-times-circle" id="icon-1"></i> La contraseña debe tener minimo <%= @minimum_password_length %> caracteres</article>
            <article id="art-2" class="art-invalid"><i class="fas fa-times-circle" id="icon-2"></i> Las contraseñas deben coincidir</article>
        </div>
    </div>
    <i class="text-primary">** Nota: Deja los campos en blanco si no deseas cambiar tu contraseña</i>
<%end%>

<!--Referencia-->
<%unless current_user.is_normal_user?%>
    <div class="form-row field mt-3">
        <div class="col-12">
            <label for="validationReferencia">Referencia</label>
            <input class="form-control <%if current_user.num_referidor.nil? || current_user.num_referidor === ""%>is-invalid<%else%>is-valid<%end%>" id="validationReferencia" type="text" maxlength="9" oninput="return soloNumeros(this,9,9),habilitarSave()" name="user[num_referidor]" <%unless current_user.num_referidor.nil? || current_user.num_referidor === ""%>value="<%=usuario.num_referidor.to_s.rjust(9, '0')%>"<%end%> required>
            <div class="invalid-feedback">
                Ingrese el número del usuario que le recomendo esta página. El campo debe contener 9 caracteres numericos
            </div>
        </div>
    </div>
<%else%>  
    <div class="field mt-3">
        <label for="validationReferencia">Referido por</label>
        <%if usuario.status_referencia === "confirmada"%> 
            <span class="float-right badge badge-pill" style="background-color: #007bff;color:#fff;">Referencia <%=usuario.status_referencia.capitalize%></span>
        <%elsif usuario.status_referencia === "rechazada"%>
            <span class="float-right badge badge-pill badge-danger">Referencia <%=usuario.status_referencia.capitalize%></span>
        <%elsif usuario.status_referencia === "sin confirmar"%>
            <span class="float-right badge badge-pill badge-secondary">Referencia <%=usuario.status_referencia.capitalize%></span>
        <%elsif usuario.status_referencia === "indefinido"%>
            <span class="float-right badge badge-pill badge-dark">Referencia <%=usuario.status_referencia.capitalize%></span>
        <%end%>
        <%
        unless usuario.num_referidor.nil?
            num_referidor = usuario.num_referidor.to_i / 4
            referidor = User.where(id: num_referidor)
        end
            
        unless referidor.nil? || !referidor.present?
            referidor = User.find(num_referidor)

            if referidor.is_normal_user? 
                @referidor = referidor
            end
        end
        %>
        <input type="text" class="form-control" id="validationReferencia" value="<%if @referidor.present?%><%=@referidor.name.capitalize%> <%=@referidor.last_name.capitalize%><%else%>Ningun Usuario<%end%>" readonly>
    </div>
<%end%>

<!--Current Password-->
<%unless current_user.is_admin? && !usuario.is_admin?%>
<div class="field my-3">
    <%= f.label :current_password, "Contraseña Actual" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class:"is-invalid", oninput:"validarCurrentPassword(this),habilitarSave()", required:"required" %>
    <div class="invalid-feedback">
        Debes ingresar tu contraseña actual para confirmar los cambios
    </div>
</div>
<%end%>

<div class="actions">
    <%= f.submit "Guardar", class:"btn btn-success mt-2 mb-5", id:"btn"%>
    
</div>
<% end %>

<script src="/js/vistas/script-form-for-campos.js"></script>

<%if current_user.is_admin?%>
    <script>
        selects = document.getElementsByTagName("select");
        array_options = ["<%=usuario.gender%>", "<%=usuario.day%>", "<%=usuario.month%>", "<%=usuario.country%>"]

        for (i=0; i<selects.length; i++){
            options = selects[i].childNodes
            
            for(j=1; j<options.length; j++){
                if (array_options[i] === options[j].value){
                    //options[0].removeAttribute("selected")
                    options[j].setAttribute("selected","selected")
                    break;
                }
            }
        }
    </script>

    
<%end%>

<%= form_tag( '/search_users', options = {name: "formulario1"}) do %>

<%end%>

<script>
    function mostrar_usuarios(){
        document.formulario1.submit()
    }

    inputHidden = document.createElement("input")
    inputHidden.setAttribute("type","hidden")
    inputHidden.setAttribute("name","usuario[id]")
    inputHidden.setAttribute("value","<%=usuario.id%>")
    formulario = document.getElementsByTagName("form")[0]
    formulario.appendChild(inputHidden)

    <%= render 'partials/script-preloader'%>

    function change_campo_dni(select){
        $("#validationDNI").val("")
        $("#validationDNI").removeAttr("oninput")
        $("#validationDNI").removeClass("is-valid")
        $("#validationDNI").addClass("is-invalid")

        if (select.value === "Brasil"){
            $("#label_dni").text("CPF *")
            $("#validationDNI").attr("oninput","inputCPF(this)")
        }else{
            $("#label_dni").text("DNI *")
            $("#validationDNI").attr("oninput","soloNumeros(this,5,14)")
        }

    }
    
</script>  