<%=render "partials/btn-back", link: url_for(user_root_path)%>
<div class="row justify-content-center mt-3 mb-5">
    <div class="col-lg-10 col-xl-7">

        <h5 class="text-center">Usuarios</h5>
        <div class="table-responsive">
            <button type="button" class="btn btn-outline-warning mt-md-3 mt-4" onclick="mostrar_usuarios(),show_preloader()">Mostrar Todos</button>
              
            <div class="float-right">
                <%= form_tag( '/search_users', options = { class: "d-none d-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search", name: "formulario1", id: "form"}) do %>
                    <div class="mt-3 input-group">
                    <%= text_field_tag("termino", value = nil, options = { class: "form-control bg-light border-0 small", placeholder: "Nro Usuario, Nombres...", id: "text_field"}) %>
                        <div class="input-group-append">
                            <%= submit_tag(value = "Buscar", options = { class: "btn btn-info" }) do %>
                                <i class="fas fa-search fa-sm"></i>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
            <script>
                function mostrar_usuarios(){
                    document.getElementById("text_field").value = ""
                    document.formulario1.submit()
                }
            </script>  
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><small class="font-weight-bold">Usuario<small></th>
                        <th scope="col"><small class="font-weight-bold">Numero<small></th> 
                        <th scope="col"><small class="font-weight-bold">Registro<small></th> 
                    </tr>
                </thead>
                <tbody>
                    <%usuario_exist = false%>
                    <%@users.where.not(id:1).order(name: :asc, email: :asc).each do |usuario|%>
                    <tr class="shadow-sm">
                        <%if usuario.is_normal_user?%>
                            <td class="align-middle text-capitalize"><%=usuario.name%> <%=usuario.second_name%> <%=usuario.last_name%> <%=usuario.second_surname%></td>
                        <%else%>
                            <td class="align-middle"><%=usuario.email%></td>
                        <%end%>
                        <td class="align-middle"><%=(usuario.id * 4).to_s.rjust(9, '0')%></td>
                        
                        <%if usuario.is_normal_user?%>
                            <td class="align-middle"><span class="badge badge-pill badge-info">Completo</span></td>
                        <%else%>
                            <td class="align-middle"><span class="badge badge-pill badge-warning text-white">Incompleto</span></td>
                        <%end%>
                        
                        <td class="align-middle"><a href="/users/edit?id=<%=usuario.id%>" class="badge badge-secondary" id="td-ver"><i class="far fa-eye"></i></a></td>
                        <%usuario_exist = true%>
                    </tr>
                    <%end%>
                </tbody>
                
            </table>
            <%unless usuario_exist%>
                <div class="alert alert-warning text-center" role="alert">
                    No se encontro una coincidencia...
                </div>
            <%end%>
        
        </div>
    </div>
</div>