<%if vista === "edit" && current_user.is_admin?%>
    <div class="form-row justify-content-center">
    <%= form_with(model: bank, local: true, :html => {:class => "was-validated"}) do |form| %>
    <% if bank.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5 class="text-danger"><%if bank.errors.count > 1%><%=bank.errors.count%> errores han sido detectados en los siguientes campos:<%else%><%=bank.errors.count%> error ha sido detectado en el siguiente campo:<%end%></h5>
      <ul class="list-style-square">
        <% bank.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
        <div class="text-center">
            <div class="card bg-light my-3" style="max-width: 18rem;">
                <div class="card-header text-capitalize"><%=bank.name%> <%=bank.last_name%></div>
                <div class="card-body">
                    <%
                        bancos = {
                            "Banco De Venezuela" => "0102",
                            "Banco Mercantil" => "0105",
                            "Banco Banesco" => "0134",
                            "B.O.D" => "0116"
                        }
                    %>
                    <%part1 = bank.number_account[0, 4]%>
                    <%part2 = bank.number_account[-4,4]%> 
                    <p class="card-text"><img src="/img/bancos/<%=bancos[bank.banco]%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/><span class="ml-2"><%=part1 + "****" + part2%></span></p>

                </div>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customControlValidation2" name="bank[status]" value="activo" <%if bank.status === "activo"%>checked="checked"<%end%> required>
                <label class="custom-control-label" for="customControlValidation2">Activo</label>
            </div>
        
            <div class="custom-control custom-radio mb-3">
                <input type="radio" class="custom-control-input" id="customControlValidation3" name="bank[status]" value="inactivo" <%if bank.status === "inactivo"%>checked="checked"<%end%> required>
                <label class="custom-control-label" for="customControlValidation3">Inactivo</label>
                <div class="invalid-feedback">Elige una opcion</div>
            </div>
        </div>

        <div class="actions">
            <%= form.submit "Guardar", class:"btn btn-success mt-3 mb-5 mr-1", id:"btn" %>
            <%= link_to 'Volver', payment_methods_path, class:"btn btn-success mt-3 mb-5 ml-1 float-right" %>
        </div>
    <%end%>
     </div>
<%else%>
<div class="mt-3">
    <%= form_with(model: bank, local: true) do |form| %>
    <% if bank.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5 class="text-danger"><%if bank.errors.count > 1%><%=bank.errors.count%> errores han sido detectados en los siguientes campos:<%else%><%=bank.errors.count%> error ha sido detectado en el siguiente campo:<%end%></h5>
      <ul class="list-style-square">
        <% bank.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
        <h6>* : Campos Obligatorios</h6>
    </div>

    <!--Nombre y Apellido-->
    <div class="form-row field my-3">
        <div class="col-12 col-sm-4 mb-2">
            <label>Pais *</label>
            <input class="form-control text-capitalize" value="<%=params[:country] || bank.country%>" name="bank[country]" readonly>
        </div>

        <div class="col-12 col-sm-4 mb-2">
            <label for="validationName">Primer Nombre *</label>

            <input type="text" class="form-control text-capitalize is-invalid" id="validationName" name="bank[name]" oninput="soloLetras(this)" onkeyup="habilitarSave()" autofocus="autofocus" maxlength="12" value="<%=bank.name%>" required>
            <div class="invalid-feedback">
                Ingrese solo letras
            </div>
        </div>

        <div class="col-12 col-sm-4 mb-2">
            <label for="validationLastName">Primer Apellido *</label>

            <input type="text" class="form-control text-capitalize is-invalid" id="validationLastName" name="bank[last_name]" value="<%=bank.last_name%>" maxlength="12" oninput="soloLetras(this)" onkeyup="habilitarSave()" required>
            <div class="invalid-feedback">
                Ingrese solo letras
            </div>
        </div>
    </div>

    <!--DNI y Banco-->
    <div class="form-row field mb-3">
        <%if params[:country] === "Venezuela"%>
            <div class="col-3 col-md-3 col-lg-2 mb-2">
                <label>Tipo *</label>
                <select class="custom-select is-invalid" name="bank[type_document]" onchange="validarSelectDNI(this)" onkeyup="habilitarSave()" required>
                    <option selected disabled value="">...</option>
                    <option value="V">V</option>
                    <option value="E">E</option>
                    <option value="P">P</option>
                    <option value="J">J</option>
                </select>
            </div>
            <div class="col-9 col-md-4 col-lg-4 mb-2">
                <label for="validationDNI">Nro Documento *</label>
                <input class="form-control is-invalid" id="validationDNI" type="text" name="bank[identidy]" value="<%=bank.identidy%>" disabled="disabled">
                <div class="invalid-feedback">
                    Ingrese un DNI valido
                </div>
            </div>
        <%else%>
            <div class="col-12 col-md-7 col-lg-6 mb-2">
                <label for="validationDNI">Nro Documento *</label>
                <input class="form-control is-invalid" id="validationDNI" maxlength="15" type="text" name="bank[identidy]" value="<%=bank.identidy%>" oninput="soloNumeros(this,6,15),habilitarSave()">
                <div class="invalid-feedback">
                    Ingrese un DNI valido
                </div>
            </div>
        <%end%>
        <div class="col-12 col-md-5 col-lg-6 mb-2">
            <label>Banco *</label>

            <select class="custom-select is-invalid" name="bank[banco]" value="<%=bank.banco%>" onchange="validarSelect(this)" onkeyup="habilitarSave()" required>
                <option selected disabled value="">Elegir...</option>
                <%country= params[:country] || bank.country%>
                <%case country.capitalize%>
                <%when "Argentina"%>
                <option value="Brubank" <%if bank.banco === "Brubank"%>selected<%end%>>Brubank</option>
                <option value="Galicia" <%if bank.banco === "Galicia"%>selected<%end%>>Galicia</option>
                <%when "Chile"%>
                <option value="Banco Estado" <%if bank.banco === "Banco Estado"%>selected<%end%>>Banco Estado</option>
                <%when "Colombia"%>
                <option value="Bancolombia" <%if bank.banco === "Bancolombia"%>selected<%end%>>Bancolombia</option>
                <%when "Ecuador"%>
                <option value="Banco Pichincha" <%if bank.banco === "Banco Pichincha"%>selected<%end%>>Banco Pichincha</option>
                <%when "España"%>
                <option value="Bankia" <%if bank.banco === "Bankia"%>selected<%end%>>Bankia</option>
                <option value="Santander" <%if bank.banco === "Santander"%>selected<%end%>>Santander</option>
                <%when "Panama"%>
                <option value="Banco Mercantil Panama" <%if bank.banco === "Banco Mercantil Panama"%>selected<%end%>>Banco Mercantil Panama</option>
                <%when "Peru"%>
                <option value="Banco BCP" <%if bank.banco === "Banco BCP"%>selected<%end%>>Banco BCP</option>
                <option value="Scotiabank" <%if bank.banco === "Scotiabank"%>selected<%end%>>Scotiabank</option>
                <%when "Venezuela"%>
                    <%unless current_user.is_admin?%>
                        <option disabled class="font-italic" value="">******* Para transferencias del mismo banco *******</option>
                    <%end%>
                    <option value="Banco Banesco" <%if bank.banco === "Banco Banesco"%>selected<%end%>>BANCO BANESCO</option>
                    <option value="B.O.D" <%if bank.banco === "B.O.D"%>selected<%end%>>B.O.D</option>
                    <option value="Banco Mercantil" <%if bank.banco === "Banco Mercantil"%>selected<%end%>>BANCO MERCANTIL</option>
                    <option value="Banco De Venezuela" <%if bank.banco === "Banco De Venezuela"%>selected<%end%>>BANCO DE VENEZUELA</option>
                    <%unless current_user.is_admin?%>
                        <option disabled class="font-italic" value="">******* Para transferencias de otro banco *******</option>
                        <option value="0156">100% BANCO</option>
                        <option value="0172">BANCAMIGA BANCO MICROFINANCIERO, C.A.</option>
                        <option value="0171">BANCO ACTIVO BANCO COMERCIAL, C.A.</option>
                        <option value="0175">BANCO BICENTENARIO</option>
                        <option value="0128">BANCO CARONI, C.A. BANCO UNIVERSAL</option>
                        <!--<option value="0164">BANCO DE DESARROLLO DEL MICROEMPRESARIO</option>-->
                        <option value="0114">BANCO DEL CARIBE C.A.</option>
                        <!--<option value="0149">BANCO DEL PUEBLO SOBERANO C.A.</option>-->
                        <option value="0163">BANCO DEL TESORO</option>
                        <!--<option value="0176">BANCO ESPIRITO SANTO, S.A.</option>-->
                        <option value="0115">BANCO EXTERIOR C.A.</option>
                        <!--<option value="0003">BANCO INDUSTRIAL DE VENEZUELA.</option>-->
                        <!--<option value="0173">BANCO INTERNACIONAL DE DESARROLLO, C.A.</option>-->
                        <option value="0191">BANCO NACIONAL DE CREDITO</option>
                        <option value="0138">BANCO PLAZA</option>
                        <option value="0108">BANCO PROVINCIAL BBVA</option>
                        <option value="0104">BANCO VENEZOLANO DE CREDITO S.A.</option>
                        <option value="0168">BANCRECER S.A. BANCO DE DESARROLLO</option>
                        <option value="0177">BANFANB</option>
                        <!--<option value="0146">BANGENTE</option>-->
                        <option value="0174">BANPLUS BANCO COMERCIAL C.A</option>
                        <!--<option value="0190">CITIBANK.</option>-->
                        <option value="0157">DELSUR BANCO UNIVERSAL</option>
                        <option value="0151">FONDO COMUN</option>
                        <!--<option value="0601">INSTITUTO MUNICIPAL DE CR&#201;DITO POPULAR</option>-->
                        <option value="0169">MIBANCO BANCO DE DESARROLLO, C.A.</option>
                        <option value="0137">SOFITASA</option>
                    <%end%>
                <%end%>
            </select>
            <div class="invalid-feedback">Elige una opcion</div>
        </div>
    </div>

    <!--Banco-->
    <div class="form-row field mb-3">        

        <div class="col-12 col-sm-4 mb-2">
            <label>Tipo de cuenta *</label>

            <select class="custom-select is-invalid" name="bank[type_account]" onchange="validarSelect(this)" onkeyup="habilitarSave()" required>
                <option selected disabled value="">Elegir...</option>
                <option value="Ahorro" <%if bank.type_account === "Ahorro"%>selected<%end%>>Ahorro</option>
                <option value="Corriente" <%if bank.type_account === "Corriente"%>selected<%end%>>Corriente</option>
            </select>
            <div class="invalid-feedback">Elige una opcion</div>
        </div>

        <div class="col-12 col-sm-8 mb-2">
            <label for="validationNumberAccount">Nro de Cuenta *</label>
            <input class="form-control is-invalid" id="validationNumberAccount" type="text" maxlength="20" oninput="soloNumeros(this,20,20)" onkeyup="habilitarSave()" name="bank[number_account]" value="<%=bank.number_account%>" required></input>
            <div class="invalid-feedback">
                Ingrese un número de cuenta válido
            </div>
        </div>
    </div>

    <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-success mt-3 mb-5", id:"btn", disabled:"disabled" %>
        <%= link_to 'Volver', set_method_path, class:"btn btn-success mt-3 mb-5 float-right" %>
    </div>
    <% end %>
</div>

<script src="/js/vistas/script-form-for-campos.js"></script>

<script>
  
    div = document.getElementsByTagName("div")[12];

    var inputs = document.getElementsByTagName("input");
    var select0 = document.getElementsByTagName("select")[0];
    var select1 = document.getElementsByTagName("select")[1];
    <%if params[:country] === "Venezuela"%>var select2 = document.getElementsByTagName("select")[2];<%end%>
    if (div.id === "error_explanation"){
        
        soloLetras(input[2]);
        soloLetras(input[3]);
        soloNumeros(input[4],12);
        validarSelect(select1);
        <%if params[:country] === "Venezuela"%>validarSelect(select2);<%end%>
        soloNumeros(input[5],20);
    }

    function habilitarSave() {
        botonSave = document.getElementById("btn");
        formulario = false
        if (inputs[2].className.indexOf("is-valid") != -1 && inputs[3].className.indexOf("is-valid") != -1 && inputs[4].className.indexOf("is-valid") != -1 && inputs[5].className.indexOf("is-valid") != -1 && select0.className.indexOf("is-valid") != -1 && select1.className.indexOf("is-valid") != -1 <%if params[:country] === "Venezuela"%>&& select2.className.indexOf("is-valid") != -1<%end%>){
            formulario = true;
        }
        if (formulario == true){
            botonSave.removeAttribute("disabled");
        }else{
            botonSave.setAttribute("disabled","disabled");
        }
    }

    function validarSelectDNI(x) {
        select = x;

        if (select.value != "" && select.value != undefined) {
            select.classList.remove("is-invalid");
            select.classList.add("is-valid");
        }else {
            select.classList.remove("is-valid");
            select.classList.add("is-invalid");
        }

        input = document.getElementById("validationDNI");
        if (select.value === "V"){
            input.removeAttribute("disabled");
            input.setAttribute("minlength","6");
            input.setAttribute("maxlength","8");
            input.setAttribute("oninput","soloNumeros(this,6,8)");
            input.setAttribute("onkeyup","habilitarSave()");
            soloNumeros(input,6,8);
        }else if(select.value === "E"){
            input.removeAttribute("disabled");
            input.setAttribute("minlength","8");
            input.setAttribute("maxlength","8");
            input.setAttribute("oninput","soloNumeros(this,8,8)");
            input.setAttribute("onkeyup","habilitarSave()");
            soloNumeros(input,8,8);
        }else if(select.value === "P" || select.value === "J"){
            input.removeAttribute("disabled");
            input.setAttribute("minlength","9");
            input.setAttribute("maxlength","9");
            input.setAttribute("oninput","soloNumeros(this,9,9)");
            input.setAttribute("onkeyup","habilitarSave()");

            soloNumeros(input,9,9);
        }
    }

</script>
<%end%>