<div class="py-3 caja-notf">     
    <div class="mb-2">
        <span class="mb-0"><%=notification.emisor%></span>
        <%segundos = (Time.now.utc - notification.updated_at).to_i
        if segundos < 120
            nueva = true
        else
            nueva = false 
        end%>

        <%if nueva%>
            <span class="text-white small badge border rounded-pill d-inline-block float-right">Nueva</span>
        <%end%>
    </div>
    <small class="text-muted font-weight-bold">Asunto: <%=notification.asunto%>.</small><br>
    <small class="text-muted"><%=notification.content%></small>
    <%if notification.asunto === "Referencia de usuario"%>
        <%if User.find(notification.dato_clave.to_i/4).status_referencia === "sin confirmar"%>
            <br><small class="text-muted"><a href="/mostrar_referido?notify=<%=notification.id%>" class="alert-link text-white special-link" onclick="show_preloader()">haz click aqui</a></small>
        <%else%>
            <br><small class="">Referencia <%=User.find(notification.dato_clave.to_i/4).status_referencia%></small>
        <%end%>  
    <%end%>
    <small class="d-block text-right font-italic text-white"><%=notification.created_at.in_time_zone(@zona_horaria).to_formatted_s(:short)%></small>
</div>