<div class="contenedor2">
    <div class="contenedor">
        <h2>Cambiar Contrase単a</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, :id => "form" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.hidden_field :reset_password_token %>

        <div class="input-field">
            <i class="fas fa-lock"></i>
            <%= f.password_field :password, autofocus:"autofocus", autocomplete: "new-password", required: :required, id:"contrase単a", placeholder:" Contrase単a", minlength: "8"%>
        </div>

        <div class="input-field">
            <i class="fas fa-lock"></i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " Confirmar Contrase単a", minlength: "8"%>
        </div>

        <%= f.submit "Continuar", class:"btn transparent",style:"color:#fff" %>

        <% end %>
        <div class="contenedor3" style="margin-top:40px">
            <div class="cajaenlaces" style="padding:20px;border-radius:20px">
                <%= render "devise/shared/links" %>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script>
    var cuerpo = document.getElementById('bodys');

    cuerpo.classList.add('body_fondo');

    <%=render "partials/script-preloader-js"%>
</script>
