<%=render 'partials/zone-time'%>
<%=render 'partials/name-and-cod-of-banks'%>
<div id="copy" class="">
    <span class="fas fa-check-circle"></span>
    <p class="msg text-justify" id="msj"></p>
</div>
<%unless current_user.is_admin?%>
    <section class="py-3">
        <!-- Highlights -->
        <div class="row">
            <div class="col-sm-4 col-md-12 col-lg-4">
                <div class="card mb-5 shadow-sm border-0 shadow-hover">
                    <div class="card-body d-flex">
                        <div>
                            <div class="circle rounded-circle bg-primary align-self-center d-flex mr-3">
                                <i class="icon ion-md-trending-up text-primary align-self-center mx-auto lead"></i>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h6 class="mb-0"><%=@transactions_totales%></h6>
                            <small class="text-muted">Envios realizados</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-12 col-lg-4">
                <div class="card mb-5 shadow-sm border-0 shadow-hover">
                    <div class="card-body d-flex">
                        <div>
                            <div class="circle rounded-circle bg-primary align-self-center d-flex mr-3">
                                <i class="icon ion-md-people text-primary align-self-center mx-auto lead"></i>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h6 class="mb-0"><%=@referidos%></h6>
                            <small class="text-muted">Referidos confirmados</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-12 col-lg-4">
                <div class="card mb-5 shadow-sm border-0 shadow-hover">
                    <div class="card-body d-flex">
                        <div>
                            <div class="circle rounded-circle bg-primary align-self-center d-flex mr-3">
                                <!--<i class="icon ion-md-people text-primary align-self-center mx-auto lead"></i>-->
                                 <img src="/img/agregar-usuario.svg" class="icon ion-md-cash text-primary align-self-center mx-auto lead" style="max-width:50%;">
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h6 class="mb-0"><%=@referidos_sin_confirmar%></h6>
                            <small class="text-muted">Referidos sin confirmar</small>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Fin highlights -->

        <!--Link de referido-->
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-5 shadow-sm border-0 shadow-hover">
                    <div class="card-body d-flex">
                        <div>
                            <div class="circle rounded-circle bg-primary align-self-center d-flex mr-3">
                                <i class="icon ion-md-cash text-primary align-self-center mx-auto lead"></i>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <%=render 'transactions/detectar-moneda', {country: current_user.country}%>
                            <h6 class="mb-0"><%=@moneda_destinity%> <%=number_with_precision(@monto_total_send, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></h6>
                            
                            <small class="text-muted">Enviados a otros paises</small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="card mb-5 shadow-sm border-0 shadow-hover">
                    <div class="card-body">
                        <%link = "https://otacarcambios.com/users/register_or_login?num_referidor=#{current_user.id * 4}"%>
                        <h6 class="text-primary d-block">Link de referido: <i class="far fa-copy float-right" onclick="copiarAlPortapapeles('<%=link%>')"></i></h6>
                        
                        <span><%=truncate(link,length: 35)%></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">

            <!-- Tabla de ultimas transacciones -->
            <div class="col-12 col-lg-7">
                <h5>Ultimos envios</h5>
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><small class="font-weight-bold">Pais<small></th>
                            <th scope="col"><small class="font-weight-bold">Fecha<small></th>
                            <th scope="col"><small class="font-weight-bold">Nombres<small></th>
                            <th scope="col"><small class="font-weight-bold">Cuenta<small></th>
                            <th scope="col"><small class="font-weight-bold">Monto<small></th> 
                        </tr>
                    </thead>
                    <tbody>
                    <%@transactions.each do |transaction|%>
                    <tr class="shadow-sm">
                        <td class="align-middle"><img src="/img/paises/<%=transaction.country_destinity%>.svg" class="img-fluid avatar" alt="<%=transaction.country_destinity%>" title="<%=transaction.country_destinity%>"/></td>

                        <td class="align-middle"><span class="d-block"><%=transaction.created_at.in_time_zone(@zona_horaria).strftime("%d/%m/%Y")%></span><small><%=transaction.created_at.in_time_zone(@zona_horaria).strftime("%H:%M:%S")%></small></td>

                        <%method_array = transaction.account_destinity_usuario.split(",")
                        method = method_array[0].split("-")
                        case method[0]
                            when "banks"
                                account = Bank.find(method[1].to_i).name.capitalize + " " + Bank.find(method[1].to_i).last_name.capitalize
                                carpeta = "bancos"
                                img = Bank.find(method[1].to_i).banco
                                title = Bank.find(method[1].to_i).banco

                            when "bank_brasils"
                                account = BankBrasil.find(method[1].to_i).name.capitalize + " " + BankBrasil.find(method[1].to_i).last_name.capitalize
                                carpeta = "bancos"
                                img = BankBrasil.find(method[1].to_i).bank
                                title = BankBrasil.find(method[1].to_i).bank

                            when "wallets"
                                account = Wallet.find(method[1].to_i).name.capitalize + " " + Wallet.find(method[1].to_i).last_name.capitalize
                                carpeta = "wallets"
                                img = Wallet.find(method[1].to_i).wallet_name
                                title = Wallet.find(method[1].to_i).wallet_name

                            when "wallet_with_users"
                                account = WalletWithUser.find(method[1].to_i).name.capitalize + " " + WalletWithUser.find(method[1].to_i).last_name.capitalize
                                carpeta = "wallets"
                                img = WalletWithUser.find(method[1].to_i).wallet_name
                                title = WalletWithUser.find(method[1].to_i).wallet_name

                            when "digital_payments"
                                account = DigitalPayment.find(method[1].to_i).name.capitalize + " " + DigitalPayment.find(method[1].to_i).last_name.capitalize
                                carpeta = "wallets"
                                img = DigitalPayment.find(method[1].to_i).payment_method
                                title = DigitalPayment.find(method[1].to_i).payment_method
                            
                            when "mobile_payments"
                                account = "N/A"
                                carpeta = "bancos"
                                img = MobilePayment.find(method[1].to_i).bank
                                title = @bancos[MobilePayment.find(method[1].to_i).bank]
                        end%>
                        <td class="align-middle"><%=account%></td>

                        <td class="align-middle"><img src="/img/<%=carpeta%>/<%=img%>.png" class="img-fluid avatar" alt="<%=title%>" title="<%=title%>"/> <%if method_array.count > 1%><br> + <%=method_array.count-1%> Cta(s).<%end%></td>
                        
                        <%=render 'transactions/detectar-moneda', {country: transaction.country_destinity}%>
                        <td class="align-middle"><span class=""><%=@moneda_destinity%> <%=number_with_precision(transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span></td>
                    </tr>
                    <%end%>
                    
                    </tbody>
                </table>
                <%if @transactions.count === 0%>
                        <div class="alert alert-primary text-center" role="alert">
                            No tienes transacciones registradas!
                        </div>
                    <%end%>
                </div>

                <div class="col mt-4">
                    <div class="card mb-5 shadow-sm border-0 shadow-hover">
                        <div class="card-header bg-light border-0 pt-3 pb-0">
                            <h6 class="mb-0">Centro de atención OC</h6>
                        </div>
                        <div class="card-body">
                            <%hour = 13
                            if current_user.country === "Brasil" 
                            hour -= 1 
                            end%>
                            <%hora_inicio = DateTime.new(2000,01,01,hour,00,01).in_time_zone(@zona_horaria)%>
                            <%hora_final_1 = DateTime.new(2000,01,01,hour+7,00,01).in_time_zone(@zona_horaria)%>
                            <%hora_final_2 = DateTime.new(2000,01,01,hour+4,00,01).in_time_zone(@zona_horaria)%>

                            <span>Lunes - Viernes</span><span class="float-right"><%=hora_inicio.strftime("%H:%M")%> - <%=hora_final_1.strftime("%H:%M")%></span><br><br>
                            <span>Sabados</span><span class="float-right"><%=hora_inicio.strftime("%H:%M")%> - <%=hora_final_2.strftime("%H:%M")%></span><hr>
                            <img src="/img/apoyo.svg" style="width:30px">
                            <span class=" mt-2 float-right text-primary">+55 51 99947 8038</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin tabla transacciones -->

            <!-- Mensajes -->
            <div class="col-12 col-lg-5" id="content-notify">
                <div class="card mb-5 shadow-sm border-0 shadow-hover" id="notify">
                    <div class="card-header bg-light border-0 pt-3 pb-0">
                        <h6 class="mb-0">Notificaciones</h6>
                    </div>
                    <div class="card-body">
                        <%@notifications.limit(3).each do |notification|%>
                            <%=render 'partials/notification', notification: notification%>
                        <%end%>
   
                        <hr>
                        <div class="text-center text-primary pt-3">
                            <%if @notifications.count > 0%>
                                <!--Button Modal-->
                                <span role="button" style="cursor:pointer;" data-toggle="modal" data-target="#modal-notifications" id="span-modal" onclick="refrescarNotificationsModal()">
                                    <small>Ver todas las notificaciones</small>
                                </span>
                            <%else%>
                                <small class="">No tienes notificaciones</small>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin mensajes -->

            <!-- Modal de Notificaciones -->
            <div class="modal fade" id="modal-notifications" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="content-modal">
                    <div class="modal-content" id="content-reload">
                        <div class="modal-header text-center d-inline-block">
                            <h5 class="modal-title" id="staticBackdropLabel">Notificaciones</h5>
                        </div>
                        <div class="modal-body">
                            <%@notifications.each do |notification|%>
                                <%=render 'partials/notification', notification: notification%>
                            <%end%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div> 
    </section>

<%else%>

    <section class="py-3">
        <!-- Highlights -->
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="card mb-5 shadow-sm border-0 shadow-hover">
                    <div class="card-body d-flex">
                        <div>
                            <div class="circle rounded-circle bg-primary align-self-center d-flex mr-3">
                                <i class="icon ion-md-cash text-primary align-self-center mx-auto lead"></i>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h6 class="mb-0"><%=@transactions.where(status: "envio en proceso").count%></h6>          
                            <small class="text-muted">Envios pendientes</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <%= form_tag( '/search_users', options = {name: "formulario1"}) do %>
                    <a href="#" onclick="mostrar_usuarios(),show_preloader()">
                        <div class="card mb-5 shadow-sm border-0 shadow-hover">
                            <div class="card-body d-flex">
                                <div>
                                    <div class="circle rounded-circle bg-primary align-self-center d-flex mr-3">
                                        <i class="icon ion-md-people text-primary align-self-center mx-auto lead"></i>
                                    </div>
                                </div>
                                <div class="align-self-center">
                                    <h6 class="mb-0"><%=@users.count - 1%></h6>
                                    <small class="text-muted">Usuarios</small>
                                </div>
                                
                            </div>          
                        </div>
                    </a>
                    
                <% end %>     

                <script>
                    function mostrar_usuarios(){
                        document.formulario1.submit()
                        
                    }
                    
                </script>        
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card mb-5 shadow-sm border-0 shadow-hover">
                    <div class="card-body d-flex">
                        <div>
                            <div class="circle rounded-circle bg-primary align-self-center d-flex mr-3">
                                <i class="icon ion-md-people text-primary align-self-center mx-auto lead"></i>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h6 class="mb-0"><%=@referidos%></h6>
                            <small class="text-muted">Referidos</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card mb-5 shadow-sm border-0 shadow-hover">
                    <div class="card-body d-flex">
                        <div>
                            <div class="circle rounded-circle bg-primary align-self-center d-flex mr-3">
                                <i class="icon ion-md-trending-up text-primary align-self-center mx-auto lead"></i>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h6 class="mb-0"><%=@transactions.where(status: "realizada").count%></h6>
                            <small class="text-muted">Envios realizados</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin highlights -->

        <!--Dinero por enviar-->
        <div class="row mb-3">
            <div class="col-xl-7 col-lg-12">
                <h5>Dinero total requerido para enviar</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><small class="font-weight-bold">Pais<small></th>
                                <th scope="col"><small class="font-weight-bold">Cuenta<small></th>
                                <th scope="col"><small class="font-weight-bold">Monto<small></th> 
                            </tr>
                        </thead>
                        <tbody>
                        <%@accounts = {
                            # VENEZUELA
                            "Venezuela" => "country",
                            "Banco De Venezuela" => 0,
                            "Banco Banesco" => 0,
                            "Banco Mercantil" => 0,
                            "B.O.D" => 0,
                            "Pago Movil" => 0,
                            "0156" => 0,
                            "0172" => 0,
                            "0171" => 0,
                            "0175" => 0,
                            "0128" => 0,
                            "0114" => 0,
                            "0163" => 0,
                            "0115" => 0,
                            "0191" => 0,
                            "0138" => 0,
                            "0108" => 0,
                            "0104" => 0,
                            "0168" => 0,
                            "0177" => 0,
                            "0174" => 0,
                            "0157" => 0,
                            "0151" => 0,
                            "0169" => 0,
                            "0137" => 0,
                            
                            #BRASIL
                            "Brasil" => "country",
                            "Banco Do Brasil" => 0,
                            "Bradesco" => 0,
                            "Caixa" => 0,
                            "Itaú" => 0,
                            "Iti" => 0,
                            "Itaú" => 0,
                            "Nubank" => 0,
                            "Santander" => 0,
                            "Pix" => 0,
                            "Pic Pay" => 0,

                            #ARGENTINA
                            "Argentina" => "country",
                            "Brubank" => 0,
                            "Galicia" => 0,

                            #CHILE   
                            "Chile" => "country",   
                            "Banco Estado" => 0,

                            #COLOMBIA    
                            "Colombia" => "country",        
                            "Bancolombia" => 0,
                            "Nequi" => 0,

                            #ECUADOR    
                            "Ecuador" => "country",             
                            "Banco Pichincha" => 0,
                            
                            #ESPAÑA    
                            "España" => "country",             
                            "Bankia" => 0,
                            "Santander" => 0,

                            #PANAMA    
                            "Panama" => "country",             
                            "Banco Mercantil Panama" => 0,

                            #PERU    
                            "Peru" => "country",            
                            "Banco BCP" => 0,
                            "Scotiabank" => 0,

                            #USA
                            "USA" => "country",
                            "Zelle" => 0
                        }

                        @transactions.where(status: "envio en proceso").each do |transaction|
                            method_array = transaction.account_destinity_usuario.split(",")
                            i = 1
                            method_array.each do |sub_method_array|
                                method = sub_method_array.split("-")
                                case method[0]
                                    when "banks"
                                        if method_array.count > 1
                                            if i === 1
                                                monto_a_recibir = transaction.sub_monto_a_recibir_1 
                                            elsif i === 2
                                                monto_a_recibir = transaction.sub_monto_a_recibir_2
                                            elsif i === 3
                                                monto_a_recibir = transaction.sub_monto_a_recibir_3
                                            end
                                            monto_a_recibir.gsub!('.','')
                                            monto_a_recibir.gsub!(',','.')
                                            monto_a_recibir = monto_a_recibir.to_f
                                            @accounts[Bank.find(method[1].to_i).banco] += monto_a_recibir
                                        else
                                            @accounts[Bank.find(method[1].to_i).banco] += transaction.monto_a_recibir
                                        end
                                        
                                    when "bank_brasils"
                                        @accounts[BankBrasil.find(method[1].to_i).bank] += transaction.monto_a_recibir

                                    when "wallets"
                                        @accounts[Wallet.find(method[1].to_i).wallet_name] += transaction.monto_a_recibir

                                    when "wallet_with_users"
                                        @accounts[WalletWithUser.find(method[1].to_i).wallet_name] += transaction.monto_a_recibir

                                    when "digital_payments"
                                        @accounts[DigitalPayment.find(method[1].to_i).payment_method] += transaction.monto_a_recibir
                                    
                                    when "mobile_payments"
                                        

                                        if method_array.count > 1
                                            if i === 1
                                                monto_a_recibir = transaction.sub_monto_a_recibir_1 
                                            elsif i === 2
                                                monto_a_recibir = transaction.sub_monto_a_recibir_2
                                            elsif i === 3
                                                monto_a_recibir = transaction.sub_monto_a_recibir_3
                                            end
                                            monto_a_recibir.gsub!('.','')
                                            monto_a_recibir.gsub!(',','.')
                                            monto_a_recibir = monto_a_recibir.to_f
                                            @accounts["Pago Movil"] += monto_a_recibir
                                        else
                                            @accounts["Pago Movil"] += transaction.monto_a_recibir
                                        end
                                end
                                i+=1
                            end
                        end%>
                        <%country_img = ""%> 
                        <%@accounts.each do |llave,valor|%>
                            <%if valor === "country"
                                country_img = llave
                            end%>
                            <%if valor != "country" && valor > 0%>
                                <tr class="shadow-sm">

                                    <td class="align-middle"><img src="/img/paises/<%=country_img%>.svg" class="img-fluid avatar" alt="<%=country_img%>" title="<%=country_img%>"/></td>

                                    <td class="align-middle"><img src="/img/bancos/<%=llave%>.png" class="img-fluid avatar mr-2" alt="<%=llave%>" title="<%=llave%>"/>
                                    <%if country_img === "Venezuela"%>
                                        <%array_banks = ["Banco De Venezuela","Banco Mercantil", "B.O.D", "Banco Banesco", "Pago Movil"]%>
                                        <%if array_banks.include?(llave)%>
                                            <%=llave%>
                                        <%else%>
                                            <%=@bancos[llave]%>
                                        <%end%>
                                    <%else%>     
                                        <%=llave%>
                                    <%end%></td>
                                    
                                    <%=render 'transactions/detectar-moneda', {country: country_img}%>
                                    <td class="align-middle"><span class=""><%=@moneda_destinity%> <%=number_with_precision(valor, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span></td>
                                </tr>
                            <%end%>
                        <%end%>
                        
                        </tbody>
                    </table>
                    <%if @transactions.where(status:"envio en proceso").count === 0%>
                        <div class="alert alert-primary text-center" role="alert">
                            No hay envios en proceso!
                        </div>
                    <%end%>
                </div>

                <!--Link de referido-->
                <div class="col">
                    <div class="card mb-5 shadow-sm border-0 shadow-hover">
                        <div class="card-body">
                            <%link = "https://otacarcambios.com/users/register_or_login?num_referidor=#{current_user.id * 4}"%>
                            <h6 class="text-primary d-block">Link de referido: <i class="far fa-copy float-right" onclick="copiarAlPortapapeles('<%=link%>')"></i></h6>
                            
                            <span><%=truncate(link,length: 35)%></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mensajes -->
            <div class="col-xl-5 col-lg-12" id="content-notify">
                <div class="card mb-5 shadow-sm border-0 shadow-hover" id="notify">
                    <div class="card-header bg-light border-0 pt-3 pb-0">
                        <h6 class="mb-0">Notificaciones</h6>
                    </div>
                    <div class="card-body">
                        <%@notifications.limit(3).each do |notification|%>
                            <%=render 'partials/notification', notification: notification%>
                        <%end%>
                        <hr>
                        <div class="text-primary pt-3">
                            <a href="/notifications/new" class="d-inline-block float-left small" onclick="show_preloader()">Enviar notificación</a>
                            <%if @notifications.count > 0%>
                                <!--Button Modal-->
                                <span role="button" style="cursor:pointer;" data-toggle="modal" data-target="#modal-notifications" id="span-modal" onclick="refrescarNotificationsModal()">
                                    <small class="d-inline-block float-right">Ver todas las notificaciones</small>
                                </span>
                            <%else%>
                                <small class="d-inline-block float-right">No tienes notificaciones</small>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin mensajes -->

            <!-- Modal de Notificaciones -->
            <div class="modal fade" id="modal-notifications" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="content-modal">
                    <div class="modal-content" id="content-reload">
                        <div class="modal-header text-center d-inline-block">
                            <h5 class="modal-title" id="staticBackdropLabel">Notificaciones</h5>
                        </div>
                        <div class="modal-body">
                            <%@notifications.each do |notification|%>
                                <%=render 'partials/notification', notification: notification%>
                            <%end%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
<%end%>

<script>
    
    $(document).ready(function(){
        if(typeof refreshNotify === "undefined"){
            refreshNotify = setInterval(refrescarNotifications, 15000);
            $.ajaxSetup({ cache: false });
        }
    });

    function refrescarNotifications() {
        $("#content-notify").load(window.location + '?randval='+ Math.random() + " #notify");
    }


    //REFRESCAR LAS NOTIFICACIONES EN EL MODAL
    function refrescarNotificationsModal(){
        $("#content-modal").load(window.location + '?randval='+ Math.random() + " #content-reload");
    }

    cajaMsj = document.getElementById("copy");
    msjCopy = document.getElementById("msj");
    iconoCopy = document.getElementsByTagName("i");

    function copiarAlPortapapeles(id_elemento) {
        var aux = document.createElement("input");
        aux.setAttribute("value", id_elemento);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);

        cajaMsj.classList.remove("show","showAlert");
        cajaMsj.classList.add("d-none");

        msjCopy.innerHTML = "Link copiado";
        cajaMsj.classList.remove("d-none");
        cajaMsj.classList.add("show","showAlert");

        var contador = setTimeout(() => {
            cajaMsj.classList.add("hide");
            cajaMsj.classList.remove("show");
        }, 3000);
        var contador2 = setTimeout(() => {
            cajaMsj.classList.remove("showAlert");
            cajaMsj.classList.remove("hide");
            cajaMsj.classList.add("d-none");
        }, 4000);
    }
</script>