<%= form_with(model: wallet_with_user, local: true) do |form| %>
  <% if wallet_with_user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5 class="text-danger"><%= pluralize(wallet_with_user.errors.count, "error")%><%if wallet_with_user.errors.count > 1%> han sido detectados en los siguientes campos:<%else%> ha sido detectado en el siguiente campo:<%end%></h5>
      <ul class="list-style-squarre">
        <% wallet_with_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
        <h6>* : Campos Obligatorios</h6>
    </div>
  <div class="form-row field my-2">
    <div class="col-12 col-sm-4 mb-2">
      <label>Pais *</label>
      <input class="form-control text-capitalize" value="<%=params[:country] || wallet_with_user.country%>" name="wallet_with_user[country]" readonly>
    </div>
    <div class="col-12 col-sm-4 mb-2">
      <label for="validationName">Primer Nombre *</label>
      <input type="text" class="form-control text-capitalize is-invalid" id="validationName" name="wallet_with_user[name]" oninput="soloLetras(this)" onkeyup="habilitarSave()" autofocus="autofocus" maxlength="12" value="<%=wallet_with_user.name%>" required>
      <div class="invalid-feedback">
        Ingresa solo letras
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-2">
      <label for="validationLastName">Primer Apellido *</label>
      <input type="text" class="form-control text-capitalize is-invalid" id="validationLastName" name="wallet_with_user[last_name]" value="<%=wallet_with_user.last_name%>" maxlength="12" oninput="soloLetras(this)" onkeyup="habilitarSave()" required>
      <div class="invalid-feedback">
        Ingresa solo letras
      </div>
    </div>
  </div>
  <div class="form-row field mb-2">
    <div class="col-12 col-sm-5 mb-2">
      <label>Pago Movil *</label>

      <select class="custom-select is-invalid" name="wallet_with_user[wallet_name]" onchange="validarSelect(this),habilitarSave()" required>
          <option selected disabled value="">Elegir...</option>
          <%country = params[:country] || wallet_with_user.country%>
          <%case country.capitalize%>
          <%when "Brasil"%>
          <option value="Pic Pay" <%if wallet_with_user.wallet_name === "Pic Pay"%>selected<%end%>>Pic Pay</option>
          <%end%>
      </select>
      <div class="invalid-feedback">Elige una opcion</div>
    </div>
    <div class="col-12 col-sm-7">
        <label for="wallet_user">Usuario *</label>
        <input class="is-invalid" oninput="validarUsuario(this)" onkeyup="habilitarSave()" type="text" value="<%=wallet_with_user.usuario%>" name="wallet_with_user[usuario]" id="wallet_user">
        <div class="invalid-feedback">
          Ingresa un usuario valido
        </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-success mt-3 mb-5", id:"btn", disabled:"disabled"%>
    <%= link_to 'Volver', set_method_url, class:"btn btn-success mt-3 mb-5 float-right" %>
  </div>
<% end %>
<script src="/js/vistas/script-form-for-campos.js"></script>

<script>
  
  div = document.getElementsByTagName("div")[11];
  var input = document.getElementsByTagName("input");
  var select = document.getElementsByTagName("select")[0];
  if (div.id === "error_explanation"){    
    soloLetras(input[2]);
    soloLetras(input[3]);
    validarUsuario(input[4]);
    validarSelect(select);
  }

  function habilitarSave() {
    botonSave = document.getElementById("btn");
    formulario = false
    if (input[2].className.indexOf("is-valid") != -1 && input[3].className.indexOf("is-valid") != -1 && input[4].className.indexOf("is-valid") != -1 && select.className.indexOf("is-valid") != -1){
      formulario = true;
    }
    if (formulario == true){
      botonSave.removeAttribute("disabled");
    }else{
      botonSave.setAttribute("disabled","disabled");
    }
  }

</script>
