<%if vista === "edit" && current_user.is_admin?%>
    <div class="form-row justify-content-center">
    <%= form_with(model: wallet, local: true, :html => {:class => "was-validated", :id => "form"}) do |form| %>
    <% if wallet.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5 class="text-danger"><%if wallet.errors.count > 1%><%=wallet.errors.count%> errores han sido detectados en los siguientes campos:<%else%><%=wallet.errors.count%> error ha sido detectado en el siguiente campo:<%end%></h5>
      <ul class="list-style-square">
        <% wallet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
        <div class="text-center">
            <div class="card bg-light my-3" style="max-width: 18rem;">
                <div class="card-header text-capitalize"><%=wallet.name%> <%=wallet.last_name%></div>
                <div class="card-body">
                    
                    <%part1 = wallet.email[0, 4]%>
                    <%part2 = wallet.email[-9,9]%> 
                    <p class="card-text"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/> <span class=""><%=part1 + "****" + part2%></span></p>
                </div>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customControlValidation2" name="wallet[status]" value="activo" <%if wallet.status === "activo"%>checked="checked"<%end%> required>
                <label class="custom-control-label" for="customControlValidation2">Activo</label>
            </div>
        
            <div class="custom-control custom-radio mb-3">
                <input type="radio" class="custom-control-input" id="customControlValidation3" name="wallet[status]" value="inactivo" <%if wallet.status === "inactivo"%>checked="checked"<%end%> required>
                <label class="custom-control-label" for="customControlValidation3">Inactivo</label>
                <div class="invalid-feedback">Elige una opcion</div>
            </div>
        </div>

        <div class="actions">
            <%= form.submit "Guardar", class:"btn btn-success mt-3 mb-5 mr-1", id:"btn" %>
            <%= link_to 'Volver', payment_methods_path, class:"btn btn-success mt-3 mb-5 ml-1 float-right" %>
        </div>
    <%end%>
     </div>
<%else%>
<%= form_with(model: wallet, local: true, :html => {:id => "form"}) do |form| %>
  <% if wallet.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5 class="text-danger"><%= pluralize(wallet.errors.count, "error")%><%if wallet.errors.count > 1%> han sido detectados en los siguientes campos:<%else%> ha sido detectado en el siguiente campo:<%end%></h5>
      <ul class="list-style-squarre">
        <% wallet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
        <h6>* : Campos Obligatorios</h6>
    </div>
  <div class="form-row field my-2">
    <div class="col-12 col-sm-4 mb-2">
      <label>Pais *</label>
      <input class="form-control text-capitalize" value="<%=params[:country] || wallet.country%>" name="wallet[country]" readonly>
    </div>
    <div class="col-12 col-sm-4 mb-2">
      <label for="validationName">Primer Nombre *</label>
      <input type="text" class="form-control text-capitalize is-invalid" id="validationName" name="wallet[name]" oninput="soloLetras(this)" onkeyup="habilitarSave()" autofocus="autofocus" maxlength="12" value="<%=wallet.name%>" required>
      <div class="invalid-feedback">
        Ingresa solo letras
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-2">
      <label for="validationLastName">Primer Apellido *</label>
      <input type="text" class="form-control text-capitalize is-invalid" id="validationLastName" name="wallet[last_name]" value="<%=wallet.last_name%>" maxlength="12" oninput="soloLetras(this)" onkeyup="habilitarSave()" required>
      <div class="invalid-feedback">
        Ingresa solo letras
      </div>
    </div>
  </div>
  <div class="form-row field mb-2">
    <div class="col-12 col-sm-5 mb-2">
      <label>Monedero Digital *</label>

      <select class="custom-select is-invalid" name="wallet[wallet_name]" onchange="validarSelect(this),habilitarSave()" required>
          <option selected disabled value="">Elegir...</option>
          <%country = params[:country] || wallet.country%>
          <%case country%>
          <%when "Brasil"%>
            <option value="Pix" <%if wallet.wallet_name === "Pix"%>selected<%end%>>Pix</option>
          <%when "USA"%>
            <option value="Zelle" <%if wallet.wallet_name === "Zelle"%>selected<%end%>>Zelle</option>
          <%end%>
      </select>
      <div class="invalid-feedback">Elige una opcion</div>
    </div>
    <div class="col-12 col-sm-7">
        <label for="wallet_email">Correo Electronico *</label>
        <input class="is-invalid" oninput="validarEmail(this)" onkeyup="habilitarSave()" type="text" value="<%=wallet.email%>" name="wallet[email]" id="wallet_email">
        <div class="invalid-feedback">
          Ingresa un correo valido
        </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-success mt-3 mb-5", id:"btn", disabled:"disabled" %>
    <%= link_to 'Volver', set_method_url, class:"btn btn-success mt-3 mb-5 float-right" %>
  </div>
<%end%>
<%end%>
<script src="/js/vistas/script-form-for-campos.js"></script>

<script>
  
  div = document.getElementsByTagName("div")[11];

  var input = document.getElementsByTagName("input");
  var select = document.getElementsByTagName("select")[0];

  if (div.id === "error_explanation"){
        
    soloLetras(input[2]);
    soloLetras(input[3]);
    validarEmail(input[4]);
    validarSelect(select);
  } 

  function habilitarSave() {
    botonSave = document.getElementById("btn");
    formulario = false
    if (input[2].className.indexOf("is-valid") != -1 && input[3].className.indexOf("is-valid") != -1 && input[4].className.indexOf("is-valid") != -1 && select.className.indexOf("is-valid") != -1){
      formulario = true;
    }
    if (formulario == true){
      botonSave.removeAttribute("disabled");
    }else{
      botonSave.setAttribute("disabled", "disabled");
    }
  }
</script>
