<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wallet.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @wallet.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @wallet.identificador %>
</p>

<p>
  <strong>Country:</strong>
  <%= @wallet.country %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
