<p id="notice"><%= notice %></p>

<p>
  <strong>Prioridad min 1:</strong>
  <%= @config_loterica_deposit.prioridad_min_1 %>
</p>

<p>
  <strong>Prioridad min 2:</strong>
  <%= @config_loterica_deposit.prioridad_min_2 %>
</p>

<p>
  <strong>Prioridad min 3:</strong>
  <%= @config_loterica_deposit.prioridad_min_3 %>
</p>

<p>
  <strong>Prioridad max 1:</strong>
  <%= @config_loterica_deposit.prioridad_max_1 %>
</p>

<p>
  <strong>Prioridad max 2:</strong>
  <%= @config_loterica_deposit.prioridad_max_2 %>
</p>

<p>
  <strong>Prioridad max 3:</strong>
  <%= @config_loterica_deposit.prioridad_max_3 %>
</p>

 |
<%= link_to 'Back', config_loterica_deposits_path %>
