<%=render 'partials/name-and-cod-of-banks'%>
<%unless current_user.is_admin?%><!--VISTA DE USUARIO -------------------------------------------------------------------------->
    <%=render "partials/btn-back", link: url_for(status_transactions_url)%>
    <div id="copy" class="">
        <span class="fas fa-check-circle"></span>
        <p class="msg text-justify" id="msj"></p>
    </div>
                
    <div class="row justify-content-center mt-3">
        <div class="col-10 col-md-9 col-lg-6 p-3 fondo" style="border-radius:12px;">
            <p class="text-center">
                <label  class="text-primary">ID Transacción</label><br>
                <%=@transaction.num_id%>
            </p>
            <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                <li class="nav-item d-inline-block w-50" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Origen</a>
                </li>
                <li class="nav-item d-inline-block w-50" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Destino</a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h5>Detalles de la transaccion<span class="float-right h5 <%if @minutos < 5%>text-danger<%else%>text-success<%end%>" id="td-time2"><i class="fas fa-history mr-1"></i><span id="minuto2"><%=@minutos%></span>:<span id="segundo2"><%=@segundos.to_s.rjust(2, '0')%></span></h5>
                    
                    <div class="mt-5">

                        <%@method = @transaction_pendiente.account_destinity_admin.split("-")%>
                        <%= render 'detalle-account-for-copy', {transaction: @transaction_pendiente, user_account: @user_admin, method: @method} %>
                        
                        <%=render 'detectar-moneda', {:country => current_user.country}%>
                        <label class="text-primary">Monto a pagar</label><br>
                        <%=@moneda_destinity%> <span id="monto_pagar"><%= number_with_precision(@transaction_pendiente.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><i class="far fa-copy float-right" onclick="copiarAlPortapapeles('monto_pagar','Monto a pagar')"></i><br><hr>

                        <%= form_with(model: @transaction, local: true, :html => { :class => "was-validated mb-5", :id => "form", multipart: true}) do |form| %>
                            <% if @transaction.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
                            
                                <ul>
                                    <% @transaction.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                            <% end %>
                        
                            <div class="custom-file mt-3">
                                <%=form.file_field :comprobante_pago_otacar, class:"custom-file-input", id:"validatedComprobante", required:"required", accept:"image/png, .jpeg, .jpg"%>
                                <label class="custom-file-label" id="name-archivo" for="validatedComprobante" data-browse="Elegir">Comprobante de pago...</label>
                                <div class="invalid-feedback">Solo puedes subir un archivo en formato jpg, jpeg o png</div>
                            </div>

                            <div class="actions mt-4">
                                <%= form.submit "Continuar", class:"btn btn-success m-auto"%>
                                <a type="button" rel="nofollow" data-method="delete" href="/transactions/<%=@transaction.id%>" data-confirm="Esta segur@ de eliminar esta transacción?" class="btn btn-danger float-right" style="-webkit-appearance: none !important;">Cancelar</a>
                            </div>
                        <%end%>
                        
                    </div>
                </div>

                <!--CUENTA DEL USUARIO-->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h5>Detalles del envio</h5>
                    
                    <div class="mt-5">
                        <%@user_account = current_user%>
                        <%@method = @transaction_pendiente.account_destinity_usuario.split("-")%>
                        <%= render 'detalle-account-for-view', {transaction: @transaction_pendiente, user_account: @user_account, method: @method} %>

                        <%=render 'detectar-moneda', {:country => @transaction_pendiente.country_destinity}%>
                        <label class="text-primary">Monto a recibir</label><br>
                        <%=@moneda_destinity%> <span><%= number_with_precision(@transaction_pendiente.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        spanMin2 = document.getElementById("minuto2");
        spanSeg2 = document.getElementById("segundo2");
        tdTime2 = document.getElementById("td-time2");

        function refrescar(){
            window.location.href = window.location.href;
        }

        function restarSegundos2() {
            minutos = spanMin2.innerText;
            segundos = spanSeg2.innerText;
            
            minutos = parseInt(minutos);
            segundos = parseInt(segundos);

            if (minutos <= 0 && segundos <= 0 ){

                clearInterval(intervalo2);
                refrescar();
            }else{
                if (segundos === 0){
                minutos -= 1;
                segundos = 59;
                }else{
                    segundos -= 1;
                }

                if (minutos < 5){
                    tdTime2.classList.remove("text-success");
                    tdTime2.classList.add("text-danger");
                }
                spanMin2.innerHTML = minutos;

                segundos = segundos.toString();
                if (segundos.length === 1){
                    spanSeg2.innerHTML = "0" + segundos;
                }else{
                    spanSeg2.innerHTML = segundos;
                }
            }
            
        }
        
        <%if @transaction_pendiente%>
        if (typeof intervalo2 === "undefined"){
            intervalo2 = setInterval(restarSegundos2, 1000);
        }
        <%end%>

        nameArchivo = document.getElementById("name-archivo");
        $("#validatedComprobante").change(function(){
            nameArchivo.innerHTML = this.files[0].name;
            $("#button").prop("disabled", this.files.length == 0);
        });
    </script>
<%else%> <!--VISTA DE ADMINISTRADOR ----------------------------------------------------------------------------------------->
    <%=render "partials/btn-back", link: url_for(pending_transactions_url)%>
    <div id="copy" class="">
        <span class="fas fa-check-circle"></span>
        <p class="msg text-justify" id="msj"></p>
    </div>

    <%if @transaction.status === "por confirmar"%> 

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-10 col-md-9 col-lg-6 p-3 fondo" style="border-radius:12px;">

                <p class="text-center">
                    <label  class="text-primary">ID Transacción</label><br>
                    <%=@transaction.num_id%>
                </p>
                <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item d-inline-block w-50" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cuenta Crédito Otacar</a>
                    </li>
                    <li class="nav-item d-inline-block w-50" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cuenta Crédito Usuario</a>
                    </li>
                </ul>
                <div class="tab-content mt-4" id="myTabContent">
                    
                    <!--CUENTA DE OTACAR-->
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <%@user_account = current_user%>
                        <%@method = @transaction.account_destinity_admin.split("-")%>
                        <%= render 'detalle-account-for-view', {transaction: @transaction, user_account: @user_account,method: @method} %>

                        <%=render 'detectar-moneda', {country: @transaction.user.country}%>
                        <label class="text-primary">Monto Transferido</label><br>
                        <%=@moneda_destinity%> <span><%= number_with_precision(@transaction.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>

                        <label class="text-primary">Comprobante</label><br>

                       <%=render 'comprobante-pago', {identifier: "otacar", url: @transaction.comprobante_pago_otacar.url}%>
                        
                        <%= form_with(model: @transaction, local: true, :html => { :class => "was-validated mb-5", :id => "form"}) do |form| %>
                            <%if @transaction.errors.any?%>
                            <div id="error_explanation">
                                <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
                            
                                <ul>
                                    <% @transaction.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                            <%end%>
            
                            <div class="actions mt-4">
                                <%= form.submit "Confirmar", class:"btn btn-success", onclick:"borrarMotivo()"%>

                                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#staticBackdrop">
                                    Rechazar
                                </button>

                                <!--MODAL-->
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                
                                            <div class="modal-body text-center">
                                                Estas a punto de rechazar la transacción, especifica el motivo para que lo pueda ver el usuario.
                                                <div class="was-validated">
                                                    <div class="mt-3">
                                                        <label for="validationTextarea" class="text-primary">Motivo *</label>
                                                        <textarea class="form-control" id="validationTextarea" name="transaction[motivo_rechazo]" required></textarea>
                                                        <div class="invalid-feedback">
                                                            Especifica el motivo.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <%= form.submit "Continuar", class:"btn btn-danger"%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </div>

                    <!--CUENTA DEL USUARIO--------------------------------------------------------------------->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        
                            <%@method = @transaction.account_destinity_usuario.split("-")%>
                            <%= render 'detalle-account-for-view', {transaction: @transaction, user_account: @transaction.user, method: @method} %>
                            
                            <%=render 'detectar-moneda', {country: @transaction.country_destinity}%>
                            <label class="text-primary">Monto a Enviar</label><br>
                            <%=@moneda_destinity%> <span><%= number_with_precision(@transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>

                            <button type="button" class="btn btn-copy-all" data-toggle="modal" data-target="#exampleModal">
                                Ver perfil del usuario
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title text-primary" id="exampleModalLabel">Perfil del usuario</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body bg-light-blue">
                                            <div class="card border-primary mb-3 m-auto" style="max-width: 36rem;">

                                                <div class="card-header text-primary">
                                                    <div class="row">
                                                        <div class="col-6 text-right">ID Usuario</div>
                                                        
                                                        <div class="col-6 text-left text-capitalize">
                                                            <%=(@transaction.user.id*4).to_s.rjust(9, '0')%>   
                                                        </div>

                                                        <div class="col-6 text-right">Nombre y Apellido</div>
                                                        <div class="col-6 text-left text-capitalize">
                                                            <%=@transaction.user.name%> <%=@transaction.user.last_name%>   
                                                        </div>
                                                       
                                                        <div class="col-6 text-right">Nro DNI</div>
                                                        <div class="col-6 text-left text-capitalize">
                                                            <%=@transaction.user.document%>   
                                                        </div>
                                                        <div class="col-6 text-right">Sexo</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.gender%>   
                                                        </div>
                                                        <div class="col-6 text-right">Nro Telefono</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.phone%>  
                                                        </div> 
                                                        <div class="col-6 text-right">Fecha de nacimiento</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.day%>/<%=@transaction.user.month%>/<%=@transaction.user.year%>      
                                                        </div> 
                                                        <div class="col-6 text-right">Pais</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.country%>      
                                                        </div>
                                                        <div class="col-6 text-right">Estado</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.state%>      
                                                        </div>
                                                        <div class="col-6 text-right">Ciudad</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.city%>      
                                                        </div>
                                                        <div class="col-6 text-right">Dirección</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.address%>      
                                                        </div>  
                                                        <div class="col-6 text-right">Correo Electrónico</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.email%>      
                                                        </div> 

                                                        <%coincidencia = false%>
                                                        
                                                        <div class="col-6 text-right">Referido Por</div>
                                                        <div class="col-6 text-left">

                                                            <%id = @transaction.user.num_referidor.to_i / 4%>
                                                            <%usuario = @users.find_by(id: id)%>
                                                            <% if usuario.present?%>
                                                                <%=usuario.name.capitalize%> <%=usuario.last_name.capitalize%>
                                                            <%else%>
                                                                Ningun usuario.
                                                            <%end%>
                                                        </div> 
                                                                            
                                                    </div> 
                                                </div>        
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div> 
            </div>
        </div>
        <script>
            textarea = document.getElementById("validationTextarea");

            function borrarMotivo(){
                textarea.value = "";
                textarea.removeAttribute("required");
            }
            
        </script>

    <%elsif @transaction.status === "envio en proceso"%>

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-10 col-md-9 col-lg-6 p-3 fondo" style="border-radius:12px;">
                <p class="text-center">
                    <label  class="text-primary">ID Transacción</label><br>
                    <%=@transaction.num_id%>
                </p>
                <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item d-inline-block w-50" role="presentation">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cuenta Crédito Usuario</a>
                    </li>
                    <li class="nav-item d-inline-block w-50" role="presentation">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cuenta Crédito Otacar</a>
                    </li>
                </ul>
                <div class="tab-content mt-4" id="myTabContent">
                    
                    <!--CUENTA DEL USUARIO--------------------------------------------------------------------->
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        
                        <%@method = @transaction.account_destinity_usuario.split("-")%>
                        <%= render 'detalle-account-for-copy', {transaction: @transaction, user_account: @transaction.user, method: @method} %>
                        
                        <%=render 'detectar-moneda', {country: @transaction.country_destinity}%>
                        <label class="text-primary">Monto a enviar</label><br>
                        <%=@moneda_destinity%> <span id="monto_a_enviar"><%=number_with_precision(@transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><i class="far fa-copy float-right" onclick="copiarAlPortapapeles('monto_a_enviar','Monto a enviar')"></i><br><hr>

                        <button class="btn btn-copy-all" onclick="copyAll()">Copiar Todo</button>

                        <%= form_with(model: @transaction, local: true, :html => { :class => "was-validated mb-5", :id => "form"}) do |form| %>
                            <%if @transaction.errors.any?%>
                            <div id="error_explanation">
                                <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
                            
                                <ul>
                                    <% @transaction.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                            <%end%>
                                <div class="custom-file mt-3">
                                    <%=form.file_field :comprobante_pago_usuario, class:"custom-file-input", id:"validatedComprobante", required:"required", accept:"image/png, .jpeg, .jpg"%>
                                    <label class="custom-file-label" id="name-archivo" for="validatedComprobante" data-browse="Elegir">Comprobante de pago...</label>
                                    <div class="invalid-feedback">Solo puedes subir un archivo en formato jpg, jpeg o png</div>
                                </div>

                                <div class="actions mt-4">
                                    <%= form.submit "Continuar", class:"btn btn-success", id:"button", disabled:"disabled"%>
                                    
                                    <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#staticBackdrop">
                                        Rechazar
                                    </button>

                                    <!--MODAL-->
                                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                    
                                                <div class="modal-body text-center">
                                                    Estas a punto de rechazar la transacción, especifica el motivo para que lo pueda ver el usuario.
                                                    <div class="was-validated">
                                                        <div class="mt-3">
                                                            <label for="validationTextarea" class="text-primary">Motivo *</label>
                                                            <textarea class="form-control" id="validationTextarea" name="transaction[motivo_rechazo]" required></textarea>
                                                            <div class="invalid-feedback">
                                                                Especifica el motivo.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="requerirComprobante">Cerrar</button>
                                        
                                                    <%= form.submit "Continuar", class:"btn btn-danger", id:"btnRechazar"%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        <%end%>
                    </div>
                    <!--CUENTA DE OTACAR-->
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        
                        <%@user_account = current_user%>
                        <%@method = @transaction.account_destinity_admin.split("-")%>
                        <%= render 'detalle-account-for-view', {transaction: @transaction, user_account: @user_account, method: @method} %>

                        <%=render 'detectar-moneda', {country: @transaction.user.country}%>
                        <label class="text-primary">Monto Transferido</label><br>
                        <%=@moneda_destinity%> <span><%= number_with_precision(@transaction.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>

                        <label class="text-primary">Comprobante</label><br>
                        <%=render 'comprobante-pago', {identifier: "otacar", url: @transaction.comprobante_pago_otacar.url}%>
                    </div>
                </div> 
            </div>
        </div>
    
    <%end%>
    <script>
        function copyAll(){
            divP = document.getElementById("profile");
            var textarea = document.createElement("textarea");
            var lista = document.createElement("ul");
        
            var spans = document.getElementsByTagName("span");
            var labels = document.getElementsByTagName("label");

            for(i=0; i<spans.length; i++){
                if (spans[i].id === "monto_a_enviar"){
                    limit = i;
                    break;
                }
            }

            textarea.value = "Datos"
            for(i=1; i<=limit; i++){ 
                last_char = textarea.value.length;
                textarea.value = textarea.value + "\\\n" + labels[i-1].innerText + ": " + spans[i].innerText;
                textarea.value = textarea.value.slice(0,last_char) + textarea.value.slice(last_char+1);
            }
            
            document.body.appendChild(textarea);
        
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);

            cajaMsj.classList.remove("show","showAlert");
            cajaMsj.classList.add("d-none");

            msjCopy.innerHTML = "Informacion copiada";
            cajaMsj.classList.remove("d-none");
            cajaMsj.classList.add("show","showAlert");

            var contador = setTimeout(() => {
                cajaMsj.classList.add("hide");
                cajaMsj.classList.remove("show");
            }, 1000);
            var contador2 = setTimeout(() => {
                cajaMsj.classList.remove("showAlert");
                cajaMsj.classList.remove("hide");
                cajaMsj.classList.add("d-none");
            }, 2000);
            
        }

        nameArchivo = document.getElementById("name-archivo");
        comprobante = document.getElementById("validatedComprobante");
        motivo = document.getElementById("validationTextarea");
        
        $("#validatedComprobante").change(function(){
            nameArchivo.innerHTML = this.files[0].name;
            $("#button").prop("disabled", this.files.length == 0);
        });

        $("#btnRechazar").click(function(){
            nameArchivo.innerHTML = "Comprobante de pago...";
            comprobante.value = "";
            comprobante.removeAttribute("required");
        });
        $("#button").click(function(){
            motivo.value = "";
            motivo.removeAttribute("required");
        });
        $("#requerirComprobante").click(function(){
            comprobante.setAttribute("required","required");
        });
    </script>
<%end%>
<script>

    cajaMsj = document.getElementById("copy");
    msjCopy = document.getElementById("msj");
    iconoCopy = document.getElementsByTagName("i");

    function copiarAlPortapapeles(id_elemento,dato) {
        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);

        cajaMsj.classList.remove("show","showAlert");
        cajaMsj.classList.add("d-none");

        msjCopy.innerHTML = dato + " copiado";
        cajaMsj.classList.remove("d-none");
        cajaMsj.classList.add("show","showAlert");

        var contador = setTimeout(() => {
            cajaMsj.classList.add("hide");
            cajaMsj.classList.remove("show");
        }, 1000);
        var contador2 = setTimeout(() => {
            cajaMsj.classList.remove("showAlert");
            cajaMsj.classList.remove("hide");
            cajaMsj.classList.add("d-none");
        }, 2000);
    }
    <%= render 'partials/script-preloader'%>
</script>