<%=render 'partials/name-and-cod-of-banks'%>
<%unless current_user.is_admin?%><!--VISTA DE USUARIO -------------------------------------------------------------------------->
    <%=render "partials/btn-back", link: url_for(status_transactions_url)%>
    <div id="copy" class="">
        <span class="fas fa-check-circle"></span>
        <p class="msg text-justify" id="msj"></p>
    </div>
                
    <div class="row justify-content-center mt-3">
        <div class="col-10 col-md-9 col-lg-6 p-3 fondo" style="border-radius:12px;">
            <p class="text-center">
                <label  class="text-primary">ID Transacción</label><br>
                <%=@transaction.num_id%>
            </p>
            <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                <li class="nav-item d-inline-block w-50" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Origen</a>
                </li>
                <li class="nav-item d-inline-block w-50" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Destino</a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">
                <!--CUENTAS DEL ADMIN-->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h5>Detalles de la transaccion<span class="float-right h5 <%if @minutos < 5%>text-danger<%else%>text-success<%end%>" id="td-time2"><i class="fas fa-history mr-1"></i><span id="minuto2"><%=@minutos%></span>:<span id="segundo2"><%=@segundos.to_s.rjust(2, '0')%></span></h5>
                    
                    <div class="mt-5">

                        <%@method = @transaction_pendiente.account_destinity_admin.split("-")%>
                        <%= render 'detalle-account-for-copy', {transaction: @transaction_pendiente, user_account: @user_admin, method: @method, i: 1} %>
                        
                        <%=render 'detectar-moneda', {:country => current_user.country}%>
                        <label class="text-primary">Monto a pagar</label><br>
                        <%=@moneda_destinity%> <span id="monto_pagar"><%= number_with_precision(@transaction_pendiente.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><i class="far fa-copy float-right" onclick="copiarAlPortapapeles('monto_pagar','Monto a pagar')"></i><br><hr>

                        <%= form_with(model: @transaction, local: true, :html => { :class => "mb-5", :id => "form", multipart: true}) do |form| %>
                            <% if @transaction.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
                            
                                <ul>
                                    <% @transaction.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                            <% end %>
                            <%method_array = @transaction_pendiente.account_destinity_usuario.split(",")%>
                            <%if method_array.count > 1%>
                                <p>Ingresa el monto que deseas recibir en cada una de las cuentas de <%=@transaction_pendiente.country_destinity%> que seleccionaste.<p>
                                <%i=1%>
                                <div class="field">
                                    <%method_array.each do |method|%>
                                        <label for="validationMonto<%=i%>">Cuenta Nro <%=i%></label>
                                        <input class="form-control is-invalid" id="validationMonto<%=i%>" type="text" name="transaction[sub_monto_a_recibir_<%=i%>]" oninput="monto(this),validarMonto(this,<%=i%>)" required>
                                        <%i+=1%>
                                    
                                    <%end%>
                                </div>

                                <div class="mt-2">
                                    <%=render 'detectar-moneda', {:country => @transaction_pendiente.country_destinity}%>
                                    <span class="text-primary">Nota: </span> 
                                   <span id="monto_total">Distribuye el monto disponible en todas las cuentas sin excluir ninguna:<br> <i>Monto Disponible: <%=@moneda_destinity%>  <%= number_with_precision(@transaction_pendiente.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></i></span><br><hr>
                                </div>
                            <%end%>


                            <div class="custom-file mt-3 was-validated">
                                <%=form.file_field :comprobante_pago_otacar, class:"custom-file-input", id:"validatedComprobante", required:"required", accept:"image/png, .jpeg, .jpg"%>
                                <label class="custom-file-label" id="name-archivo" for="validatedComprobante" data-browse="Elegir">Comprobante de pago...</label>
                                <div class="invalid-feedback">Solo puedes subir un archivo en formato jpg, jpeg o png</div>
                            </div>

                            <div class="actions mt-4">
                                <%= form.submit "Continuar", class:"btn btn-success m-auto"%>
                                <a type="button" rel="nofollow" data-method="delete" href="/transactions/<%=@transaction.id%>" data-confirm="Esta segur@ de eliminar esta transacción?" class="btn btn-danger float-right" style="-webkit-appearance: none !important;">Cancelar</a>
                            </div>
                        <%end%>
                        
                    </div>
                </div>

                <!--CUENTA DEL USUARIO-->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h5>Detalles del envio</h5>
                    
                    <div class="mt-5">
                        <%@user_account = current_user%>
                        <%method_array = @transaction_pendiente.account_destinity_usuario.split(",")
                        i = 1%>
                        <%method_array.each do |method|%>
                        <%@method = method.split("-")%>
                            <%if @transaction_pendiente.country_destinity === "Venezuela"%>
                                <h6 class="text-center">Cuenta Nro <%=i%></h6>
                            <%end%>
                            <%= render 'detalle-account-for-view', {transaction: @transaction_pendiente, user_account: @user_account, method: @method} %>

                            <%i+=1%>
                        <%end%>
                        <%if method_array.count === 1%>
                            <%=render 'detectar-moneda', {:country => @transaction_pendiente.country_destinity}%>
                            <label class="text-primary">Monto a recibir</label><br>
                            <%=@moneda_destinity%> <span><%= number_with_precision(@transaction_pendiente.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>
                        <%end%>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/vistas/script-form-for-campos.js"></script>
    <script>

        spanMin2 = document.getElementById("minuto2");
        spanSeg2 = document.getElementById("segundo2");
        tdTime2 = document.getElementById("td-time2");

        function refrescar(){
            window.location.href = window.location.href;
        }

        function restarSegundos2() {
            minutos = spanMin2.innerText;
            segundos = spanSeg2.innerText;
            
            minutos = parseInt(minutos);
            segundos = parseInt(segundos);

            if (minutos <= 0 && segundos <= 0 ){

                clearInterval(intervalo2);
                refrescar();
            }else{
                if (segundos === 0){
                minutos -= 1;
                segundos = 59;
                }else{
                    segundos -= 1;
                }

                if (minutos < 5){
                    tdTime2.classList.remove("text-success");
                    tdTime2.classList.add("text-danger");
                }
                spanMin2.innerHTML = minutos;

                segundos = segundos.toString();
                if (segundos.length === 1){
                    spanSeg2.innerHTML = "0" + segundos;
                }else{
                    spanSeg2.innerHTML = segundos;
                }
            }
            
        }
        
        <%if @transaction_pendiente%>
        if (typeof intervalo2 === "undefined"){
            intervalo2 = setInterval(restarSegundos2, 1000);
        }
        <%end%>

        nameArchivo = document.getElementById("name-archivo");
        $("#validatedComprobante").change(function(){
            nameArchivo.innerHTML = this.files[0].name;
            $("#button").prop("disabled", this.files.length == 0);
        });

        function validarMonto(input,nro_input){
            <%=render 'detectar-moneda', {:country => @transaction_pendiente.country_destinity}%>
            monto_total = <%=@transaction_pendiente.monto_a_recibir%>

            inputs = document.getElementsByTagName("input")
            span_monto_total = document.getElementById("monto_total")

            for (i = 2; i<inputs.length-2; i++){
                
                valor = inputs[i].value.replace(/\D/g, "");
                valor = valor.replace(/([0-9])([0-9]{2})$/, "$1.$2");
                valor = valor.replace(/\B(?=(\d{3})+(?!\d)\.?)/g, "");
                
                if(valor != ""){
                    valor = parseFloat(valor)
                    monto_total -= valor    
                }
                
            }
            
            if (monto_total > 0){
                valor = monto_total.toFixed(2).toString().replace(/\D/g, "");
                valor = valor.replace(/([0-9])([0-9]{2})$/, "$1,$2");
                valor = valor.replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
                
                if (valor.length === 1){
                    valor = "0,0".concat(valor);
                }else if(valor.length === 2){
                    if (valor === "00"){
                        valor= "0,00";
                    }else{
                        valor = "0,".concat(valor);
                    }
                    
                }else if(valor.length === 4){
                    
                    
                }else if(valor.length === 5){
                    if (valor[0] === "0") {
                        valor= valor.slice(1);
                    }else{
                        
                    }
                    
                }else{           
                    limit = valor.length 
                    for (i=0; i < limit; i++){
                        if(valor[0] === "0" || valor[0] === "."){
                            valor = valor.slice(1);
                        }else{
                            break;
                        }  
                    }
                }
                span_monto_total.innerHTML = "Distribuye el monto disponible en todas las cuentas sin excluir ninguna:<br> <i>Monto Disponible: <%=@moneda_destinity%> " + valor + "</i>"
                for(i=2; i<inputs.length-2; i++){
                    inputs[i].classList.remove("is-valid")
                    inputs[i].classList.add("is-invalid")
                }
               
            }else if(monto_total === 0){
                input_vacio = false
                for(i=2; i<inputs.length-2; i++){
                    valor = inputs[i].value.replace(/\D/g, "");
                    valor = valor.replace(/([0-9])([0-9]{2})$/, "$1.$2");
                    valor = valor.replace(/\B(?=(\d{3})+(?!\d)\.?)/g, "");
                    valor = parseFloat(valor)

                    if (valor <= 0){
                        input_vacio = true
                    }
                }
                if (input_vacio === false){
                    span_monto_total.innerHTML = "Los montos fueron ingresados correctamente. Carga el comprobante y presiona el boton continuar para enviar el pago."
                    for(i=2; i<inputs.length-2; i++){
                        inputs[i].classList.remove("is-invalid")
                        inputs[i].classList.add("is-valid")
                    }
                }else{
                    span_monto_total.innerHTML = "Debes distribuir el monto total en todas las cuentas sin excluir ninguna. Si entre las cuentas esta incluida una a la que no deseas enviar dinero cancela la transacción e inicia una nueva."
                    for(i=2; i<inputs.length-2; i++){
                        inputs[i].classList.remove("is-valid")
                        inputs[i].classList.add("is-invalid")
                    }
                }
                
            }else if(monto_total < 0){
                span_monto_total.innerHTML = "Los montos ingresados en conjunto exceden el monto disponible.<br><i>Monto Disponible: <%=@moneda_destinity%> <%=number_with_precision(@transaction_pendiente.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2)%>"+"</i>"

                for(i=2; i<inputs.length-2; i++){
                    inputs[i].classList.remove("is-valid")
                    inputs[i].classList.add("is-invalid")
                }
            }
            
        }
    </script>
<%else%> <!--VISTA DE ADMINISTRADOR ----------------------------------------------------------------------------------------->
    <%=render "partials/btn-back", link: url_for(pending_transactions_url)%>
    <div id="copy" class="">
        <span class="fas fa-check-circle"></span>
        <p class="msg text-justify" id="msj"></p>
    </div>

    <%if @transaction.status === "por confirmar"%> 

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-10 col-md-9 col-lg-6 p-3 fondo" style="border-radius:12px;">

                <p class="text-center">
                    <label  class="text-primary">ID Transacción</label><br>
                    <%=@transaction.num_id%>
                </p>
                <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item d-inline-block w-50" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cuenta Crédito Otacar</a>
                    </li>
                    <li class="nav-item d-inline-block w-50" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cuenta Crédito Usuario</a>
                    </li>
                </ul>
                <div class="tab-content mt-4" id="myTabContent">
                    
                    <!--CUENTA DE OTACAR-->
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <%@user_account = current_user%>
                        <%@method = @transaction.account_destinity_admin.split("-")%>
                        <%= render 'detalle-account-for-view', {transaction: @transaction, user_account: @user_account,method: @method} %>

                        <%=render 'detectar-moneda', {country: @transaction.user.country}%>
                        <label class="text-primary">Monto Transferido</label><br>
                        <%=@moneda_destinity%> <span><%= number_with_precision(@transaction.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>

                        <label class="text-primary">Comprobante</label><br>

                       <%=render 'comprobante-pago', {identifier: "otacar", url: @transaction.comprobante_pago_otacar.url}%>
                        
                        <%= form_with(model: @transaction, local: true, :html => { :class => "was-validated mb-5", :id => "form"}) do |form| %>
                            <%if @transaction.errors.any?%>
                            <div id="error_explanation">
                                <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
                            
                                <ul>
                                    <% @transaction.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                            <%end%>
            
                            <div class="actions mt-4">
                                <%= form.submit "Confirmar", class:"btn btn-success", onclick:"borrarMotivo()"%>

                                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#staticBackdrop">
                                    Rechazar
                                </button>

                                <!--MODAL-->
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                
                                            <div class="modal-body text-center">
                                                Estas a punto de rechazar la transacción, especifica el motivo para que lo pueda ver el usuario.
                                                <div class="was-validated">
                                                    <div class="mt-3">
                                                        <label for="validationTextarea" class="text-primary">Motivo *</label>
                                                        <textarea class="form-control" id="validationTextarea" name="transaction[motivo_rechazo]" required></textarea>
                                                        <div class="invalid-feedback">
                                                            Especifica el motivo.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <%= form.submit "Continuar", class:"btn btn-danger"%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </div>

                    <!--CUENTA DEL USUARIO--------------------------------------------------------------------->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <%=render 'detectar-moneda', {:country => @transaction.country_destinity}%>
                            <%method_array = @transaction.account_destinity_usuario.split(",")
                            i = 1%>
                            <%method_array.each do |method|%>
                            <%@method = method.split("-")%>
                                <%if @transaction.country_destinity === "Venezuela"%>
                                    <h6 class="text-center">Cuenta Nro <%=i%></h6>
                                <%end%>
                                <%= render 'detalle-account-for-view', {transaction: @transaction, user_account: @transaction.user, method: @method} %>

                                <%if method_array.count > 1 && i === 1%>
                                    <label class="text-primary">Monto a enviar</label><br>
                                    <%=@moneda_destinity%> <span><%=number_with_precision(@transaction.sub_monto_a_recibir_1, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>
                                <%elsif i === 2%>
                                    <label class="text-primary">Monto a enviar</label><br>
                                    <%=@moneda_destinity%> <span><%=number_with_precision(@transaction.sub_monto_a_recibir_2, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>
                                <%elsif i === 3%>
                                    <label class="text-primary">Monto a enviar</label><br>
                                    <%=@moneda_destinity%> <span><%=number_with_precision(@transaction.sub_monto_a_recibir_3, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>
                                <%end%>
                                <%i+=1%>
                            <%end%>
                            
                                
                            <div class="text-center">
                                <%if method_array.count > 1%>
                                    <label class="text-primary">Monto total a enviar</label><br>
                                <%else%>
                                    <label class="text-primary">Monto a enviar</label><br>
                                <%end%>
                                <%=@moneda_destinity%> <span><%= number_with_precision(@transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>
                            </div>
                            

                            <button type="button" class="btn btn-copy-all" data-toggle="modal" data-target="#exampleModal">
                                Ver perfil del usuario
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title text-primary" id="exampleModalLabel">Perfil del usuario</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body bg-light-blue">
                                            <div class="card border-primary mb-3 m-auto" style="max-width: 36rem;">

                                                <div class="card-header text-primary">
                                                    <div class="row">
                                                        <div class="col-6 text-right">ID Usuario</div>
                                                        
                                                        <div class="col-6 text-left text-capitalize">
                                                            <%=(@transaction.user.id*4).to_s.rjust(9, '0')%>   
                                                        </div>

                                                        <div class="col-6 text-right">Nombre y Apellido</div>
                                                        <div class="col-6 text-left text-capitalize">
                                                            <%=@transaction.user.name%> <%=@transaction.user.last_name%>   
                                                        </div>
                                                       
                                                        <div class="col-6 text-right">Nro DNI</div>
                                                        <div class="col-6 text-left text-capitalize">
                                                            <%=@transaction.user.document%>   
                                                        </div>
                                                        <div class="col-6 text-right">Sexo</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.gender%>   
                                                        </div>
                                                        <div class="col-6 text-right">Nro Telefono</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.phone%>  
                                                        </div> 
                                                        <div class="col-6 text-right">Fecha de nacimiento</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.day%>/<%=@transaction.user.month%>/<%=@transaction.user.year%>      
                                                        </div> 
                                                        <div class="col-6 text-right">Pais</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.country%>      
                                                        </div>
                                                        <div class="col-6 text-right">Estado</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.state%>      
                                                        </div>
                                                        <div class="col-6 text-right">Ciudad</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.city%>      
                                                        </div>
                                                        <div class="col-6 text-right">Dirección</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.address%>      
                                                        </div>  
                                                        <div class="col-6 text-right">Correo Electrónico</div>
                                                        <div class="col-6 text-left">
                                                            <%=@transaction.user.email%>      
                                                        </div> 

                                                        <%coincidencia = false%>
                                                        
                                                        <div class="col-6 text-right">Referido Por</div>
                                                        <div class="col-6 text-left">

                                                            <%id = @transaction.user.num_referidor.to_i / 4%>
                                                            <%usuario = @users.find_by(id: id)%>
                                                            <% if usuario.present?%>
                                                                <%=usuario.name.capitalize%> <%=usuario.last_name.capitalize%>
                                                            <%else%>
                                                                Ningun usuario
                                                            <%end%>
                                                        </div> 
                                                                            
                                                    </div> 
                                                </div>        
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div> 
            </div>
        </div>
        <script>
            textarea = document.getElementById("validationTextarea");

            function borrarMotivo(){
                textarea.value = "";
                textarea.removeAttribute("required");
            }
            
        </script>

    <%elsif @transaction.status === "envio en proceso"%>

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-10 col-md-9 col-lg-6 p-3 fondo" style="border-radius:12px;">
                <p class="text-center">
                    <label  class="text-primary">ID Transacción</label><br>
                    <%=@transaction.num_id%>
                </p>
                <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item d-inline-block w-50" role="presentation">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cuenta Crédito Usuario</a>
                    </li>
                    <li class="nav-item d-inline-block w-50" role="presentation">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cuenta Crédito Otacar</a>
                    </li>
                </ul>
                <div class="tab-content mt-4" id="myTabContent">
                    
                    <!--CUENTA DEL USUARIO--------------------------------------------------------------------->
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        
                        
                        <%=render 'detectar-moneda', {country: @transaction.country_destinity}%>
                        
                        <%= form_with(model: @transaction, local: true, :html => { :class => "mb-5", :id => "form"}) do |form| %>
                            <%if @transaction.errors.any?%>
                                <div id="error_explanation">
                                    <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
                                
                                    <ul>
                                        <% @transaction.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            <%end%>
                        <%method_array = @transaction.account_destinity_usuario.split(",")
                            i = 1%>
                            <%method_array.each do |method|%>
                            <%@method = method.split("-")%>
                                <%if @transaction.country_destinity === "Venezuela"%>
                                    <h6 class="text-center mt-3">Cuenta Nro <%=i%></h6>
                                <%end%>
                                <%= render 'detalle-account-for-copy', {transaction: @transaction, user_account: @transaction.user, method: @method, i: i} %>

                                <%if method_array.count === 1%>
                                    <label class="text-primary">Monto a enviar</label><br>
                                    <%=@moneda_destinity%> <span id="monto_a_enviar<%=i%>"><%=number_with_precision(@transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span>
                                    
                                    <small class="d-none ml-2 badge badge-pill badge-secondary" id="small_<%=i%>"></small>

                                    <i class="far fa-copy float-right" onclick="copiarAlPortapapeles('monto_a_enviar<%=i%>','Monto a enviar')"></i><br><hr>
                                    
                                <%elsif method_array.count > 1 && i === 1%>
                                    <label class="text-primary">Monto a enviar</label><br>
                                    <%=@moneda_destinity%> <span id="monto_a_enviar<%=i%>"><%=number_with_precision(@transaction.sub_monto_a_recibir_1, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span>

                                    <small class="d-none ml-2 badge badge-pill badge-secondary" id="small_<%=i%>">Monto actualizado</small>

                                    <i class="far fa-copy float-right" onclick="copiarAlPortapapeles('monto_a_enviar<%=i%>','Monto a enviar')"></i><br><hr>
                                <%elsif i === 2%>
                                    <label class="text-primary">Monto a enviar</label><br>
                                    <%=@moneda_destinity%> <span id="monto_a_enviar<%=i%>"><%=number_with_precision(@transaction.sub_monto_a_recibir_2, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span>
                                    <small class="d-none ml-2 badge badge-pill badge-secondary" id="small_<%=i%>">Monto actualizado</small>

                                    <i class="far fa-copy float-right" onclick="copiarAlPortapapeles('monto_a_enviar<%=i%>','Monto a enviar')"></i><br><hr>
                                <%elsif i === 3%>
                                    <label class="text-primary">Monto a enviar</label><br>
                                    <%=@moneda_destinity%> <span id="monto_a_enviar<%=i%>"><%=number_with_precision(@transaction.sub_monto_a_recibir_3, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span>

                                    <small class="d-none ml-2 badge badge-pill badge-secondary" id="small_<%=i%>">Monto actualizado</small>

                                    <i class="far fa-copy float-right" onclick="copiarAlPortapapeles('monto_a_enviar<%=i%>','Monto a enviar')"></i><br><hr>
                                <%end%>
                            
                                <a class="btn btn-copy-all" onclick="copyAll('monto_a_enviar<%=i%>')">Copiar Todo</a>

                                <div class="custom-file my-4">
                                    <%if i === 1%>
                                        <%=form.file_field :comprobante_pago_usuario, class:"custom-file-input is-invalid", id:"validatedComprobante#{i}", required:"required", accept:"image/png, .jpeg, .jpg"%>
                                    <%elsif i === 2%>
                                        <%=form.file_field :comprobante_pago_usuario2, class:"custom-file-input is-invalid", id:"validatedComprobante#{i}", required:"required", accept:"image/png, .jpeg, .jpg"%>
                                    <%elsif i === 3%>
                                        <%=form.file_field :comprobante_pago_usuario3, class:"custom-file-input is-invalid", id:"validatedComprobante#{i}", required:"required", accept:"image/png, .jpeg, .jpg"%>
                                    <%end%>
                                    <label class="custom-file-label" id="name-archivo<%=i%>" for="validatedComprobante<%=i%>" data-browse="Elegir">Comprobante de pago...</label>
                                    <div class="invalid-feedback">Solo puedes subir un archivo en formato jpg, jpeg o png</div>
                                </div>
                                <%i+=1%>
                            <%end%>
                            <hr>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" oninput="mostrar_opciones(this)" name="transaction[actualizacion_monto_envio]">
                                <label class="custom-control-label font-weight-bold text-primary" for="customSwitch1" style="cursor:pointer !important;" title="Actualizar monto(s) según la tasa actual" >Actualizar Monto(s)</label>
                            </div>

                            <div class="mt-2 d-none" id="div_btn_modify">
                                <a class="btn btn-modify-monto" title="Actualizar monto(s) según la tasa actual" onclick="modifyTasaActual(this)" id="btn_act_aut">Act. T.A</a>

                                <a class="btn btn-modify-monto float-right disabled" title="Restablecer Monto(s)" onclick="restablecerMonto(this)" id="btn_restablecer">Restablecer</a>

                                <hr>
                            </div>
                            
                            <div class="actions mt-4">
                                <%= form.submit "Continuar", class:"btn btn-success", id:"button", disabled:"disabled"%>
                                
                                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#staticBackdrop">
                                    Rechazar
                                </button>

                                <!--MODAL-->
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                
                                            <div class="modal-body text-center">
                                                Estas a punto de rechazar la transacción, especifica el motivo para que lo pueda ver el usuario.
                                                <div class="was-validated">
                                                    <div class="mt-3">
                                                        <label for="validationTextarea" class="text-primary">Motivo *</label>
                                                        <textarea class="form-control" id="validationTextarea" name="transaction[motivo_rechazo]" required></textarea>
                                                        <div class="invalid-feedback">
                                                            Especifica el motivo.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="requerirComprobante">Cerrar</button>
                                    
                                                <%= form.submit "Continuar", class:"btn btn-danger", id:"btnRechazar"%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <%end%>
                        
                        <%if method_array.count > 1%>  
                            <div class="text-center">
                            
                                <label class="text-primary">Monto total a enviar</label><br>
                                <%=@moneda_destinity%> <span id="monto_a_enviar4"><%= number_with_precision(@transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br>
                                <small class="d-none ml-2 badge badge-pill badge-secondary" id="small_4">Monto actualizado</small><hr>
                                
                            </div>
                        <%end%>
                        
                    </div>
                    <!--CUENTA DE OTACAR-->
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        
                        <%@user_account = current_user%>
                        <%@method = @transaction.account_destinity_admin.split("-")%>
                        <%= render 'detalle-account-for-view', {transaction: @transaction, user_account: @user_account, method: @method} %>

                        <%=render 'detectar-moneda', {country: @transaction.user.country}%>
                        <label class="text-primary">Monto Transferido</label><br>
                        <%=@moneda_destinity%> <span><%= number_with_precision(@transaction.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span><br><hr>

                        <label class="text-primary">Comprobante</label><br>
                        <%=render 'comprobante-pago', {identifier: "otacar", url: @transaction.comprobante_pago_otacar.url}%>
                    </div>
                </div> 
            </div>
        </div>
    
    <%end%>
    <script src="/js/vistas/script-form-for-campos.js"></script>
    <script>
        btn_reset = document.getElementById("btn_restablecer")
        function mostrar_opciones(check) {
            div_btn = document.getElementById("div_btn_modify")

            if (check.checked === true){
                //div_btn.classList.remove("d-none")
                modifyTasaActual()
            }else{
                //div_btn.classList.add("d-none")
                restablecerMonto()
            }
        }

        function modifyTasaActual() {

            /*Datos para la tasa*/
            monto_oferta_tasa = formatearNumeros("<%=@rate.monto_oferta%>")
            switch ("<%=@transaction.country_destinity%>"){
                case "Argentina":
                    if(<%=@transaction.monto_envio%> < monto_oferta_tasa){

                        monto_tasa_actual = formatearNumeros("<%=@rate.rate_argentina%>")
                    }else{
                        monto_tasa_actual = formatearNumeros("<%=@rate.rate_argentina_min%>")
                    }
                    break;

                case "Venezuela":
                    if(<%=@transaction.monto_envio%> < monto_oferta_tasa){
                        monto_tasa_actual = formatearNumeros("<%=@rate.rate_venezuela%>")
                    }else{
                        monto_tasa_actual = formatearNumeros("<%=@rate.rate_venezuela_min%>")
                    }
                    break;
            }
            tasa_anterior = <%=@transaction.monto_a_recibir%> / <%=@transaction.monto_envio%>

            <%method_user = @transaction.account_destinity_usuario.split(",")%>
            cuentas_user = <%=method_user.count%>
            if (cuentas_user === 3){
                cuentas_user += 1
            }

            for(i=1; i <= cuentas_user; i++){
                if (cuentas_user === 1 || i === 4){
                    monto_inicial = <%=@transaction.monto_a_recibir%>
                }else if(i === 1){
                    monto_inicial = formatearNumeros("<%=@transaction.sub_monto_a_recibir_1%>")
                }else if(i === 2){
                    monto_inicial = formatearNumeros("<%=@transaction.sub_monto_a_recibir_2%>")
                }else if(i === 3){
                    monto_inicial = formatearNumeros("<%=@transaction.sub_monto_a_recibir_3%>")
                }
                
                monto_a_recibir_to_usuario = monto_inicial
                monto_a_recibir_to_usuario /= tasa_anterior
                monto_a_recibir_to_usuario *= monto_tasa_actual
                
                span_monto = document.getElementById("monto_a_enviar"+i)
                span_monto.innerHTML = formatearString(monto_a_recibir_to_usuario.toFixed(2))
                small = document.getElementById("small_"+i)
                small.classList.remove("d-none")

            }

            //btn.classList.add("disabled")
            //btn_reset.classList.remove("disabled")
            
        }

        function restablecerMonto(btn) {
            //btn_act_aut = document.getElementById("btn_act_aut")

            <%method_user = @transaction.account_destinity_usuario.split(",")%>
            cuentas_user = <%=method_user.count%>
            if (cuentas_user === 3){
                cuentas_user += 1
            }

            for(i=1; i <= cuentas_user; i++){
                if (cuentas_user === 1 || i === 4){
                    monto_inicial = formatearString(<%=@transaction.monto_a_recibir%>.toFixed(2))
                }else if(i === 1){
                    monto_inicial = "<%=@transaction.sub_monto_a_recibir_1%>"
                }else if(i === 2){
                    monto_inicial = "<%=@transaction.sub_monto_a_recibir_2%>"
                }else if(i === 3){
                    monto_inicial = "<%=@transaction.sub_monto_a_recibir_3%>"
                }
                span_monto = document.getElementById("monto_a_enviar"+i)

                span_monto.innerHTML = monto_inicial
                small = document.getElementById("small_"+i)
                small.classList.add("d-none")
            }
            //btn.classList.add("disabled")
            //btn_act_aut.classList.remove("disabled")
        }

        function copyAll(limit_span){
            divP = document.getElementById("profile");
            var textarea = document.createElement("textarea");
            var lista = document.createElement("ul");
        
            var spans = document.getElementsByTagName("span");
            var labels = document.getElementsByTagName("label");
           
            for(i=0; i<spans.length; i++){
                if (spans[i].id === limit_span){
                    limit = i;
                    break;
                }
            }

            textarea.value = "Datos"
            if (limit_span === "monto_a_enviar1"){
                inicio = 2
            }else if (limit_span === "monto_a_enviar2"){
                for(i=0; i<spans.length; i++){
                    if (spans[i].id === "monto_a_enviar1"){
                        inicio = i+1;
                        incremento = 0
                        break;
                    }
                }
            }else if (limit_span === "monto_a_enviar3"){
                for(i=0; i<spans.length; i++){
                    if (spans[i].id === "monto_a_enviar2"){
                        inicio = i+1;
                        incremento = 1
                        break;
                    }
                }
            }

            for(i=inicio; i<=limit; i++){ 
                last_char = textarea.value.length;

                //IDENTIFICAR EL NUMERO DEL LABEL PARA LOS DETALLES DE VARIAS CUENTAS DONDE ES NECESARIO DIFERENCIAR EL LABEL QUE PERTENECE AL INPUT_FILE DEL COMPROBANTE DE PAGO

                //UBICAR EL LABEL EN LAS TERCERAS CUENTA DE PAGO MOVIL
                if (inicio === 2){
                    num_label = i-1
                }else{
                    num_label = i + incremento
                }
                textarea.value = textarea.value + "\\\n" + labels[num_label].innerText + ": " + spans[i].innerText;
                textarea.value = textarea.value.slice(0,last_char) + textarea.value.slice(last_char+1);
            }
            
            document.body.appendChild(textarea);
        
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);

            cajaMsj.classList.remove("show","showAlert");
            cajaMsj.classList.add("d-none");

            msjCopy.innerHTML = "Informacion copiada";
            cajaMsj.classList.remove("d-none");
            cajaMsj.classList.add("show","showAlert");

            var contador = setTimeout(() => {
                cajaMsj.classList.add("hide");
                cajaMsj.classList.remove("show");
            }, 1000);
            var contador2 = setTimeout(() => {
                cajaMsj.classList.remove("showAlert");
                cajaMsj.classList.remove("hide");
                cajaMsj.classList.add("d-none");
            }, 2000);
            
        }
        
        array_labels_file = [];
        array_custom_file = [];

        <%methods_array = @transaction.account_destinity_usuario.split(",")%>
        for (i=1; i<= <%=methods_array.count%>; i++){
            array_labels_file.push(document.getElementById("name-archivo"+i));
            array_custom_file.push(document.getElementById("validatedComprobante"+i));
        }

        motivo = document.getElementById("validationTextarea");
        
        <%i = 0%>
        <%methods_array.each do |method|%>
            $("#validatedComprobante<%=i+1%>").change(function(){
                array_labels_file[<%=i%>].innerHTML = this.files[0].name;
                array_custom_file[<%=i%>].classList.remove("is-invalid")
                array_custom_file[<%=i%>].classList.add("is-valid")

                validation = true
                for(i=0; i < array_custom_file.length; i++){
                    if (array_custom_file[i].files.length == 0){
                        validation = false
                    }
                }
                $("#button").prop("disabled", validation == false); 
                
            });
            <%i+=1%>
        <%end%>
        
        $("#btnRechazar").click(function(){
            for (i=0; i < <%=methods_array.count%>; i++){
                array_labels_file[i].innerHTML = "Comprobante de pago...";
                array_custom_file[i].value = "";
                array_custom_file[i].removeAttribute("required");
                array_custom_file[i].classList.remove("is-valid");
                array_custom_file[i].classList.remove("is-invalid");
            }
        });
        $("#button").click(function(){
            motivo.value = "";
            motivo.removeAttribute("required");
        });
        $("#requerirComprobante").click(function(){
            for (i=0; i < <%=methods_array.count%>; i++){
               array_custom_file[i].setAttribute("required","required");
            }
        });
    </script>
<%end%>
<script>

    cajaMsj = document.getElementById("copy");
    msjCopy = document.getElementById("msj");
    iconoCopy = document.getElementsByTagName("i");

    function copiarAlPortapapeles(id_elemento,dato) {
        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);

        cajaMsj.classList.remove("show","showAlert");
        cajaMsj.classList.add("d-none");

        msjCopy.innerHTML = dato + " copiado";
        cajaMsj.classList.remove("d-none");
        cajaMsj.classList.add("show","showAlert");

        var contador = setTimeout(() => {
            cajaMsj.classList.add("hide");
            cajaMsj.classList.remove("show");
        }, 1000);
        var contador2 = setTimeout(() => {
            cajaMsj.classList.remove("showAlert");
            cajaMsj.classList.remove("hide");
            cajaMsj.classList.add("d-none");
        }, 2000);
    }
    <%= render 'partials/script-preloader'%>
</script>