<%=render 'partials/name-and-cod-of-banks'%>
<%if current_user.is_admin?%>
    <h4>Historial de Transacciones</h4>
<%else%>
    <h4>Transacciones realizadas</h4>
<%end%>
<div class="row justify-content-center mt-5">
    <div class="col-6 col-sm-5 text-center">
        <label for="select_option">Buscar por:</label> 
        <select class="custom-select" id="select_option" onchange="mostrar_captacion(this)">
            <option value="" selected>Elige una opción</option>
            <option value="ID">ID Transacción</option>
            <option value="Fecha">Rango de fechas</option>
        </select>
    </div>
</div>

<!-------------------------------------------------- CALENDARIO ----------------------------------------------------->
<div class="mt-4" id="caja_calendario" style="display:none;">
    <div class="row">
        <div class="col-6 text-center">
            <label>Desde:</label>
            <p id="date_inicial">-- / ------ / ----</p>
            <a rel="nofollow" href="#" title="Borrar" class="badge badge-secondary" onclick="borrar_fecha(event,'date_inicial')"><i class="fas fa-trash-alt"></i></a>
            <hr>
        </div>
        <div class="col-6 text-center">
            <label>Hasta:</label>
            <p id="date_final">-- / ------ / ----</p>
            <a rel="nofollow" href="#" title="Borrar" class="badge badge-secondary" onclick="borrar_fecha(event,'date_final')"><i class="fas fa-trash-alt"></i></a>
            <hr>
        </div>
    </div>
    
    <div class="text-center">
        <p class="" id="msj_calendario">Escoge la fecha de inicio</p>
    </div>

    <div id="caja_boton_buscar" style="display:none;">
        <button class="btn btn-info d-block m-auto" onclick="buscar(),show_preloader()">Buscar</button>
    </div>
    
    <div id="cal" class=""> 
        <div class="header"> 
            <span class="left button" id="prev"> &lang; </span> 
            <span class="left hook"></span> 
            <span class="month-year" id="label"> Junio 20&0 </span> 
            <span class="right hook"></span> 
            <span class="right button" id="next"> &rang; </span>
        </div> 

        <table id="days"> 
            <td>dom</td> 
            <td>lun</td> 
            <td>mar</td> 
            <td>mie</td> 
            <td>jue</td> 
            <td>vie</td> 
            <td>sab</td>
     
        </table> 

        <div id="cal-frame"> 
            <table class="curr"> 
                <tbody id="t_body"> 
                    <tr><td class="nil"></td><td class="nil"></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr> 
                    <tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td class="today">11</td><td>12</td></tr> 
                    <tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr> 
                    <tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr> 
                    <tr><td>27</td><td>28</td><td>29</td><td>30</td><td class="nil"></td><td class="nil"></td><td class="nil"></td></tr> 
                </tbody> 
            </table>
        </div> 
    </div>
    
</div>

<!---------------------------------------------- CAMPO ID -------------------------------------------------------------->

<div id="caja_id" style="display:none;">
    <div class="row justify-content-center mt-5">
        <div class="col-6 col-sm-5 text-center">
            <input type="text" class="form-control is-invalid text-uppercase" id="validationID" oninput="soloLetrasYNumeros(this,16,16),mostrar_btn_buscar(this)" maxlength="16" autofocus="autofocus">
            <div class="invalid-feedback">
                Ingresa el ID de la transacción
            </div>
        </div>
        
    </div>
    <div class="mt-4" id="caja_boton_buscar_2" style="display:none;">
        <button class="btn btn-info d-block m-auto" onclick="buscar(),show_preloader()">Buscar</button>
    </div>
</div>


<!---------------------------------- MOSTRAR TODAS ------------------------------------------------------>
<%if params[:termino].present?%>
    <div class="mt-4" id="caja_boton_buscar_3">
        <button class="btn btn-info d-block m-auto" onclick="buscar(),show_preloader()">Mostrar todas</button>
    </div>
<%end%>


<!-------------------------------------------- TABLA DE TRANSACCIONES ------------------------------------------------>
<div class="col-12 mb-5">
    <%if @transactions.count > 0%>
        <div class="table-responsive mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><small class="font-weight-bold">Fecha<small></th>
                        <th scope="col"><small class="font-weight-bold">Pais<small></th>
                        <%if current_user.is_admin?%>
                            <th scope="col"><small class="font-weight-bold">Usuario<small></th>
                        <%else%>
                            <th scope="col"><small class="font-weight-bold">Titular<small></th>
                        <%end%>
                        <th colspan="2"><small class="font-weight-bold">Resumen de Cuenta<small></th>
                        <th scope="col"><small class="font-weight-bold">Monto<small></th>
                    </tr>
                </thead>
                <tbody id="table_reality_transactions">
                    <%@coincidencia = false%>
                    
                    <%=render 'partials/reality_transactions', ultima_page: false%>
                    
                </tbody>
            </table>
        </div>
    <%else%>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-sm-6 col-md-7 col-lg-6">
                <div class="alert alert-primary text-center" role="alert">
                    <%if params[:termino]%>
                        <p>Upsss... No se encontro ninguna transacción!!!</p>
                    <%else%>
                        <p>Aun no tienes ninguna transacción realizada!!!</p>
                    <%end%>
                </div>
            </div>
        </div>
    <%end%>
    <div id="div_will_paginate">
        
        <%= will_paginate @transactions, class:"pagination d-none"%>
        
        <div class="w-100 text-center">
            <a href="#" class="special-link d-none" id="link_mostrar_mas" style="color:#0b254b;" onclick="mostrar_mas(event)">Mostrar Más</a>
        </div>
        <%=render 'partials/progress-bar', modelo: "Transaction"%>
    </div>
</div>
<script src="/js/vistas/script-form-for-campos.js"></script>
<script>
    var cal = CALENDAR(); 
 
    cal.init();
    <%if @transactions.next_page%>
        
        $('#link_mostrar_mas').removeClass("d-none")
        pagina = 1
        
    <% end %>
    msj_calendario = document.getElementById("msj_calendario")
    caja_boton_buscar = document.getElementById("caja_boton_buscar")
    select_option = document.getElementById("select_option")
    exist_fecha_inicial = false
    exist_fecha_final = false
    
    function buscar() {
        if(select_option.value === "ID"){
            id = document.getElementById("validationID")
            window.location.href = "<%=url_for(transactions_path)%>?termino=ID&ID=" + id.value.toUpperCase()

        }else if(select_option.value === "Fecha"){
            array_months_letters = ["ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE"]
            date_inicial = date_inicial.innerText
            date_inicial = date_inicial.replace(/\s+/g, '')
            date_inicial = date_inicial.split("/")
            date_inicial[1] = array_months_letters.indexOf(date_inicial[1]) + 1

            date_final = date_final.innerText
            date_final = date_final.replace(/\s+/g, '') 
            date_final = date_final.split("/")
            date_final[1] = array_months_letters.indexOf(date_final[1]) + 1
            
            window.location.href = "<%=url_for(transactions_path)%>?termino=fecha&fecha_inicial=" + date_inicial + "&fecha_final=" + date_final
        }else{
            window.location.href = "<%=url_for(transactions_path)%>"
        }
    }

    function borrar_fecha(e,fecha_id) {
        e.preventDefault()
        $("#msj_calendario").css({'display':'none'})

        fecha = document.getElementById(fecha_id)
        $(fecha).css({'display':'none'})
        fecha.innerText = "-- / ------ / ----"
        $(fecha).fadeIn(1000)

        $("#caja_boton_buscar").css({'display':'none'})

        if (fecha_id === "date_inicial"){
            exist_fecha_inicial = false
            msj_calendario.innerText = "Escoge la fecha inicial"
            msj_calendario.classList.remove("text-danger")
            
        }else{
            exist_fecha_final = false
            if (exist_fecha_inicial){
                msj_calendario.innerText = "Escoge la fecha final"
            }
            msj_calendario.classList.remove("text-danger")
            
        }
        
        $("#msj_calendario").fadeIn(1000)
        
    }

    function comparar_fechas(day,month,year,other_date,fecha_ingress) {
        fecha_valid = false
        
        array_months = ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"]; 
        other_fecha_array = other_date.split("/")

        day_1 = formatearNumerosEnteros(day)
        month_1 = array_months.indexOf(month.toLowerCase().trim()) + 1
        year_1 = formatearNumerosEnteros(year)

        day_2 = formatearNumerosEnteros(other_fecha_array[0])
        month_2 = array_months.indexOf(other_fecha_array[1].toLowerCase().trim()) + 1
        year_2 = formatearNumerosEnteros(other_fecha_array[2])

        if (fecha_ingress === "fecha inicial"){
            
            if (year_1 <= year_2){
                if (month_1 <= month_2){
                    if (day_1 <= day_2){
                        fecha_valid = true
                    }
                }
            }
        }else{
            if (year_1 >= year_2){
                if (month_1 >= month_2){
                    if (day_1 >= day_2){
                        fecha_valid = true
                    }
                }
            }
        }

        return fecha_valid
    }

    function add_date(td_day) {
        fecha_inicial = document.getElementById("date_inicial")
        fecha_final = document.getElementById("date_final")
        caja_month_year = document.querySelector(".month-year")
        array_month_year = caja_month_year.innerText.split(" ")

        if (!exist_fecha_inicial){
            fecha_work = fecha_inicial
            exist_fecha_work = exist_fecha_inicial
            other_fecha = fecha_final
            exist_other_fecha = exist_fecha_final
            fecha_ingress = "fecha inicial"
            
        }else{
            fecha_work = fecha_final
            exist_fecha_work = exist_fecha_final
            other_fecha = fecha_inicial
            exist_other_fecha = exist_fecha_inicial
            fecha_ingress = "fecha final"
        }
        if(!exist_fecha_work && exist_other_fecha){
            fecha_valid = comparar_fechas(td_day.innerText,array_month_year[0],array_month_year[1],other_fecha.innerText,fecha_ingress)
        }else{
            fecha_valid = true
        }
        /////////////////////////
        if (!exist_fecha_work){
            
            if (fecha_valid){
                if (td_day.innerText.length === 1){
                    day = "0" + td_day.innerText
                }else{
                    day = td_day.innerText
                }
                $(fecha_work).css({"display":"none"})
                fecha_work.innerText = day + " / " + array_month_year[0] + " / " + array_month_year[1]
                $(fecha_work).fadeIn(1000)

                if(fecha_ingress === "fecha inicial"){
                    exist_fecha_inicial = true
                }else{
                    exist_fecha_final = true
                }

                msj_calendario.classList.remove("text-danger")
                $("#msj_calendario").css({'display':'none'})
                if (!exist_fecha_final){
                    msj_calendario.innerText = "Escoge la fecha final"
                    $("#msj_calendario").fadeIn(1000)
                }else{
                    $("#caja_boton_buscar").fadeIn(1000)
                }
                
            }else{ 
                $("#msj_calendario").css({'display':'none'})
                msj_calendario.classList.add("text-danger")
                
                if (fecha_ingress === "fecha inicial"){
                    msj_calendario.innerText = "Fecha Invalida. Debe ser menor o igual a la fecha final" 
                }else{
                    msj_calendario.innerText = "Fecha Invalida. Debe ser mayor o igual a la fecha inicial" 
                }
                $("#msj_calendario").fadeIn(1000)
                
            }
        }
        

    }

    function mostrar_captacion(select) {
        
        if (select.value === "ID") {
            <%if params[:termino].present?%>
                $("#caja_boton_buscar_3").css({"display":"none"});
            <%end%>
            $("#caja_calendario").css({"display":"none"});
            $("#caja_id").fadeIn(1000)
            
        }else if(select.value === "Fecha"){ 
            $("#caja_id").fadeOut()
            $("#caja_calendario").fadeIn(1000);
            <%if params[:termino].present?%>
                $("#caja_boton_buscar_3").fadeOut();
            <%end%>
        } else {
           
            <%if params[:termino].present?%>
                $("#caja_id").css({"display":"none"});
                $("#caja_calendario").css({"display":"none"});
                $("#caja_boton_buscar_3").fadeIn(1000);
            <%else%>
                $("#caja_id").fadeOut();
                $("#caja_calendario").fadeOut();
            <%end%>
            
        }
    }

    function mostrar_mas(e) {
        e.preventDefault()
        
        if ($(".pagination").length) {
            $("#link_mostrar_mas").addClass("d-none")
            $(".progress").removeClass("d-none")
            url = $(".pagination .next_page").attr('href');

            pagina += 1
            <%if @paginas.present?%>
            if (pagina > <%=@paginas%>){
                
                $('#table_reality_transactions').append('<%=j render 'partials/reality_transactions', ultima_page: true%>')
                $("#div_will_paginate").remove()
            }else{
                $.getScript(url);  
            } 
            <%end%>
        };
    }

    function soloLetrasYNumeros(input,car_min,car_max) {
        var letras_num = "áéíóúabcdefghijklmnñopqrstuvwxyz0123456789";
        newValor = "";
        for (i = 0; i < input.value.length; i++) {
            if (letras_num.indexOf(input.value[i].toLowerCase()) != -1) {
            newValor = newValor.concat(input.value[i].toLowerCase());
            }
        }

        input.value = newValor;
        if (newValor.length >= car_min && newValor.length <= car_max) {
            
            input.classList.remove("is-invalid");
            input.classList.add("is-valid");
        } else {
            input.classList.remove("is-valid");
            input.classList.add("is-invalid");
        }
    }

    function mostrar_btn_buscar(input) {
        if(input.value.length === 16){
            $("#caja_boton_buscar_2").fadeIn(1000);
        }else{
            $("#caja_boton_buscar_2").fadeOut();
        }
    }
</script>
