<%=render 'partials/name-and-cod-of-banks'%>
<%if current_user.is_admin?%>
    <h4>Historial de Transacciones</h4>
<%else%>
    <h4>Transacciones realizadas</h4>
<%end%>

<div class="col-12 mb-5">
    <div class="table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><small class="font-weight-bold">Fecha<small></th>
                    <th scope="col"><small class="font-weight-bold">Pais<small></th>
                    <%if current_user.is_admin?%>
                        <th scope="col"><small class="font-weight-bold">Usuario<small></th>
                    <%else%>
                        <th scope="col"><small class="font-weight-bold">Titular<small></th>
                    <%end%>
                    <th colspan="2"><small class="font-weight-bold">Resumen de Cuenta<small></th>
                    <th scope="col"><small class="font-weight-bold">Monto<small></th>
                </tr>
            </thead>
            <tbody id="table_reality_transactions">
                <%@coincidencia = false%>
                
                <%=render 'partials/reality_transactions', ultima_page: false%>
                
            </tbody>
        </table>
    </div>
    <%unless @coincidencia%>
        <div class="row justify-content-center mt-2">
            <div class="col-12 col-sm-6 col-md-7 col-lg-6">
                <div class="alert alert-primary text-center" role="alert">
                    ...No hay movimientos!!!<br>
                </div>
            </div>
        </div>
    <%end%>
    <div id="div_will_paginate">
        <%= will_paginate @transactions, class:"pagination d-none" %>
        <div class="w-100 text-center">
            <a href="#" class="special-link d-none" id="link_mostrar_mas" style="color:#0b254b;" onclick="mostrar_mas(event)">Mostrar Más</a>
        </div>
        <%=render 'partials/progress-bar', modelo: "Transaction"%>
    </div>
</div>
<script>
    <%if @transactions.next_page%>
        
        $('#link_mostrar_mas').removeClass("d-none")
        pagina = 1
        
    <% end %>


    function mostrar_mas(e) {
        e.preventDefault()
        
        if ($(".pagination").length) {
            
            $("#link_mostrar_mas").addClass("d-none")
            $(".progress").removeClass("d-none")
            url = $(".pagination .next_page").attr('href');

            pagina += 1
            if (pagina > <%=@paginas%>){
                
                $('#table_reality_transactions').append('<%=j render 'partials/reality_transactions', ultima_page: true%>')
                $("#div_will_paginate").remove()
            }else{
                $.getScript(url);  
            } 
        };
    }
</script>
