<%=render 'partials/name-and-cod-of-banks'%>
<%if current_user.is_admin?%>
    <h4>Historial de Transacciones</h4>
<%else%>
    <h4>Transacciones realizadas</h4>
<%end%>

<div class="row d-none">
    <div class="col-6 text-center">
        <label>Desde:</label>
        <p id="date_inicial">-- / ------ / ----</p>
        <a rel="nofollow" href="#" title="Borrar" class="badge badge-secondary" onclick="borrar_fecha(event,'date_inicial')"><i class="fas fa-trash-alt"></i></a>
        <hr>
    </div>
    <div class="col-6 text-center">
        <label>Hasta:</label>
        <p id="date_final">-- / ------ / ----</p>
        <a rel="nofollow" href="#" title="Borrar" class="badge badge-secondary" onclick="borrar_fecha(event,'date_final')"><i class="fas fa-trash-alt"></i></a>
        <hr>
    </div>
</div>

<div class="text-center d-none">
    <p class="" id="msj_calendario">Escoge la fecha de inicio</p>
</div>

<div id="cal" class="d-none"> 
    <div class="header"> 
        <span class="left button" id="prev"> &lang; </span> 
        <span class="left hook"></span> 
        <span class="month-year" id="label"> Junio 20&0 </span> 
        <span class="right hook"></span> 
        <span class="right button" id="next"> &rang; </span>
    </div> 
    <table id="days"> 
        <td>dom</td> 
        <td>lun</td> 
        <td>mar</td> 
        <td>mie</td> 
        <td>jue</td> 
        <td>vie</td> 
        <td>sab</td>
 
    </table> 
    <div id="cal-frame"> 
        <table class="curr"> 
            <tbody> 
                <tr><td class="nil"></td><td class="nil"></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr> 
                <tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td class="today">11</td><td>12</td></tr> 
                <tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr> 
                <tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr> 
                <tr><td>27</td><td>28</td><td>29</td><td>30</td><td class="nil"></td><td class="nil"></td><td class="nil"></td></tr> 
            </tbody> 
        </table>
    </div> 
    
</div>


<div class="col-12 mb-5">
    <div class="table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><small class="font-weight-bold">Fecha<small></th>
                    <th scope="col"><small class="font-weight-bold">Pais<small></th>
                    <%if current_user.is_admin?%>
                        <th scope="col"><small class="font-weight-bold">Usuario<small></th>
                    <%else%>
                        <th scope="col"><small class="font-weight-bold">Titular<small></th>
                    <%end%>
                    <th colspan="2"><small class="font-weight-bold">Resumen de Cuenta<small></th>
                    <th scope="col"><small class="font-weight-bold">Monto<small></th>
                </tr>
            </thead>
            <tbody id="table_reality_transactions">
                <%@coincidencia = false%>
                
                <%=render 'partials/reality_transactions', ultima_page: false%>
                
            </tbody>
        </table>
    </div>
    <%unless @coincidencia%>
        <div class="row justify-content-center mt-2">
            <div class="col-12 col-sm-6 col-md-7 col-lg-6">
                <div class="alert alert-primary text-center" role="alert">
                    ...No hay movimientos!!!<br>
                </div>
            </div>
        </div>
    <%end%>
    <div id="div_will_paginate">
        <%= will_paginate @transactions, class:"pagination d-none" %>
        <div class="w-100 text-center">
            <a href="#" class="special-link d-none" id="link_mostrar_mas" style="color:#0b254b;" onclick="mostrar_mas(event)">Mostrar Más</a>
        </div>
        <%=render 'partials/progress-bar', modelo: "Transaction"%>
    </div>
</div>
<script src="/js/vistas/script-form-for-campos.js"></script>
<script>
    var cal = CALENDAR(); 
 
    cal.init();
    <%if @transactions.next_page%>
        
        $('#link_mostrar_mas').removeClass("d-none")
        pagina = 1
        
    <% end %>
    msj_calendario = document.getElementById("msj_calendario")
    exist_fecha_inicial = false
    exist_fecha_final = false

    function borrar_fecha(e,fecha_id) {
        e.preventDefault()
        fecha = document.getElementById(fecha_id)
        fecha.innerText = "-- / ------ / ----"

        if (fecha_id === "date_inicial"){
            exist_fecha_inicial = false
            msj_calendario.classList.remove("d-none")
            msj_calendario.innerText = "Escoge la fecha inicial"
            msj_calendario.classList.remove("text-danger")
            
        }else{
            exist_fecha_final = false
            msj_calendario.classList.remove("d-none")
            msj_calendario.innerText = "Escoge la fecha final"
            msj_calendario.classList.remove("text-danger")
        }

    }
    function comparar_fechas(day,month,year,other_date,fecha_ingress) {
        fecha_valid = false
        
        array_months = ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"]; 
        other_fecha_array = other_date.split("/")

        day_1 = formatearNumerosEnteros(day)
        month_1 = array_months.indexOf(month.toLowerCase().trim()) + 1
        year_1 = formatearNumerosEnteros(year)

        day_2 = formatearNumerosEnteros(other_fecha_array[0])
        month_2 = array_months.indexOf(other_fecha_array[1].toLowerCase().trim()) + 1
        year_2 = formatearNumerosEnteros(other_fecha_array[2])

        if (fecha_ingress === "fecha inicial"){
            
            if (year_1 <= year_2){
                if (month_1 <= month_2){
                    if (day_1 <= day_2){
                        fecha_valid = true
                    }
                }
            }
        }else{
            if (year_1 >= year_2){
                if (month_1 >= month_2){
                    if (day_1 >= day_2){
                        fecha_valid = true
                    }
                }
            }
        }

        return fecha_valid
    }

    function add_date(td_day) {
        fecha_inicial = document.getElementById("date_inicial")
        fecha_final = document.getElementById("date_final")
        caja_month_year = document.querySelector(".month-year")
        array_month_year = caja_month_year.innerText.split(" ")

        if (!exist_fecha_inicial){
            fecha_work = fecha_inicial
            exist_fecha_work = exist_fecha_inicial
            other_fecha = fecha_final
            exist_other_fecha = exist_fecha_final
            fecha_ingress = "fecha inicial"
            
        }else{
            fecha_work = fecha_final
            exist_fecha_work = exist_fecha_final
            other_fecha = fecha_inicial
            exist_other_fecha = exist_fecha_inicial
            fecha_ingress = "fecha final"
        }
        if(!exist_fecha_work && exist_other_fecha){
            fecha_valid = comparar_fechas(td_day.innerText,array_month_year[0],array_month_year[1],other_fecha.innerText,fecha_ingress)
        }else{
            fecha_valid = true
        }
        /////////////////////////
        if (!exist_fecha_work){
            console.log("entre");
            if (fecha_valid){
                fecha_work.innerText = td_day.innerText + " / " + array_month_year[0] + " / " + array_month_year[1]

                if(fecha_ingress === "fecha inicial"){
                    exist_fecha_inicial = true
                }else{
                    exist_fecha_final = true
                }

                msj_calendario.classList.remove("text-danger")

                if (!exist_fecha_final){
                    msj_calendario.classList.remove("d-none")
                    msj_calendario.innerText = "Escoge la fecha final"
                }else{
                    msj_calendario.classList.add("d-none")
                }
                
            }else{
                msj_calendario.classList.remove("d-none")
                msj_calendario.classList.add("text-danger")
                if (fecha_ingress === "fecha inicial"){
                    msj_calendario.innerText = "Fecha Invalida. Debe ser menor o igual a la fecha final" 
                }else{
                    msj_calendario.innerText = "Fecha Invalida. Debe ser mayor o igual a la fecha inicial" 
                }
                
            }
        }
        

    }

    function mostrar_mas(e) {
        e.preventDefault()
        
        if ($(".pagination").length) {
            
            $("#link_mostrar_mas").addClass("d-none")
            $(".progress").removeClass("d-none")
            url = $(".pagination .next_page").attr('href');

            pagina += 1
            if (pagina > <%=@paginas%>){
                
                $('#table_reality_transactions').append('<%=j render 'partials/reality_transactions', ultima_page: true%>')
                $("#div_will_paginate").remove()
            }else{
                $.getScript(url);  
            } 
        };
    }
</script>
