<%=render 'partials/name-and-cod-of-banks'%>
<%=render 'partials/zone-time'%>
<%@zona_horaria = "Caracas"%>
<div class="row mb-3">
    <!-- Tabla Por Confirmar -->
    <div class="col-12" id="salastatus">
        <div id="resulttable">
            <h5 class="text-center">Por Confirmar</h5>
            <div class="table-responsive">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><small class="font-weight-bold">Fecha y Hora<small></th>
                        <th scope="col"><small class="font-weight-bold">Usuario<small></th>
                        <th colspan="2"><small class="font-weight-bold">Cuenta Credito<small></th>
                        <th scope="col"><small class="font-weight-bold">Metodo de pago<small></th>
                        <th scope="col"><small class="font-weight-bold">Monto pagado<small></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%transaction_for_confirm = false%>
                    <%@transactions.each do |transaction|%>
                        <%if transaction.status === "por confirmar"%>
                            <%transaction_for_confirm = true%>
                            <tr class="shadow-sm">
                                
                                <td><span class="d-block"><%=transaction.created_at.in_time_zone(@zona_horaria).strftime("%d/%m/%Y")%></span><small><%=transaction.created_at.in_time_zone(@zona_horaria).strftime("%H:%M:%S")%></small>
                                
                                </td>
                                <td><span class="d-block"><%=transaction.user.name%> <%=transaction.user.last_name%></span><small class="text-muted"><%=transaction.user.email%></small>
                                </td>

                                <%method = transaction.account_destinity_admin.split("-")%>
                                
                                <%case method[0]
                                    when "banks"
                                        current_user.banks.each do |bank|
                                            
                                            if bank.id.to_s === method[1]
                                                part1 = bank.number_account[0, 4]
                                                part2 = bank.number_account[-4,4]%>
                                                <td class="align-middle"><img src="/img/bancos/<%=bank.banco%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/></td>
                                                <td class="align-middle"><%=part1 + "****" + part2%></td>
                                            <%end%>
                                        <%end%>
                                    <%when "bank_brasils"
                                        current_user.bank_brasils.each do |bank|
                                            
                                            if bank.id.to_s === method[1]
                                                part1 = bank.number_agency
                                                part2 = bank.number_account[-2,2]
                                            %>
                                                <td class="align-middle"><img src="/img/bancos/<%=bank.bank%>.png" class="img-fluid avatar" alt="<%=bank.bank%>" title="<%=bank.bank%>"/></td>
                                                <td class="align-middle"><%=part1 + "****" + part2%></td>
                                            <%end%>
                                        <%end%>
                                    <%when "digital_payments"
                                        current_user.digital_payments.each do |payment|
                                            
                                            if payment.id.to_s === method[1]
                                                part1 = payment.number_phone[0, 3]
                                                part2 = payment.number_phone[-4,4]
                                                %>
                                                <td class="align-middle"><img src="/img/wallets/<%=payment.payment_method%>.png" class="img-fluid avatar" alt="<%=payment.payment_method%>" title="<%=payment.payment_method%>"/></td>
                                                <td class="align-middle"><%=part1 + "****" + part2%></td>
                                            <%end%>
                                        <%end%>
                                    <%when "mobile_payments"
                                        current_user.mobile_payments.each do |payment|
                                            
                                            if payment.id.to_s === method[1]
                                                part1 = payment.number_phone[0, 3]
                                                part2 = payment.number_phone[-4,4]
                                                %>
                                                <td class="align-middle"><img src="/img/bancos/<%=payment.bank%>.png" class="img-fluid avatar" alt="<%=@bancos[payment.bank]%>" title="<%=@bancos[payment.bank]%>"/></td>
                                                <td class="align-middle"><%=part1 + "****" + part2%></td>
                                            <%end%>
                                        <%end%>
                                    <%when "wallets"
                                        current_user.wallets.each do |wallet|
                                            
                                            if wallet.id.to_s === method[1]
                                                part1 = wallet.email[0, 4]
                                                part2 = wallet.email[-7,7]
                                                %>
                                                <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                                <td class="align-middle"><%=part1 + "****" + part2%></td>
                                            <%end%>
                                        <%end%>
                                    <%when "wallet_with_users"
                                        current_user.wallet_with_users.each do |wallet|
                                            
                                            if wallet.id.to_s === method[1]
                                                part1 = wallet.usuario[0, 3]
                                                part2 = wallet.usuario[-2,2]
                                                %>
                                                <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                                <td class="align-middle"><%=part1 + "****" + part2%></td>
                                            <%end%>
                                        <%end%>
                                <%end%>
                                <td class="align-middle"><span><%=transaction.metodo%></span></td>

                                <%=render 'detectar-moneda', {country: transaction.user.country}%>
                                <td class="align-middle"><span><%=@moneda_destinity%> <%=number_with_precision(transaction.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></span></td>
                                <td class="align-middle"><a href="/transactions/<%=transaction.id%>/edit" class="badge badge-secondary">Ver <i class="far fa-eye ml-2"></i></a></td>
                            </tr>
                        <%end%>
                    <%end%>
                    
                    </tbody>  
                </table>
            </div>
            <%unless transaction_for_confirm%>
                <div class="row justify-content-center mt-2">
                    <div class="col-12 col-sm-6 col-md-7 col-lg-6">
                        <div class="alert alert-warning text-center" role="alert">
                            :( ... No hay transacciones por confirmar<br>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>

<!-- Tabla Por Pagar -->
<div class="row mb-3">
    
    <div class="col-12">
        
        <h5 class="text-center">Envios Pendientes</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><small class="font-weight-bold">Fecha y Hora<small></th>
                        <th scope="col"><small class="font-weight-bold">Pais Destino<small></th>
                        <th scope="col"><small class="font-weight-bold">Usuario<small></th>
                        <th colspan="2"><small class="font-weight-bold">Cuenta Credito Usuario<small></th>
                        <th scope="col"><small class="font-weight-bold">Monto a pagar<small></th>
                    </tr>
                </thead>
                <tbody>
                <%transaction_for_confirm = false%>
                <%@transactions.each do |transaction|%>
                    <%if transaction.status === "envio en proceso"%>
                        <%transaction_for_confirm = true%>
                        <tr class="shadow-sm">
                            <td><span class="d-block"><%=transaction.created_at.in_time_zone(@zona_horaria).strftime("%d/%m/%Y")%></span><small><%=transaction.created_at.in_time_zone(@zona_horaria).strftime("%H:%M:%S")%></small>
                            </td>

                            <td class="align-middle"><img src="/img/paises/<%=transaction.country_destinity%>.svg" class="img-fluid avatar" alt="<%=transaction.country_destinity%>" title="<%=transaction.country_destinity%>"/></td>
                            
                            <td><span class="d-block"><%=transaction.user.name%> <%=transaction.user.last_name%></span><small class="text-muted"><%=transaction.user.email%></small>
                            </td>

                            <%method = transaction.account_destinity_usuario.split("-")%>
                            
                            <%case method[0]
                                when "banks"
                                    transaction.user.banks.each do |bank|
                                        
                                        if bank.id.to_s === method[1]
                                            part1 = bank.number_account[0, 4]
                                            part2 = bank.number_account[-4,4]%>
                                            <td class="align-middle"><img src="/img/bancos/<%=bank.banco%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/></td>
                                            <td class="align-middle"><%=part1 << "****" << part2%></td>
                                        <%end%>
                                    <%end%>
                                <%when "bank_brasils"
                                    transaction.user.bank_brasils.each do |bank|
                                        
                                        if bank.id.to_s === method[1]
                                            part1 = bank.number_agency
                                            part2 = bank.number_account[-2,2]
                                        %>
                                            <td class="align-middle"><img src="/img/bancos/<%=bank.bank%>.png" class="img-fluid avatar" alt="<%=bank.bank%>" title="<%=bank.bank%>"/></td>
                                            <td class="align-middle"></td>
                                        <%end%>
                                    <%end%>
                                <%when "digital_payments"
                                    transaction.user.digital_payments.each do |payment|
                                        
                                        if payment.id.to_s === method[1]
                                            part1 = payment.number_phone[0, 3]
                                            part2 = payment.number_phone[-4,4]
                                            %>
                                            <td class="align-middle"><img src="/img/wallets/<%=payment.payment_method%>.png" class="img-fluid avatar" alt="<%=payment.payment_method%>" title="<%=payment.payment_method%>"/></td>
                                            <td class="align-middle"><%=part1 << "****" << part2%></td>
                                        <%end%>
                                    <%end%>
                                <%when "mobile_payments"
                                    transaction.user.mobile_payments.each do |payment|
                                        
                                        if payment.id.to_s === method[1]
                                            part1 = payment.number_phone[0, 3]
                                            part2 = payment.number_phone[-4,4]
                                            %>
                                            <td class="align-middle"><img src="/img/bancos/<%=payment.bank%>.png" class="img-fluid avatar" alt="<%=payment.bank%>" title="<%=payment.bank%>"/></td>
                                            <td class="align-middle"><%=part1 << "****" << part2%></td>
                                        <%end%>
                                    <%end%>
                                <%when "wallets"
                                    transaction.user.wallets.each do |wallet|
                                        
                                        if wallet.id.to_s === method[1]
                                            part1 = wallet.email[0, 4]
                                            part2 = wallet.email[-7,7]
                                            %>
                                            <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                            <td class="align-middle"><%=part1 << "****" << part2%></td>
                                        <%end%>
                                    <%end%>
                                <%when "wallet_with_users"
                                    transaction.user.wallet_with_users.each do |wallet|
                                        
                                        if wallet.id.to_s === method[1]
                                            part1 = wallet.usuario[0, 3]
                                            part2 = wallet.usuario[-2,2]

                                            %>
                                            <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                            <td class="align-middle"><%=part1 << "****" << part2%></td>
                                        <%end%>
                                    <%end%>
                            <%end%>
                            <%=render 'detectar-moneda', {country: transaction.country_destinity}%>
                            <td class="align-middle"><%=@moneda_destinity%> <%= number_with_precision(transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></td>
                            <td class="align-middle"><a href="/transactions/<%=transaction.id%>/edit" class="badge badge-secondary">Ver <i class="far fa-eye ml-2"></i></a></td>
                        </tr>
                    <%end%>
                <%end%>
                
                </tbody>  
            </table>
        </div>
        <%unless transaction_for_confirm%>
            <div class="row justify-content-center mt-2">
                <div class="col-12 col-sm-6 col-md-7 col-lg-6">
                    <div class="alert alert-success text-center" role="alert">
                        :) ... No hay envios pendientes por hacer!!!<br>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>
<script>

      //setTimeout("location.reload();",60000);
      /*
      $(document).ready(
        function(){
            setInterval(function(){
            $('#mydiv').load('/controller/transactions/pending');
            }, 3000);
        });*/

    $(document).ready(function(){
        if(typeof refreshId === "undefined"){
            refreshId = setInterval(refrescarTablaEstadoSala, 30000);
            $.ajaxSetup({ cache: false });
        }
        
    });

    function refrescarTablaEstadoSala() {
        //$("#salastatus").css('opacity', 0.4);
        $("#salastatus").load('http://localhost:3000/pending_transactions?randval='+ Math.random() + " #resulttable", function(){
            //aquí puedes meter más código si necesitas;
           // $("#salastatus").css('opacity', 1);
        });
     }
</script>