
<div class="col-12">
    <h4>Estado de mis transacciones</h4>
    <%if @transaction_pendiente%>
    <div class="table-responsive mt-5">
        <h5 class="text-center">Pagos pendientes</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><small class="font-weight-bold">Nombre Titular<small></th>
                    <th colspan="2"><small class="font-weight-bold">Cuenta Otacar Cambios<small></th>
                    <th scope="col"><small class="font-weight-bold">Metodo de pago<small></th>
                    <th scope="col"><small class="font-weight-bold">Monto a pagar<small></th>
                    <th scope="col"><small class="font-weight-bold">Tiempo<small></th>
                </tr>
            </thead>
            <tbody>
                <tr class="shadow-sm">
                    
                    <%method = @transaction_pendiente.account_destinity_admin.split("-")%>
                    
                    <%case method[0]
                        when "banks"
                            @user_admin.banks.each do |bank|
                                
                                if bank.id.to_s === method[1]
                                    part1 = bank.number_account[0, 4]
                                    part2 = bank.number_account[-4,4]%>
                                    <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                    <td class="align-middle"><img src="/img/bancos/<%=bank.banco%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/></td>
                                    <td class="align-middle"><%=part1 << "****" << part2%></td>
                                <%end%>
                            <%end%>
                        <%when "bank_brasils"
                            @user_admin.bank_brasils.each do |bank|
                                
                                if bank.id.to_s === method[1]
                                    part1 = bank.number_account[0, 4]
                                    part2 = bank.number_account[-4,4]
                                   %>
                                    <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                    
                                    <td class="align-middle"><img src="/img/bancos/<%=bank.bank%>.png" class="img-fluid avatar" alt="<%=bank.bank%>" title="<%=bank.bank%>"/></td>
                                    <td class="align-middle"><%=part1 << "****" << part2%></td>
                                <%end%>
                            <%end%>
                        <%when "digital_payments"
                            @user_admin.digital_payments.each do |payment|
                                
                                if payment.id.to_s === method[1]
                                    part1 = payment.number_phone[0, 3]
                                    part2 = payment.number_phone[-4,4]
                                    %>
                                    <td class="align-middle"><span class=""><%=payment.name.capitalize%> <%=payment.last_name.capitalize%></span></td>
                                    <td class="align-middle"><span class="">N/A</span></td>
                                    <td class="align-middle"><img src="/img/wallets/<%=payment.payment_method%>.png" class="img-fluid avatar" alt="<%=payment.payment_method%>" title="<%=payment.payment_method%>"/></td>
                                    <td class="align-middle"><%=part1 << "****" << part2%></td>
                                <%end%>
                            <%end%>
                        <%when "mobile_payments"
                            @user_admin.mobile_payments.each do |payment|
                                
                                if payment.id.to_s === method[1]
                                    part1 = payment.number_phone[0, 3]
                                    part2 = payment.number_phone[-4,4]
                                    part3 = payment.document[0,2]
                                    part4 = payment.document[-2,2]
                                    %>
                                    <td class="align-middle"><span class="">N/A</span></td>
                                    <td class="align-middle"><span class=""><%=part3 << "***" << part4%></span></td>
                                    <td class="align-middle"><img src="/img/bancos/<%=payment.bank%>.png" class="img-fluid avatar" alt="<%=payment.bank%>" title="<%=payment.bank%>"/></td>
                                    <td class="align-middle"><%=part1 << "****" << part2%></td>
                                <%end%>
                            <%end%>
                        <%when "wallets"
                            @user_admin.wallets.each do |wallet|
                                
                                if wallet.id.to_s === method[1]
                                    part1 = wallet.email[0, 4]
                                    part2 = wallet.email[-7,7]
                                    %>
                                    <td class="align-middle"><span class=""><%=wallet.name.capitalize%> <%=wallet.last_name.capitalize%></span></td>
                                    <td class="align-middle"><span class="">N/A</span></td>
                                    <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                    <td class="align-middle"><%=part1 << "****" << part2%></td>
                                <%end%>
                            <%end%>
                        <%when "wallet_with_users"
                            @user_admin.wallets.each do |wallet|
                                
                                if wallet.id.to_s === method[1]
                                    part1 = wallet.usuario[0, 3]
                                    part2 = wallet.usuario[-2,2]
                                    %>
                                    <td class="align-middle"><span class=""><%=wallet.name.capitalize%> <%=wallet.last_name.capitalize%></span></td>
                                    <td class="align-middle"><span class="">N/A</span></td>
                                    <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                    <td class="align-middle"><%=part1 << "****" << part2%></td>
                                <%end%>
                            <%end%>
                    <%end%>
    
                    <td class="align-middle"><%=@transaction_pendiente.metodo%></td>
                    <td class="align-middle"><%=@rate.moneda%> <%= number_with_precision(@transaction_pendiente.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></td>
            
                    <td class="align-middle h6 <%if @minutos < 5%>text-danger<%else%>text-success<%end%>" id="td-time"><span id="minuto"><%=@minutos%></span>:<span id="segundo"><%=@segundos.to_s.rjust(2, '0')%></span></td>
                    <td class="align-middle d-none" id="td-vencida"><span class="badge badge-danger text-white">Vencida</span></td>

                    <td class="align-middle"><a href="/transactions/<%=@transaction_pendiente.id%>/edit" class="badge badge-secondary" id="td-ver">Ver <i class="far fa-eye ml-2"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <%end%>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><small class="font-weight-bold">Pais Destino<small></th>
                    <th scope="col"><small class="font-weight-bold">Nombre Titular<small></th>
                    <th scope="col"><small class="font-weight-bold">Nro Documento<small></th>
                    <th colspan="2"><small class="font-weight-bold">Cuenta Credito<small></th>
                    <th scope="col"><small class="font-weight-bold">Monto a recibir<small></th>
                    <th scope="col"><small class="font-weight-bold">Estado<small></th>
                </tr>
            </thead>
            <tbody>
                <%current_user.transactions.each do |transaction| %>
                    <%if  @transaction_pendiente%>
                        <%if  transaction.id != @transaction_pendiente.id%>
                            <%view_transaction = true%>
                        <%else%>
                            <%view_transaction = false%>
                        <%end%>
                    <%else%>
                        <%view_transaction = true%>
                    <%end%>

                    <%if view_transaction%>
                    <tr class="shadow-sm">
                        <td class="align-middle"><img src="/img/paises/<%=transaction.country_destinity%>.svg" class="img-fluid rounded-circle avatar" alt="<%=transaction.country_destinity%>" title="<%=transaction.country_destinity%>"/></td>
                        <%method = transaction.account_destinity_usuario.split("-")%>

                        <%if transaction.country_destinity === "Argentina" || transaction.country_destinity === "Colombia" || transaction.country_destinity === "Ecuador" || transaction.country_destinity === "Panama" || transaction.country_destinity === "USA"    
                            moneda_destinity = "$"
                        elsif transaction.country_destinity === "Brasil"
                            moneda_destinity = "R$"
                        elsif transaction.country_destinity === "Chile"
                            moneda_destinity = "CLP"
                        elsif transaction.country_destinity === "España"
                            moneda_destinity = "€"
                        elsif transaction.country_destinity === "Peru"
                            moneda_destinity = "S/"
                        elsif transaction.country_destinity === "Venezuela"
                            moneda_destinity = "Bs"  
                        end%>
                        <%case method[0]
                            when "banks"
                                current_user.banks.each do |bank|
                                    
                                    if bank.id.to_s === method[1]
                                        part1 = bank.number_account[0, 4]
                                        part2 = bank.number_account[-4,4]
                                        part3 = bank.identidy[0, 3]
                                        part4 = bank.identidy[-2,2]%>
                                        <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                        <td class="align-middle"><span class=""><%=bank.type_document%><%=part3 << "***" << part4%></span></td>
                                        <td class="align-middle"><img src="/img/bancos/<%=bank.banco%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/></td>
                                        <td class="align-middle"><%=part1 << "****" << part2%></td>
                                    <%end%>
                                <%end%>
                            <%when "bank_brasils"
                                current_user.bank_brasils.each do |bank|
                                    
                                    if bank.id.to_s === method[1]
                                        part1 = bank.number_account[0, 4]
                                        part2 = bank.number_account[-4,4]
                                        part3 = bank.cpf[0, 3]
                                        part4 = bank.cpf[-2,2]%>
                                        <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                        <td class="align-middle"><span class=""><%=part3 << "***" << part4%></span></td>
                                        <td class="align-middle"><img src="/img/bancos/<%=bank.bank%>.png" class="img-fluid avatar" alt="<%=bank.bank%>" title="<%=bank.bank%>"/></td>
                                        <td class="align-middle"><%=part1 << "****" << part2%></td>
                                    <%end%>
                                <%end%>
                            <%when "digital_payments"
                                current_user.digital_payments.each do |payment|
                                    
                                    if payment.id.to_s === method[1]
                                        part1 = payment.number_phone[0, 3]
                                        part2 = payment.number_phone[-4,4]
                                        %>
                                        <td class="align-middle"><span class=""><%=payment.name.capitalize%> <%=payment.last_name.capitalize%></span></td>
                                        <td class="align-middle"><span class="">N/A</span></td>
                                        <td class="align-middle"><img src="/img/wallets/<%=payment.payment_method%>.png" class="img-fluid avatar" alt="<%=payment.payment_method%>" title="<%=payment.payment_method%>"/></td>
                                        <td class="align-middle"><%=part1 << "****" << part2%></td>
                                    <%end%>
                                <%end%>
                            <%when "mobile_payments"
                                current_user.mobile_payments.each do |payment|
                                    
                                    if payment.id.to_s === method[1]
                                        part1 = payment.number_phone[0, 3]
                                        part2 = payment.number_phone[-4,4]
                                        part3 = payment.document[0,2]
                                        part4 = payment.document[-2,2]
                                        %>
                                        <td class="align-middle"><span class="">N/A</span></td>
                                        <td class="align-middle"><span class=""><%=part3 << "***" << part4%></span></td>
                                        <td class="align-middle"><img src="/img/bancos/<%=payment.bank%>.png" class="img-fluid avatar" alt="<%=payment.bank%>" title="<%=payment.bank%>"/></td>
                                        <td class="align-middle"><%=part1 << "****" << part2%></td>
                                    <%end%>
                                <%end%>
                            <%when "wallets"
                                current_user.wallets.each do |wallet|
                                    
                                    if wallet.id.to_s === method[1]
                                        part1 = wallet.email[0, 4]
                                        part2 = wallet.email[-7,7]
                                        %>
                                        <td class="align-middle"><span class=""><%=wallet.name.capitalize%> <%=wallet.last_name.capitalize%></span></td>
                                        <td class="align-middle"><span class="">N/A</span></td>
                                        <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                        <td class="align-middle"><%=part1 << "****" << part2%></td>
                                    <%end%>
                                <%end%>
                            <%when "wallet_with_users"
                                current_user.wallets.each do |wallet|
                                    
                                    if wallet.id.to_s === method[1]
                                        part1 = wallet.usuario[0, 3]
                                        part2 = wallet.usuario[-2,2]
                                        %>
                                        <td class="align-middle"><span class=""><%=wallet.name.capitalize%> <%=wallet.last_name.capitalize%></span></td>
                                        <td class="align-middle"><span class="">N/A</span></td>
                                        <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                        <td class="align-middle"><%=part1 << "****" << part2%></td>
                                    <%end%>
                                <%end%>
                        <%end%>
                        <td class="align-middle"><%=moneda_destinity%> <%= number_with_precision(transaction.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></td>

                        <%if transaction.status === "por confirmar"
                            badge = "badge-secondary"
                        elsif transaction.status === "envio en proceso"
                            badge = "badge-info"
                        elsif transaction.status === "realizada"
                            badge = "badge-success"
                        end%>

                        <%if transaction.status === "en proceso"%>
                            <td class="align-middle"><span class="badge badge-pill badge-danger">vencida</span></td>
                            <td class="align-middle"><a rel="nofollow" data-method="delete" href="/transactions/<%=transaction.id%>" data-confirm="Esta segur@ de eliminar esta cuenta?" class="badge badge-danger"><i class="fas fa-trash-alt"></i></a></td>
                        <%else%>
                            <td class="align-middle"><span class="badge badge-pill <%=badge%>"><%=transaction.status%></span></td>
                            <td class="align-middle"><span></span></td>
                        <%end%>
                    </tr>
                    <%end%>
                <%end%>

            </tbody>
        </table>
    </div>
</div>
<script>

    spanMin = document.getElementById("minuto");
    spanSeg = document.getElementById("segundo");
    tdTime = document.getElementById("td-time");
    tdVencida = document.getElementById("td-vencida");
    tdVer = document.getElementById("td-ver");

    function restarSegundos() {
        minutos = spanMin.innerText;
        segundos = spanSeg.innerText;
        
        minutos = parseInt(minutos);
        segundos = parseInt(segundos);

        if (minutos <= 0 && segundos <= 0 ){
            tdTime.classList.add("d-none");
            tdVencida.classList.remove("d-none");
            tdVer.classList.add("d-none");
            clearInterval(intervalo);
        }else{
            if (segundos === 0){
            minutos -= 1;
            segundos = 59;
            }else{
                segundos -= 1;
            }

            if (minutos < 5){
                tdTime.classList.remove("text-success");
                tdTime.classList.add("text-danger");
            }
            spanMin.innerHTML = minutos;

            segundos = segundos.toString();
            if (segundos.length === 1){
                spanSeg.innerHTML = "0" + segundos;
            }else{
                spanSeg.innerHTML = segundos;
            }
        }
        
    }
    
    <%if @transaction_pendiente%>
    if (typeof intervalo === "undefined"){
        intervalo = setInterval(restarSegundos, 1000);
    }
    <%end%>
    
</script>