<%=render 'partials/name-and-cod-of-banks'%>
<div class="col-12">
    <h4>Estado de mis transacciones</h4>
    <!--TRANSACCION PENDIENTE-->
    <%if @transaction_pendiente%>
    <div class="table-responsive mt-5">
        <h5 class="text-center">Pagos pendientes</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><small class="font-weight-bold">Nombre Titular<small></th>
                    <th colspan="2"><small class="font-weight-bold">Cuenta Otacar Cambios<small></th>
                    <th scope="col"><small class="font-weight-bold">Metodo de pago<small></th>
                    <th scope="col"><small class="font-weight-bold">Monto a pagar<small></th>
                    <th scope="col"><small class="font-weight-bold">Tiempo<small></th>
                </tr>
            </thead>
            <tbody>
                <tr class="shadow-sm">
                    
                    <%method = @transaction_pendiente.account_destinity_admin.split("-")%>
                    
                    <%case method[0]
                        when "banks"
                            @user_admin.banks.each do |bank|
                                
                                if bank.id.to_s === method[1]
                                    part1 = bank.number_account[0, 4]
                                    part2 = bank.number_account[-4,4]%>
                                    <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                    <td class="align-middle"><img src="/img/bancos/<%=bank.banco%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/></td>
                                    <td class="align-middle"><%=part1 + "****" + part2%></td>
                                <%end%>
                            <%end%>
                        <%when "bank_brasils"
                            @user_admin.bank_brasils.each do |bank|
                                
                                if bank.id.to_s === method[1]
                                    part1 = bank.number_agency
                                    part2 = bank.number_account[-2,2]
                                   %>
                                    <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                    
                                    <td class="align-middle"><img src="/img/bancos/<%=bank.bank%>.png" class="img-fluid avatar" alt="<%=bank.bank%>" title="<%=bank.bank%>"/></td>
                                    <td class="align-middle"><%=part1 + "****" + part2%></td>
                                <%end%>
                            <%end%>
                        <%when "digital_payments"
                            @user_admin.digital_payments.each do |payment|
                                
                                if payment.id.to_s === method[1]
                                    part1 = payment.number_phone[0, 3]
                                    part2 = payment.number_phone[-4,4]
                                    %>
                                    <td class="align-middle"><span class=""><%=payment.name.capitalize%> <%=payment.last_name.capitalize%></span></td>
                                    <td class="align-middle"><img src="/img/wallets/<%=payment.payment_method%>.png" class="img-fluid avatar" alt="<%=payment.payment_method%>" title="<%=payment.payment_method%>"/></td>
                                    <td class="align-middle"><%=part1 + "****" + part2%></td>
                                <%end%>
                            <%end%>
                        <%when "mobile_payments"
                            @user_admin.mobile_payments.each do |payment|
                                
                                if payment.id.to_s === method[1]
                                    part1 = payment.number_phone[0, 3]
                                    part2 = payment.number_phone[-4,4]
                                    %>
                                    <td class="align-middle"><span class="">N/A</span></td>
                                    <td class="align-middle"><img src="/img/bancos/<%=payment.bank%>.png" class="img-fluid avatar" alt="<%=@bancos[payment.bank]%>" title="<%=@bancos[payment.bank]%>"/></td>
                                    <td class="align-middle"><%=part1 + "****" + part2%></td>
                                <%end%>
                            <%end%>
                        <%when "wallets"
                            @user_admin.wallets.each do |wallet|
                                
                                if wallet.id.to_s === method[1]
                                    part1 = wallet.email[0, 4]
                                    part2 = wallet.email[-7,7]
                                    %>
                                    <td class="align-middle"><span class=""><%=wallet.name.capitalize%> <%=wallet.last_name.capitalize%></span></td>
                                    <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                    <td class="align-middle"><%=part1 + "****" + part2%></td>
                                <%end%>
                            <%end%>
                        <%when "wallet_with_users"
                            @user_admin.wallet_with_users.each do |wallet|
                                
                                if wallet.id.to_s === method[1]
                                    part1 = wallet.usuario[0, 3]
                                    part2 = wallet.usuario[-2,2]
                                    %>
                                    <td class="align-middle"><span class=""><%=wallet.name.capitalize%> <%=wallet.last_name.capitalize%></span></td>
                                    <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                    <td class="align-middle"><%=part1 + "****" + part2%></td>
                                <%end%>
                            <%end%>
                    <%end%>
    
                    <td class="align-middle"><%=@transaction_pendiente.metodo%></td>
                    <td class="align-middle"><%=@rate.moneda%> <%= number_with_precision(@transaction_pendiente.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></td>
            
                    <td class="align-middle h6 <%if @minutos < 5%>text-danger<%else%>text-success<%end%>" id="td-time"><span id="minuto"><%=@minutos%></span>:<span id="segundo"><%=@segundos.to_s.rjust(2, '0')%></span></td>
                    <td class="align-middle d-none" id="td-vencida"><span class="badge badge-danger text-white">Vencida</span></td>

                    <td class="align-middle"><a href="/transactions/<%=@transaction_pendiente.id%>/edit" class="badge badge-secondary" id="td-ver">Ver <i class="far fa-eye ml-2"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <%end%>
    
    <!--TRANSACCIONES EN PROCESO-->
    <div class="table-responsive">
        <h5 class="text-center mt-4">Transacciones en proceso</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><small class="font-weight-bold">Pais Destino<small></th>
                    <th scope="col"><small class="font-weight-bold">Nombre Titular<small></th>
                    <th scope="col"><small class="font-weight-bold">DNI<small></th>
                    <th colspan="2"><small class="font-weight-bold">Cuenta Credito<small></th>
                    <th scope="col"><small class="font-weight-bold">Monto a recibir<small></th>
                    <th scope="col"><small class="font-weight-bold">Estado<small></th>
                </tr>
            </thead>
            <tbody>
                <%transaction_for_confirm = false%>
                <%current_user.transactions.each do |transaction| %>
                    <%if  @transaction_pendiente.present?%>
                        <%if  transaction.id != @transaction_pendiente.id%>
                            <%view_transaction = true%>
                        <%else%>
                            <%view_transaction = false%>
                        <%end%>
                    <%else%>
                        <%view_transaction = true%>

                    <%end%>

                    <%
                    ######## TRANSACCIONES REALIZADAS   ########## 
                    if transaction.status === "realizada"
                        segundos = (Time.now.utc - transaction.created_at).to_i
                        minutos = segundos / 60
                        
                        if minutos <= 1440
                            view_transaction = true
                        else
                            view_transaction = false
                        end
                    end%>

                    <%if view_transaction%>
                        <%transaction_for_confirm = true%>
                        <tr class="shadow-sm">
                            <td class="align-middle"><img src="/img/paises/<%=transaction.country_destinity%>.svg" class="img-fluid rounded-circle avatar" alt="<%=transaction.country_destinity%>" title="<%=transaction.country_destinity%>"/></td>
                            <%method_array = transaction.account_destinity_usuario.split(",")%>
                            <%method = method_array[0].split("-")%>

                            <%=render 'detectar-moneda', {country: transaction.country_destinity}%>
                            
                            <%case method[0]
                                when "banks"
                                    current_user.banks.each do |bank|
                                        
                                        if bank.id.to_s === method[1]
                                            part1 = bank.number_account[0, 4]
                                            part2 = bank.number_account[-4,4]
                                            part3 = bank.identidy[0, 3]
                                            part4 = bank.identidy[-2,2]%>
                                            
                                            <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                            <td class="align-middle"><span class=""><%=bank.type_document%><%=part3 << "***" << part4%></span></td>
                                            <td class="align-middle"><img src="/img/bancos/<%=bank.banco%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/></td>
                                            <td class="align-middle"><%=part1 + "****" + part2%> <%if method_array.count > 1%> + <%=method_array.count-1%> Cta(s).<%end%></td>
                                        <%end%>
                                    <%end%>
                                <%when "bank_brasils"
                                    current_user.bank_brasils.each do |bank|
                                        
                                        if bank.id.to_s === method[1]
                                            part1 = bank.number_agency
                                            part2 = bank.number_account[-2,2]
                                            part3 = bank.cpf[0, 2]
                                            part4 = bank.cpf[-2,2]%>
                                            <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                            <td class="align-middle"><span class=""><%=part3 + "***" + part4%></span></td>
                                            <td class="align-middle"><img src="/img/bancos/<%=bank.bank%>.png" class="img-fluid avatar" alt="<%=bank.bank%>" title="<%=bank.bank%>"/></td>
                                            <td class="align-middle"><%=part1 + "****" + part2%> <%if method_array.count > 1%> + <%=method_array.count-1%> Cta(s).<%end%></td>
                                        <%end%>
                                    <%end%>
                                <%when "digital_payments"
                                    current_user.digital_payments.each do |payment|
                                        
                                        if payment.id.to_s === method[1]
                                            part1 = payment.number_phone[0, 3]
                                            part2 = payment.number_phone[-4,4]
                                            %>
                                            <td class="align-middle"><span class=""><%=payment.name.capitalize%> <%=payment.last_name.capitalize%></span></td>
                                            <td class="align-middle"><span class="">N/A</span></td>
                                            <td class="align-middle"><img src="/img/wallets/<%=payment.payment_method%>.png" class="img-fluid avatar" alt="<%=payment.payment_method%>" title="<%=payment.payment_method%>"/></td>
                                            <td class="align-middle"><%=part1 + "****" + part2%> <%if method_array.count > 1%> + <%=method_array.count-1%> Cta(s).<%end%></td>
                                        <%end%>
                                    <%end%>
                                <%when "mobile_payments"
                                    current_user.mobile_payments.each do |payment|
                                        
                                        if payment.id.to_s === method[1]
                                            part1 = payment.number_phone[0, 3]
                                            part2 = payment.number_phone[-4,4]
                                            part3 = payment.document[0,2]
                                            part4 = payment.document[-2,2]
                                            %>
                                            
                                            <td class="align-middle"><span class="">N/A</span></td>
                                            <td class="align-middle"><span class=""><%=part3 << "***" << part4%></span></td>
                                            <td class="align-middle"><img src="/img/bancos/<%=payment.bank%>.png" class="img-fluid avatar" alt="<%=@bancos[payment.bank]%>" title="<%=@bancos[payment.bank]%>"/></td>
                                            <td class="align-middle"><%=part1 + "****" + part2%> <%if method_array.count > 1%> + <%=method_array.count-1%> Cta(s).<%end%></td>
                                        <%end%>
                                    <%end%>
                                <%when "wallets"
                                    current_user.wallets.each do |wallet|
                                        
                                        if wallet.id.to_s === method[1]
                                            part1 = wallet.email[0, 4]
                                            part2 = wallet.email[-7,7]
                                            %>
                                            <td class="align-middle"><span class=""><%=wallet.name.capitalize%> <%=wallet.last_name.capitalize%></span></td>
                                            <td class="align-middle"><span class="">N/A</span></td>
                                            <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                            <td class="align-middle"><%=part1 + "****" + part2%> <%if method_array.count > 1%> + <%=method_array.count-1%> Cta(s).<%end%></td>
                                        <%end%>
                                    <%end%>
                                <%when "wallet_with_users"
                                    current_user.wallet_with_users.each do |wallet|
                                        
                                        if wallet.id.to_s === method[1]
                                            part1 = wallet.usuario[0, 3]
                                            part2 = wallet.usuario[-2,2]
                                            %>
                                            <script>console.log("<%=method[0]%>")</script>
                                            <td class="align-middle"><span class=""><%=wallet.name.capitalize%> <%=wallet.last_name.capitalize%></span></td>
                                            <td class="align-middle"><span class="">N/A</span></td>
                                            <td class="align-middle"><img src="/img/wallets/<%=wallet.wallet_name%>.png" class="img-fluid avatar" alt="<%=wallet.wallet_name%>" title="<%=wallet.wallet_name%>"/></td>
                                            <td class="align-middle"><%=part1 + "****" + part2%> <%if method_array.count > 1%> + <%=method_array.count-1%> Cta(s).<%end%></td>
                                        <%end%>
                                    <%end%>
                            <%end%>
                            <td class="align-middle"><%=@moneda_destinity%> <%= number_with_precision(transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></td>

                            <%eliminar = false%>
                            <%if transaction.status === "por confirmar"
                                fondo_msj = "alert-secondary"
                                badge = "badge-secondary"
                                text = "por confirmar"
                                info = "Debes esperar que sea confirmado el pago que has realizado a la cuenta de Otacar Cambios."

                                elsif transaction.status === "envio en proceso"
                                    fondo_msj = "alert-info"
                                    badge = "badge-info"
                                    text = "envio en proceso"
                                    info = "Su pago fue confirmado con exito. En los proximos minutos le sera realizado el envio de sus remesas a la cuenta que eligio."
                                elsif transaction.status === "realizada"
                                    fondo_msj = "alert-success"
                                    badge = "badge-success"
                                    text = "realizada"
                                    info = "El envio de tus remesas ya fue procesado a la cuenta que elegiste. haz click en el icono de al lado para ver los detalles de la transacción junto con el comprobante del pago a dicha cuenta."

                                elsif transaction.status === "rechazada"
                                    text = "rechazada"
                                    fondo_msj = "alert-warning"
                                    badge = "badge-warning"
                                    info = "La transacción fue rechazada por el siguiente motivo: #{transaction.motivo_rechazo}"
                                    eliminar = true;
                                elsif transaction.status === "presenta incidencia"
                                    text = "presenta incidencia"
                                    fondo_msj = "alert-danger"
                                    badge = "badge-warning"
                                    eliminar = true;  
                                elsif transaction.status === "en proceso" || transaction.status === "vencida"
                                    fondo_msj = "alert-danger"
                                    badge = "badge-danger"
                                    text = "vencida"
                                    info = "Ha vencido el tiempo para realizar el pago, si hiciste el pago pero no pudiste completar la transacción a tiempo, por favor, inicia una nueva transacción y envia el comprobante de pago a tiempo. Si al momento de iniciar la transacción encuentras que no tienes un metodo de pago que coincida con la lista de metodos de pago disponibles para recibir remesas en el pais al cual deseas enviarlas, por favor, comunicate con atencion al cliente de Otacar Cambios -cuyos datos de contacto y horarios de atención se muestran en Inicio- para la correspondiente solución del inconveniente."
                                    eliminar = true
                            end%>

                            
                            <td class="align-middle"><span role="button" class="badge badge-pill <%=badge%>" data-toggle="modal" data-target="#exampleModal<%=transaction.id%>"><%=text%></span></td>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal<%=transaction.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert <%=fondo_msj%>" role="alert">
                                                <%if transaction.status === "presenta incidencia"%>
                                                    No pudimos completar el envio de tus remesas por el siguiente error en los datos registrados en tu metodo de pago:<br><br>
                                                    <b> * <%=transaction.motivo_rechazo%>.</b><br><br> 
                                                    Por favor sigue las siguientes instrucciones:<br><br>
                                                    1.- Elimina el <a class="special-link alert-link" href="/payment_methods">metodo de pago</a> que presenta el error y agregalo de nuevo asegurandote de ingresar los datos correctamente e inicia una nueva transacción o si dispones de otro metodo de pago para recibir tus remesas en el pais que seleccionaste puedes usarlo, siempre y cuando ese metodo de pago este disponible para recibir envios de remesas por medio de Otacar Cambios.<br><br>
                                                    2.- Inicia la transaccion seleccionando la misma cuenta de Otacar Cambios a la cual hiciste el pago e ingresa el mismo monto.<br><br>
                                                    3.- Una vez iniciada la transacción y la cuenta regresiva para enviar el comprobante accede a ver la transacción y sube el comprobante del pago que ya realizaste y envialo.<br><br>
                                                    <i>Nota: Si perdiste el comprobante recuerda que puedes descargarlo accediendo en los detalles de esta transaccion o haciendo <a href="/transactions/<%=transaction.id%>" class="alert-link special-link">click aqui</a> y pulsa click derecho sobre la imagen y elige la opción guardar como (si estas ingresando desde un equipo de computo) o manten presionado tu dedo encima de la imagen para mostrar la opcion de guardar imagen (si estas accediendo desde un equipo movil)</i><br><br>
                                                    4.- Espera que la transacción sea confirmada y realizada.
                                                <%else%>
                                                    <%=info%>
                                                <%end%>
                                            </div>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <td class="align-middle"><a href="/transactions/<%=transaction.id%>" class="badge badge-secondary" id="td-ver"><i class="far fa-eye"></i></a></td>
                            <%if eliminar%>
                                <td class="align-middle"><a rel="nofollow" data-method="delete" href="/transactions/<%=transaction.id%>" data-confirm="Esta segur@ de eliminar esta transacción?" class="badge badge-danger"><i class="fas fa-trash-alt"></i></a></td> 
                            <%else%>
                            <td class="align-middle"><span></span></td>
                            <%end%>
                        </tr>
                    <%end%>
                <%end%>
            </tbody>
        </table>
    </div>
    <%unless transaction_for_confirm%>
        <div class="row justify-content-center mt-2">
            <div class="col-12 col-sm-6 col-md-7 col-lg-6">
                <div class="alert alert-success text-center" role="alert">
                    :) ... No tienes transacciones en proceso!!!<br>
                </div>
            </div>
        </div>
    <%end%>
</div>
<script>
    spanMin = document.getElementById("minuto");
    spanSeg = document.getElementById("segundo");
    tdTime = document.getElementById("td-time");
    tdVencida = document.getElementById("td-vencida");
    tdVer = document.getElementById("td-ver");

    function restarSegundos() {
        minutos = spanMin.innerText;
        segundos = spanSeg.innerText;
        
        minutos = parseInt(minutos);
        segundos = parseInt(segundos);

        if (minutos <= 0 && segundos <= 0 ){
            tdTime.classList.add("d-none");
            tdVencida.classList.remove("d-none");
            tdVer.classList.add("d-none");
            clearInterval(intervalo);
        }else{
            if (segundos === 0){
            minutos -= 1;
            segundos = 59;
            }else{
                segundos -= 1;
            }

            if (minutos < 5){
                tdTime.classList.remove("text-success");
                tdTime.classList.add("text-danger");
            }
            spanMin.innerHTML = minutos;

            segundos = segundos.toString();
            if (segundos.length === 1){
                spanSeg.innerHTML = "0" + segundos;
            }else{
                spanSeg.innerHTML = segundos;
            }
        }
        
    }
    
    <%if @transaction_pendiente%>
    if (typeof intervalo === "undefined"){
        intervalo = setInterval(restarSegundos, 1000);
    }
    <%end%>
    
</script>