
<div class="col-12">
    <h4>Estado de mis transacciones</h4>
    <div class="table-responsive mt-5">
        <h5 class="text-center">Pagos pendientes</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><small class="font-weight-bold">Nombre Titular<small></th>
                    <th colspan="2"><small class="font-weight-bold">Cuenta Otacar Cambios<small></th>
                    <th scope="col"><small class="font-weight-bold">Metodo de pago<small></th>
                    <th scope="col"><small class="font-weight-bold">Monto a pagar<small></th>
                    <th scope="col"><small class="font-weight-bold">Tiempo<small></th>
                </tr>
            </thead>
            <tbody>
                <%current_user.transactions.each do |transaction| %>
                <tr class="shadow-sm">
                    
                    <%method = transaction.account_destinity_admin.split("-")%>
                    
                    <%case method[0]
                        when "banks"
                            @user_admin.banks.each do |bank|
                                
                                if bank.id.to_s === method[1]
                                    part1 = bank.number_account[0, 4]
                                    part2 = bank.number_account[-4,4]%>
                                    <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                    <td class="align-middle"><img src="/img/bancos/<%=bank.banco%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/></td>
                                    <td class="align-middle";"><%=part1 << "****" << part2%></td>
                                <%end%>
                            <%end%>
                    <%end%>
                    <!--COMPROBAR QUE EN HEROKU LA HORA DEL SISTEMA ES ESTATICA-->
                    <td class="align-middle"><%=transaction.metodo%></td>
                    <td class="align-middle"><%= number_with_precision(transaction.monto_envio, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></td>
                    <%hora_utc = transaction.created_at%>
                    <td class="align-middle" id=""><%=hora_utc%></td>
                    <td class="align-middle text-danger"><span id="minuto"></span>:<span id="segundo"></span></td>
                    <!--<td class="align-middle"><%=hora_utc.localtime.strftime("%d/%m/%Y %H:%M:%S")%></td>-->
                    <!--<td class="align-middle"><%= I18n.l(Date.today, format: '%A, %d de %B de %Y')%></td>-->
                    
                    <!--<td class="align-middle"><%= number_with_precision(transaction.monto_a_recibir, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2) %></td>-->
                </tr>
                <%end%>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><small class="font-weight-bold">Pais Destino<small></th>
                    <th scope="col"><small class="font-weight-bold">Nombre Titular<small></th>
                    <th colspan="2"><small class="font-weight-bold">Cuenta Credito<small></th>
                    <th colspan="2"><small class="font-weight-bold">Cuenta Otacar Cambios<small></th>
                    <th scope="col"><small class="font-weight-bold">Estado<small></th>
                </tr>
            </thead>
            <tbody>
                <%current_user.transactions.each do |transaction| %>
                <tr class="shadow-sm">
                    <td class="align-middle"><img src="/img/paises/<%=transaction.country_destinity%>.svg" class="img-fluid rounded-circle avatar" alt="<%=transaction.country_destinity%>" title="<%=transaction.country_destinity%>"/></td>
                    <%method = transaction.account_destinity_usuario.split("-")%>
                    
                    <%case method[0]
                        when "banks"
                            current_user.banks.each do |bank|
                                
                                if bank.id.to_s === method[1]
                                    part1 = bank.number_account[0, 4]
                                    part2 = bank.number_account[-4,4]%>
                                    <td class="align-middle"><span class=""><%=bank.name.capitalize%> <%=bank.last_name.capitalize%></span></td>
                                    <td class="align-middle"><img src="/img/bancos/<%=bank.banco%>.png" class="img-fluid avatar" alt="<%=bank.banco%>" title="<%=bank.banco%>"/></td>
                                    <td class=""><%=part1 << "****" << part2%></td>
                                <%end%>

                            <%end%>
                    <%end%>
                </tr>
                <%end%>

            </tbody>
        </table>
    </div>
</div>
<script>
    spanMin = document.getElementById("minuto");
    spanSeg = document.getElementById("segundo");
    //spanTime = document.getElementById("time-restante");
   
    function restarHoras() {
         <%fecha_actual = Time.now%>
         <%current_user.transactions.each do |transaction| %>
            console.log("entre");
            a = new Date("<%=transaction.created_at.strftime("%B %d, %Y %H:%M:%S")%>");//fecha creacion de transaccion
            
            //b = new Date("<%=fecha_actual.utc.strftime("%B %d, %Y %H:%M:%S")%>");//fecha actual
            b = new Date();
            console.log(b);
            //La diferencia se da en milisegundos así que debes dividir entre 1000
            //var b = new Date("February 12, 2014 03:29:01");
            //var a = new Date("February 12, 2014 03:28:56");
            c = b-a;
            if (c < 1200000){
                ms_dif = 1200000 - c;
                // CONVERT MILLISECONDS TO DIGITAL CLOCK FORMAT
                function convertMillisecondsToDigitalClock(ms) {
                    hours = Math.floor(ms / 3600000), // 1 Hour = 3600000 Milliseconds
                    minutes = Math.floor((ms % 3600000) / 60000), // 1 Minutes = 60000 Milliseconds
                    seconds = Math.floor(((ms % 360000) % 60000) / 1000) // 1 Second = 1000 Milliseconds
                        return {
                        hours : hours,
                        minutes : minutes,
                        seconds : seconds,
                        clock : hours + ":" + minutes + ":" + seconds
                    };
                }
                var minutoDuration = convertMillisecondsToDigitalClock(ms_dif).minutes; // CONVERT DATE TO DIGITAL FORMAT
                var segundoDuration = convertMillisecondsToDigitalClock(ms_dif).seconds;

                spanMin.innerHTML = minutoDuration;
                if (segundoDuration.toString().length == 1){
                    spanSeg.innerHTML = "0" + segundoDuration;
                }else{
                    spanSeg.innerHTML = segundoDuration;
                }
                
            }
            
            /*
            var hora1 = ("04:29:01").split(":"),
                hora2 = ("03:28:56").split(":"),
                t1 = new Date(),
                t2 = new Date();
            
            t1.setHours(hora1[0], hora1[1], hora1[2]);
            t2.setHours(hora2[0], hora2[1], hora2[2]);*/
            
            //Aquí hago la resta
            //t1.setHours(t1.getHours() - t2.getHours(), t1.getMinutes() - t2.getMinutes(), t1.getSeconds() - t2.getSeconds());
            
            //Imprimo el resultado
            /*console.log("La diferencia es de: " + (t1.getHours() ? t1.getHours() + (t1.getHours() > 1 ? " horas" : " hora") : "") + (t1.getMinutes() ? ", " + t1.getMinutes() + (t1.getMinutes() > 1 ? " minutos" : " minuto") : "") + (t1.getSeconds() ? (t1.getHours() || t1.getMinutes() ? " y " : "") + t1.getSeconds() + (t1.getSeconds() > 1 ? " segundos" : " segundo") : ""));*/

            // document.getElementById("p101iedad").innerHTML = r;
            
        <%end%>
    }
    restarHoras();
    
    function sumarHoras(){
        valorSeg = spanSeg.innerText;
        if (valorSeg == "00"){
            valorMin = spanMin.innerText;
            valorMin = parseInt(valorMin);
            spanMin.innerHTML = valorMin - 1;
            spanSeg.innerHTML = "59";
        }else{
            valorSeg = parseInt(valorSeg);
            valorSeg -= 1;
            valorSeg = valorSeg.toString();
            if (valorSeg.length == 1){
                spanSeg.innerHTML = "0" + valorSeg;
            }else{
                spanSeg.innerHTML = valorSeg;
            }
            
        }
        
        /*
        if(parseInt(spanTime.innerText) == 0) 
            {
                clearInterval(intervalo);
            }*/
    }
    
    var intervalo = setInterval(restarHoras, 1000);
    

</script>